  
@(fromDateValue:String,toDateValue:String,user:String,dealerName:String,allCRE:List[String],allDisposition:List[String],locations:List[String])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

@helper.form(action = routes.AllCallInteractionController.getAllCallInteractions(),'enctype -> "multipart/form-data"){
<input type="hidden" name="fromDateToAss" value="@fromDateValue">
<input type="hidden" name="toDateToAss" value="@toDateValue">



<div class="panel panel-primary">

		

        <div class="panel-heading"><strong>Select Date Range To view Call Interactions</strong></div>
        <div class="panel-body"> 
  <div class="row">
  
  

   
       
       <div class="col-md-2">
   
                    <label>Select Location :</label>
                     <div class="form-group">
    		 	<select  multiple="multiple"  id="location"  name="locations[]" class="selectpicker  form-control" required> 
    					                      			    
                     	@for(data3 <- locations){                      	                         
                    
                        <option value="@data3">@data3</option>
                      				
                      	}			 	
                    	</select>	
                    	<span type="label" id="locationERR" style="color:red"></span>	
           
      </div>
       </div>
       
        <div class="col-md-2">
   
                    <label>Select CRE's :</label>
                     <div class="form-group">
    		 	<select  multiple="multiple"  id="crename"  name="crename[]" class="selectpicker  form-control" required> 
    					                      			    
                     	@for(data1 <- allCRE){                      	                         
                    
                        <option value="@data1" >@data1</option>
                      				
                      	}			 	
                    	</select>
                    	<span type="label" id="crenameERR" style="color:red"></span>		
           
      </div>
       </div>
       
      	<div class="col-md-2">
                    <label>Select Dispositions :</label>
                     <div class="form-group">
    			<select  multiple="multiple" id="all_dispositions" name="all_dispositions[]" class="selectpicker  form-control" required>
    					                       			    
                     	@for(data2 <- allDisposition){                      	                         
                    
                        <option value="@data2">@data2</option>
                      				
                      	}			 	
                      					
                	</select>
                	<span type="label" id="all_dispositionsERR" style="color:red"></span>	
                				
            </div>
             </div>
      
	 
      <div class="col-md-2">   
      <div class="form-group">
       <label>From Date :</label>    
      <input type="text" class="datepicker form-control" id="singleData" name="singleData" value="@fromDateValue" required readonly>
      <span type="label" id="FRDataERR" style="color:red"></span>
      </div>
      </div>
  
   <div class="col-md-2">   
      <div class="form-group">   
      <label>To Date :</label>    
      <input type="text" class="datepicker form-control" id="tranferData" name="tranferData" value="@toDateValue" required readonly>  
      <span type="label" id="ToDataERR" style="color:red"></span>     
     	</div>
      </div>
 </div>
 
  
      
   
 <div class="col-md-12">
  <div class="form-group pull-right">
 		 <lable>&nbsp;</lable><br/>
		<a  name="selectedFile" class="btn btn-sm btn-primary viewCalls" value="viewCalls">View Calls</a>
		     	
      </div>
  </div>
  </div>

	   </div>      

          <span type="label" id="viewCallsERR" style="color:red"></span>

<div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading"><b> List Of  Call Interactions</b>
          <button type="submit" name="downloadFile" class="btn btn-warning btn-xs pull-right "><i class="fa fa-download" aria-hidden="true"></i>&nbsp;CSV</button>
          </div>
          
          <div class="panel-body">
           
              <table class="table table-striped table-bordered table-hover dataTable_wrapper table-responsive" id="datatableCallIntraction">
					
                <thead>
                  <tr>
                  					
                                   	<th>Location</th> 
                                    <th>CRE Name</th> 
                                    <th>Call Time</th>                                   
                                    <th>Call Date</th>
                                    <th>Preferred ContactNo</th>
                                    <th>Call Type</th>
                                    <th>Customer Name</th>
                                    <th>DOB</th>
                                    <th>Office Address</th>
                                    <th>Residential Address</th>
                                    <th>Permanent Address</th>
                                    <th>Email</th>
                                    <th>Customer Category</th>
                                    <th>Customer City</th>
                                    <th>Call Duration</th>
                                    <th>Vehicle RegNo</th>
                                    <th>Chassis No</th>
                                    <th>Model</th>
                                    <th>Fuel Type</th>
                                    <th>Variant</th>
                                    <th>Last Service Date</th>
                                    <th>Last Service Type</th>
                                    <th>Next Service Date</th>
                                    <th>Next Service Type</th>
                                    <th>Forecast Logic</th>
                                    <th>Previous Disposition</th>
                                    <th>Primary Disposition</th>
                                    <th>Secondary Disposition</th>
                                    <th>Tertiary Disposition</th>
                                    <th>Service Type</th>
                                    <th>PSF Status</th>
                                    <th>Call Recording</th>
                                    
                                     
                                    
                                    
                  </tr>
                </thead>
                <tbody>
                             
                             
                </tbody>
              </table>
            
          </div>
          <!-- /.panel-body --> 
        </div>
        <!-- /.panel --> 
      </div>
      <!-- /.col-lg-12 --> 
    </div>

<script>
	$(document)
			.ready(
					function() {
					
						$('.viewCalls')
								.on(
										'click',
										function() {
											
											var fromdate = $('#singleData').val();
											var todate = $('#tranferData').val();
											var u = $("#crename").val();
											var v = $("#all_dispositions").val();
											var w = $("#location").val();
											
											if(w ==null || v ==null || u ==null || fromdate=='' || todate==''){
												document.getElementById("viewCallsERR").innerText="please provide all values";
										        return false;
											}else if(document.getElementById("viewCallsERR").value != ""){
												document.getElementById("viewCallsERR").innerText="";
												}
											var selected_cres;
											var x = document.getElementById("crename");
											var j = 0;
											for (var i = 0; i < x.options.length; i++) {
												if (x.options[i].selected == true) {
													if (j == 0)
														selected_cres = x.options[i].value;
													else
														selected_cres = selected_cres + ","
																+ x.options[i].value;

													console.log(selected_cres);
													j++;
												}
											}
											
											var selected_dispositions;
											var y = document.getElementById("all_dispositions");
											var k = 0;
											for (var a = 0; a < y.options.length; a++) {
												if (y.options[a].selected == true) {
													if (k == 0)
														selected_dispositions = y.options[a].value;
													else
														selected_dispositions = selected_dispositions
																+ "," + y.options[a].value;

													console.log(selected_dispositions);
													k++;
												}
											}
											var selected_locations;
											var p = document.getElementById("location");
											var q = 0;
											for (var r = 0; r < p.options.length; r++) {
												if (p.options[r].selected == true) {
													if (q == 0)
														selected_locations = p.options[r].value;
													else
														selected_locations = selected_locations
																+ "," + p.options[r].value;

													console.log(selected_locations);
													q++;
												}
											}
											
											//alert(fromdate);
											//alert(todate);
											var urlLink = "/CREManager/viewCallInteractionsDetails"
												
											$('#datatableCallIntraction').dataTable({
												"bDestroy" : true,
												"processing" : true,
												"serverSide" : true,
												"scrollY" : 300,
												"scrollX" : true,
												"paging" : true,
												"searching" : false,
												"ordering" : false,
											//	"ajax" : urlLink,
												"ajax": {
											        'type': 'POST',
											        'url': urlLink,
											        'data': {
											        	fromdate: ''+fromdate,
											        	todate: ''+todate,
											        	crename:''+selected_cres,
											        	dispositions:''+selected_dispositions,
											        	locations:''+selected_locations,
											           // etc..
											        },
											    }

											});
											
										}); 
						
	
					});
	
	
</script>


}
	
}