@(latestinsurance:Insurance,uniqueid:Long,dealercode:String,dealerName:String,userName:String,customerData:Customer,vehicleData:Vehicle,locationList:List[Location],userData:WyzUser,latestService:Service,smsTemplates:List[SMSTemplate],complaintOFCust:List[String],servicetypeList:List[ServiceTypes],interOfCall:CallInteraction,offersList:List[SpecialOfferMaster],typeDispo:String,dispoOut:Html,dispoInBound:Html)

@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode) {

@helper.form(action=routes.InsuranceController.postCommonCallDispositionForm()){
<link rel="stylesheet" href="@routes.Assets.at("css/cre.css")">

<input type="hidden" id="typeOfDispoPageView" name="typeOfDispoPageView" value="@typeDispo">
<input type="hidden" id="pFlag" name="pFlag" value="@{if(customerData.getPreferredAdress()!=null){customerData.getPreferredAdress().getAddressType()}}">
<input type="hidden" name="customer_Id" id="customer_Id" value="@{customerData.getId()}">
<input type="hidden" id="wyzUser_Id" name="wyzUser_Id" value="@{userData.getId()}">
<input type="hidden" id="vehical_Id" name="vehicalId" value="@{vehicleData.getVehicle_id()}">
<input type="hidden" name="uniqueidForCallSync" value="@uniqueid">
<input type="hidden" id="workshopIdis" value="@{if(latestService.getWorkshop()!=null){latestService.getWorkshop().getId()}}">
<input type="hidden" id="location_Id" value="@{userData.getLocation().getCityId()}">

<input type="hidden" name="callInteractionId" value="@{interOfCall.getId()}">

<input type="hidden" id="srdispo_id" value="@{if(interOfCall.getSrdisposition()!=null){interOfCall.getSrdisposition().getId()}}">
<input type="hidden" id="servicebook_id" value="@{if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getServiceBookedId()}}">
<input type="hidden" id="selectedFBComp" value="@{if(interOfCall.getSrdisposition()!=null){interOfCall.getSrdisposition().getComplaintOrFB_TagTo()}}">			  
<input type="hidden" id="enteredRMFB" value="@{if(interOfCall.getSrdisposition()!=null){interOfCall.getSrdisposition().getRemarksOfFB()}}">			  
<input type="hidden" id="depForFB" value="@{if(interOfCall.getSrdisposition()!=null){interOfCall.getSrdisposition().getDepartmentForFB()}}">			  
<input type="hidden" id="selectedUpselOpp" value="@{if(interOfCall.getSrdisposition()!=null){interOfCall.getSrdisposition().getUpsellCount()}}">
<input type="hidden" id="selectedModeOfCont" value="@{if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getTypeOfPickup()}}">
			

			

<div class="row">
<!-- 4User div Starts -->
	<div class="col-md-4">
			   <div id="panelDemo10" class="panel panel-info custinfoData">
							<div class="panel-heading" style="text-align:center;"><i class="fa fa-user fa-2x"></i> &nbsp;<b style="font-size:14px">
							
							@{if(customerData.getCustomerName()!=null){
							
							customerData.getCustomerName();
							
							}else{
							
							customerData.getConcatinatedName();							
														
							}}
							
							</b></div>
										<div class="panel-body">
											 <div class="row">
					  <div class="col-sm-6 phoneselect">
					  <div class="col-xs-3">
					  
					  <input type="button"  class="btn btn-primary" value="@{customerData.getPreferredPhone().getPhoneNumber()}" id="ddl_phone_no" name="ddl_phone_no" style="cursor:default ;width: 150px;margin-left: -137px;font-size: medium;">
						 </div>
			
			<button type="button" class="btn btn-success phoneinfobtn"  data-target="#addBtn" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-pencil-square-o fa-lg"></i></button>
			@if(typeDispo=="insurance"){
			<button type="button" class="btn btn-primary" id="" data-target="#InsuPremiumPopup" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="ajaxODPercentage();"><i class="fa fa-calculator fa-lg"></i></button>
			}
	<!--<button type="button" class="btn btn-success test" id="btnDnd" data-target="#DNDConfirm" data-toggle="modal" data-backdrop="static" data-keyboard="false">DND</button>-->
					
			
	  </div>
	  
	  <div class="col-sm-12" style="margin-top: 10px;">
	  <div class="col-xs-4">
	  <input type="hidden" id="isCallinitaited" name="isCallinitaited" value="NotDailed">
	  <input type="hidden" id="pref_number_callini" value="@{customerData.getPreferredPhone().getPhone_Id()}">
				<button type="button" class="btn btn-primary btn-lg" onclick ="callfunctionFromPage('@{customerData.getPreferredPhone().getPhone_Id()}','@uniqueid','@customerData.getCustomerName()');" style="border-radius: 29px;" ><i class="fa fa-phone-square fa-2x" aria-hidden="true" title="Make Call" ></i></button>
			  </div>
		  <div class="col-xs-4">
				<button type="button" class="btn btn-primary btn-lg " style="border-radius: 29px;"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></button>
			  </div>
		  <div class="col-xs-4">
				<button type="button" data-toggle="modal" data-target="#smsPopuId" data-backdrop="static" data-keyboard="false" class="btn btn-primary  btn-lg" style="border-radius: 29px;"><i class="fa fa-comment fa-2x" title="SMS" ></i></button>
			  </div>
			  
	
	  </div>
	
		  <div class="col-sm-12" style="margin-top: 10px;">
		  <div class="row">
	  <div class="col-xs-12" >
	  <span><b>Email:&nbsp; </b></span>
	  <span style="font-size:15px" id="ddl_email">
	  
	   @{if(customerData.getPreferredEmail()!=null){
	  
	  customerData.getPreferredEmail().getEmailAddress()
	  
	  }}
	  </span>
	  </div>
	 
	  </div>
		<div class="row">
	  <div class="col-xs-6">
	  <span><b>DOA:&nbsp; </b></span>
	  <span>@{customerData.getAnniversary_date()}</span>
	  </div>
	 <div class="col-xs-6" >
	  <span><b>DOB:&nbsp; </b></span>
	  <span>@{customerData.getDob()}</span>
	  </div>
	 
	  
	  </div>
		
	  </div>
	  
	   <div class="col-sm-12" style="margin-top: 10px;">
		<div class="row">
	  <div class="col-xs-12">
	  <span><b>Address:&nbsp; </b></span>
	  	  
	<span class="addressBlog" id="prefAdressUpdate">
	  @{if(customerData.getPreferredAdress()!=null){
	  
	  
	   if(customerData.getPreferredAdress().getConcatenatedAdress()!=null){
	  
	   customerData.getPreferredAdress().getConcatenatedAdress();
	  
	  }else{
	  
	  if(customerData.getConcatinatedPrefAddree()!=null){
	 
	  
	  customerData.getConcatinatedPrefAddree();
	  
	  }
	  
	 
	  
	  }
	  
	  
	 
	  }}
	  
	  
	  </span>
	  </div>
	  <div class="col-xs-12">
	  <span><b>City:&nbsp; </b></span>
	  <span >
	  
	  @{if(customerData.getPreferredAdress()!=null){
	  
	  customerData.getPreferredAdress().getCity()
	  
	  }}
	  
	  </span>
	  
	 
	  </div>
	  
	 
	  </div>
	
		
	  </div>
	  <!--button-->
	    <div class="col-sm-12">
		<div class="row">
		<div class="col-sm-6">
		@if(customerData.getSegment()!=null){
		
		@for(segmentIterate <- customerData.getSegment()){
		
	  
	  
	 <button type="button" class="btn btn-info btn-flat btn-block loya" style="cursor:default;"><b style="font-size:17px">
	 
	 @if(segmentIterate.getName()!="" && segmentIterate.getName()!=null){
	 @segmentIterate.getName()
	 }else{
	 NA
	 }
	 
	 
	 </b></button>
	  
	  
	  }
	  
	  
	  }
	 </div>
	  </div>
	
		
	  </div>
	  
	  
	  
	  
		 </div>  
					

							</div>
				  </div>
			   </div>
		  <div class="col-md-8" style="padding: 0px;">
							<div class="col-sm-4" style="padding: 0px;">
			<!-- START panel-->
					<div id="panelDemo10" class="panel panel-info">
					<div class="panel-heading"><b>VEHICLE&nbsp;INFO</b><img src="@routes.Assets.at("images/car.png")" class="pull-right" style="width:28px;"></img></div>
						<div class="panel-body" style="height: 110px;overflow: auto;padding: 5px;">
						@if(vehicleData!=null){
		
						
						
						<span><b>@{vehicleData.getVehicleRegNo()}</b></span>&nbsp;|&nbsp;<span><b>@{vehicleData.getModel()}</b></span></br>
						<span><b>@{vehicleData.getVariant()}</b>&nbsp;|&nbsp;<b>@{vehicleData.getColor()}</b></span></br>
						<span>MILEAGE(Kms):&nbsp;<b>@{vehicleData.getOdometerReading()}</b></span></br>
						<span>SALE&nbsp;DATE:&nbsp;<b class="servi" style="background-color: #f05050; color: #fff;border-radius: 3px;   font-size: 13px;border-color: transparent;padding:2px">@{vehicleData.getSaleDateStr()}</b></b></span>
										
						
				}
						</div>
									</div>
									<!-- END panel-->
							</div>
<div class="col-sm-4" style="padding: 0px;">
<!-- START panel-->
<div id="panelDemo10" class="panel panel-info">
<div class="panel-heading specialoffer"><b>NEXT&nbsp;SERVICE&nbsp;DUE</b>
<div class="wrapper">
       <div class="ribbon-wrapper-green"><div class="ribbon-green"  data-toggle="modal" data-target="#offer" data-backdrop="static" data-keyboard="false">Special <br/> Offer</div></div>
</div>
</div>
<div class="panel-body" style="height: 110px;overflow-x:hidden;padding: 5px;">
	
		
						

<span><b class="servi" style="background-color: #f05050; color: #fff;border-radius: 3px;font-size: 13px;border-color: transparent;padding:2px">@{vehicleData.getNextServicedateStr()} </b>&nbsp;|&nbsp;<b>@{vehicleData.getNextServicetype()}</b></span><br>

<span>FORECAST&nbsp;LOGIC: &nbsp;<b>@{vehicleData.getForecastLogic()}</b></span><br>
<span>AVG&nbsp;RUNNING/MONTH(Kms):&nbsp;<b>@{vehicleData.getOdometerReading()}</b> </span></br>
<span>NO&nbsp;SHOW(Months):&nbsp;<b>1</b> </span>



</div>
</div>

</div>
							
<div class="col-sm-4" style="padding: 0px;">
<!-- START panel-->
<div id="panelDemo10" class="panel panel-info">
<div class="panel-heading"><b>LAST&nbsp;SERVICE&nbsp;STATUS</b><img src="@routes.Assets.at("images/car-insurance.png")" class="pull-right" style="width:28px;"></img></div>
<div class="panel-body" style="height: 110px;overflow: auto;padding: 5px;">
@if(vehicleData!=null){
<span><b style="background-color: #f05050; color: #fff;border-radius: 3px;   font-size: 13px;border-color: transparent;padding:2px">@vehicleData.getLastServiceDate()</b> &nbsp;|&nbsp;<b>@vehicleData.getLastServiceType()</b></span><br>
<span>WORKSHOP:&nbsp;<b>
@{if(latestService.getWorkshop()!=null){
latestService.getWorkshop().getWorkshopName()
}
}
}

</b></span><br>
<span>PSF STATUS :&nbsp;<b>@latestService.getLastPSFStatus()</b></span><br>
<span>PSF DATE :&nbsp;<b></b></span>
</div>

</div>
<!-- END panel-->
</div>

<div class="col-sm-4" style="padding: 0px;">
<!-- START panel-->
<div id="panelDemo10" class="panel panel-info">
<div class="panel-heading"><b>INSURANCE</b><img src="@routes.Assets.at("images/truck.png")" class="pull-right" style="width:28px;"></img></div>
<div class="panel-body" style="height: 110px;overflow: auto;padding: 5px;">

		

<span>EXPIRES&nbsp;ON:&nbsp;<b class="servi" style="background-color: #f05050;color: #fff;border-radius: 3px;   font-size: 13px;border-color: transparent;">@{latestinsurance.getPolicyDueDateStr()}</b></span><br>
<span style="font-size:13px">NEW&nbsp;INDIA&nbsp;ASSURANCE:&nbsp; <b>@{latestinsurance.getInsuranceCompanyName()}</b></span><br>
<span style="font-size:13px">POLICY&nbsp;NO:&nbsp;<b>@{latestinsurance.getPolicyNo()}</b></span><br>
<span style="font-size:13px">PREMIUM(Rs.):&nbsp;<b>@{latestinsurance.getPremiumAmountAfterTax()}</b></span>


</div>

</div>
<!-- END panel-->
</div>
<div class="col-sm-4" style="padding: 0px;">
<!-- START panel-->
<div id="panelDemo10" class="panel panel-info">
<div class="panel-heading"><b>OTHER&nbsp;UPSELL</b><img src="@routes.Assets.at("images/warranty-certificate.png")" class="pull-right" style="width:28px;"></img></div>
<div class="panel-body" style="height: 110px;overflow: auto;padding: 5px;">
<span>EW&nbsp;DUE:&nbsp;<b class="servi" style="background-color: #f05050;color: #fff;border-radius: 3px; font-size: 13px;
border-color: transparent;">@{vehicleData.getExtendedWarentyDue()}</b></span><br>
<span>WARRANTY&nbsp;DUE:&nbsp;<b class="servi" style="font-size: 13px;"></b></span><br>
<span style="font-size: 13px;">EXCHANGE:&nbsp;<b>@{vehicleData.getExchange()}</b></span></br>
<span>&nbsp;</span>


</div>

</div>
<!-- END panel-->
</div>
<div class="col-sm-4" style="padding: 0px;">
<!-- START panel-->
<div id="panelDemo10" class="panel panel-info">
<div class="panel-heading"><b>COMPLAINTS</b><img src="@routes.Assets.at("images/businessman.png")" class="pull-right" style="width:28px;"></img></div>
<div class="panel-body" style="height: 110px;overflow: auto;padding: 5px;">
<span>OPEN:<b class="servi" style="background-color: #f05050; margin-left: 15px; color: #fff;border-radius: 3px; font-size: 17px;    border-color: transparent;">@complaintOFCust.get(0)</b></span><br>
<span> CLOSED:<b class="servi" style="background-color: #27c24c; color: #fff;border-radius: 3px;     font-size: 13px;
border-color: transparent;">@complaintOFCust.get(1)</b></span><br>
<span style="font-size: 14PX;">LAST&nbsp;RAISED&nbsp;ON:&nbsp;<b>@complaintOFCust.get(2)</b></span><br>
<span style="font-size: 13px;">RESOLVED&nbsp;BY:&nbsp;<b>@complaintOFCust.get(3)</b>&nbsp;</span>

</div>

</div>
<!-- END panel-->
</div>
			</div>
   <div class="modal fade" id="addBtn" role="dialog">
								<div class="modal-dialog modal-lg">

									<!-- Modal content-->
									<div class="modal-content">
										<div class="modal-header" style="padding:1px;text-align:center;color:red;">
											<button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
											<h5 class="modal-title">UPDATE CUSTOMER INFORMATION</h5>
										</div>
										
								 <div class="modal-body">
					 <div class="row">
						  <div class="col-sm-12" style="margin-top: 5px;">
								<div class="col-sm-3">
								  <lable><b>Owner:</b></lable>
								  <input type="text" class="form-control textOnlyAccepted" id="customerNameEdit" value="@customerData.getCustomerName()" name="" readonly>
								  <br/>
								</div>
								
								<div class="col-sm-3">
								  <lable><b>User/Driver:</b></lable>
								  <input type="text" class="form-control textOnlyAccepted" id="driverNameEdit" value="@customerData.getUserDriver()" name="">
								  <br/>
								</div>
								
								
							  </div>
							  </br>
							  <div class="col-sm-12">
								<div class="col-sm-3">
								  <lable><b>Permanent Address:</b></lable>
								  <textarea class="form-control permanentAddress" rows="2" id="permanentAddress" name="permanentAddress" readonly >@{if(customerData.getPermanentAddressData()!=null){
	  
	  customerData.getPermanentAddressData().getAddressLine1();
	  
	  }}_
	  @{if(customerData.getPermanentAddressData()!=null){
	  
	  customerData.getPermanentAddressData().getAddressLine2();
	  
	  }}_
	  @{if(customerData.getPermanentAddressData()!=null){
	  
	  customerData.getPermanentAddressData().getAddressLine3();
	  
	  }}</textarea>
								
								</div>
								<div class="col-sm-1">
								  <br/>
								  <button type="button" class="btn btn-success peditAddressmodal" data-toggle="modal" data-target="#driver_modal1" style="margin-top: 5px;">Add</button>
								</div>
								<div class="col-md-3">
								  <lable><b>Residence Address:</b></lable>
								  <textarea class="form-control" rows="2" id="residenceAddress" name="residenceAddress" readonly>@{if(customerData.getResidenceAddressData()!=null){
	  
	  customerData.getResidenceAddressData().getAddressLine1();
	  
	  }}_
	  @{if(customerData.getResidenceAddressData()!=null){
	  
	  customerData.getResidenceAddressData().getAddressLine2();
	  
	  }}_
	  @{if(customerData.getResidenceAddressData()!=null){
	  
	  customerData.getResidenceAddressData().getAddressLine3();
	  
	  }}</textarea>
								</div>
								<div class="col-md-1">
								  <br/>
								  <button type="button" class="btn btn-success reditAddressmodal"  data-toggle="modal" data-target="#driver_modal2">Add</button>
								</div>
								<div class="col-md-3">
								  <lable><b>Office Address:</b></lable>
								  <textarea class="form-control" rows="2" id="officeAddress" name="officeAddress" readonly >@{if(customerData.getOfficeAddressData()!=null){
	  
	  customerData.getOfficeAddressData().getAddressLine1();
	  
	  }}_
	  @{if(customerData.getOfficeAddressData()!=null){
	  
	  customerData.getOfficeAddressData().getAddressLine2();
	  
	  }}_
	  @{if(customerData.getOfficeAddressData()!=null){
	  
	  customerData.getOfficeAddressData().getAddressLine3();
	  
	  }}</textarea>
								</div>
								<div class="col-md-1">
								  <br/>
								  <button type="button" class="btn btn-success oeditAddressmodal" data-toggle="modal" data-target="#driver_modal3" >Add</button>
								</div>
							  </div>
							  <hr>
							  <div class="col-sm-12">
								<h5 style="color:Red;"><b>PREFERRED COMMUNICATION ADDRESS</b></h5>
								<div class="col-md-4">
								  <input type="radio"  id="checkbox1" name="ADDRESS" value="0">
								  Permanent Address</div>
								<div class="col-md-4">
								  <input type="radio"  id="checkbox2" name="ADDRESS" value="2" >
								  Residence Address</div>
								<div class="col-md-4">
								  <input type="radio"  id="checkbox3" name="ADDRESS" value="1" >
								  Office Address</div>
							  </div>
							   <hr>
							  <div class="col-sm-12" style="margin-top: 5px;">
								<div class="col-sm-3">
								  <lable><b>Preferred Email:</b></lable>
								  <select class="form-control" id="email" name="email">
									@for( emailList <- customerData.getEmails()){
											
									@{if(emailList.isIsPreferredEmail() ==true)
									
									<option value={emailList.getEmailAddress()} selected="selected">{emailList.getEmailAddress()}</option>
									else 
										<option value={emailList.getEmailAddress()} >{emailList.getEmailAddress()}</option>
										}
									}						
								 </select>
								</div>
								<div class="col-xs-1">
								  <br/>
								  <button type="button" class="btn btn-success oeditEmailmodal" data-toggle="modal" data-target="#driver_modal4" style="margin-top: 5px;">Add</button>
								</div>
								<div class="col-sm-3">
								  <lable><b>Date OF Birth:</b></lable>
								  <input type="text" class="datepicMYDropDown form-control" id="dob" value="@{customerData.getDob()}" name="dob">
								</div>
								<div class="col-md-3">
								  <lable><b>Date of Anniversary</b></lable>
								  <input type="text" class="datepicMYDropDown form-control" id="anniversary_date" value="@{customerData.getAnniversary_date()}" name="anniversary_date">
								</div>
							  </div>
							   <hr>
							  <div class="col-sm-12" style="margin-top: 5px;">
								<h5 style="color:Red;"><b>MANAGE PREFERENCES</b></h5>
								<div class="col-sm-3">
								  <lable><b>Preferred Contact #:</b></lable>
								  <select class="form-control" id="preffered_contact_num" name="preffered_contact_num">
									@for( phoneList <- customerData.getPhones()){
											
									@{if(phoneList.isIsPreferredPhone ==true)
									
									<option value={phoneList.phone_Id.toString()} selected="selected">{phoneList.getPhoneNumber()}</option>
									else 
										<option value={phoneList.phone_Id.toString()} >{phoneList.getPhoneNumber()}</option>
										}
									}						
								 </select>
								  
								</div>
								<div class="col-sm-1">
								<br />
								 <input type="button"  class="btn btn-success"  id="tanniversary_edit" data-toggle="modal" data-target="#myModalAddPhone" value="Add">
										   </div>
								<div class="col-md-3">
								  <lable><b>Preferred Mode of Contact:</b></lable>
								  <div class="col-sm-12" id="modeOfCon"  style="display:none">
									<select class="form-control" id="preffered_mode_contact" name="preffered_mode_contact" multiple="multiple" >
									  <option value="Email">Email</option>
									  <option value="Phone">Phone</option>
									  <option value="SMS">SMS</option>
									</select>
								  </div>
								  <input type="text" class="form-control" id="tpreffered_mode_contact"  value="@{customerData.getMode_of_contact()}">
								</div>
								<div class="col-md-1">
								<br />
								  <input type="button"  class="btn btn-success"  id="tpreffered_mode_contact_edit" value="Add">
								  
								</div>
								<div class="col-md-3">
								  <lable><b>Preferred Day to Contact:</b></lable>
								  <div class="col-sm-12" id="daysWeek" style="display:none">
									<select class="form-control" id="preffered_day_contact" name="preffered_day_contact" multiple="multiple">
									  <option value="Sunday">Sunday</option>
									  <option value="Monday">Monday</option>
									  <option value="Tuesday">Tuesday</option>
									  <option value="Wednesday">Wednesday</option>
									  <option value="Thursday">Thursday</option>
									  <option value="Friday">Friday</option>
									  <option value="Saturday">Saturday</option>
									</select>
								  </div>
								  <input type="text" class="form-control" id="tpreffered_day_contact"  value="@{customerData.getPreferred_day()}" >
								</div>
								<div class="col-md-1">
								<br />
								  <input type="button"  class="btn btn-success"  id="tpreffered_day_contact_edit" value="Add">
								</div>
							  </div>
							  <br>
							   <hr>
							  <div class="col-sm-12" style="margin-top: 5px;">
								<div class="col-sm-3">
								  <lable><b>Preferred Time Of Contact(Start Time):</b></lable>
								  <input type="text" class="form-control single-input" id="dateStarttime" name="dateStarttime" value="@{customerData.getPreferred_time_start()}">
								</div>
								<div class="col-md-3">
								  <lable><b>Preferred Time Of Contact(End Time):</b></lable>
								  <input type="text" class="form-control single-input" id="dateEndtime" name="dateEndtime" value="@{customerData.getPreferred_time_end()}">
								</div>
								<div class="col-sm-6">
								  <lable><b>Comments:(250 Characters Only)</b></lable>
								  <textarea type="text" class="form-control" id="custEditComment" rows="2" maxlength="250" name="custEditComment" value="@{customerData.getComments()}">@{customerData.getComments()}</textarea>
								</div>
							  </div>
							 
							</div>
				</div>

										<div class="modal-footer">
											<button type="button" id="pn_save" class="btn btn-success" onClick="ajaxCallForAddcustomerinfo();" data-dismiss="modal">Save</button>

										</div>
									</div>

								</div>
							</div>
		  
			  
		  <!-- 4User Div End -->
   


</div>

<!--Shasi dispositio-->
<div class="row">
<div class="col-lg-12 disposit">
<div class="panel panel-primary">
<div class="panel-heading " align="center"; style="background-color:#1797be;" ><img src="@routes.Assets.at("images/phone1.png")" style="width:17px"/>&nbsp;<b>DISPOSITION FORM</b> 
</div>
<div class="panel-body disposit">
<div class="row animated  bounceInRight">

<div class="col-sm-12" id="SMRInteractionFirst" >
		  <label for=""><h4>Select The Mode of SMR Interaction :-&nbsp;&nbsp;</h4></label>
			 
			  <div class="radio-inline">
				<label>
				  <input type="radio" name="InOutCallName" value="OutCall" checked id="OutGoingID">
				  Outbound Call </label>
			  </div>
			  <div class="radio-inline">
				<label>
				  <input type="radio" name="InOutCallName" value="InCall" id="" >
				  Inbound Call</label>
			  </div>
		</div>
		<div>
		
		@dispoInBound
		
		 </div>
	  <div class="col-md-12 animated  bounceInRight" id="OutBoundDiv" style="display:none;">
		<div class="form-group">
		<div id="DidYouTalkDiv">
		  <label for=""><b>Did you talk to the customer ?</b></label>
		  <br>
		  <div class="radio-inline">
			<label>
			  <input type="radio" name="typeOfDisposition" value="Contact" id="SpeakYes">
			  Yes </label>
		  </div>
		  <div class="radio-inline">
			<label>
			  <input type="radio" name="typeOfDisposition" value="NonContact" id="SpeakNo" >
			  No</label>
		  </div>
		 </div>
		  <!--No-->
		  
		  <div style="display:none;" class="animated  bounceInRight" id="NotSpeachDiv"><br>
			<label for=""><b>Choose reason for not being able to talk to customer:</b></label>
			<br>
			<div class="radio">
			  <label>
				<input type="radio" name="disposition" value="Ringing No response" id="">
				Ringing No response </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="disposition" value="Busy" id="" >
				Busy</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="disposition" value="Switched Off / Unreachable" id="" >
				Switched Off / Unreachable</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="disposition" value="Invalid Number" id="" >
				Invalid Number</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="disposition" value="NoOther" id="NOOthersCheck" >
				Other</label>
			</div>
			
			
			<div class="row animated  bounceInRight" style="display:none;"  id="NoOthers">
			<div class="col-md-3">
			<label><b>Please Specify</b></label>
			<textarea type="text" class="form-control NoOthersText1" rows="1" name="other"></textarea>
			</div>
			</div>
			<div class="pull-right">
					<button type="button" class="btn btn-info" id="DidUTalkNO" style="background-color:#1797BE">Back</button>						
					<button type="submit" class="btn btn-info" name="typeOfsubmit" style="background-color:#1797BE" id="nonContactValidation" value="nonContact">Submit</button>
			</div>
		  </div>
		  <!--Book My Service-->
		  <div style="display:none;" class="animated  bounceInRight whatDidCustSayDiv" id="WhatdidtheCustomersayDIV" >
		  <div id="whatDidCustSayDiv">
			<label for=""><b>What did the customer say?</b></label>
			<br>
			
		@if(typeDispo=="insurance"){	
			
			<div class="radio-inline">
			  <label>
				<input type="radio" name="disposition" value="Book Appointment" id="BookMyAppointment" >
				Book Appointment </label>
			</div>
			
			}else{
			
			
			<div class="radio-inline">
			  <label>
				<input type="radio" name="disposition" value="Book My Service" id="BookMyService" >
				Book My Service </label>
			</div>
		}
			<div class="radio-inline">
			  <label>
				<input type="radio" name="disposition" value="Call Me Later" id="CallMeLatter" >
				Call Me Later</label>
			</div>
		@if(typeDispo=="insurance"){	
			<div class="radio-inline">
			  <label>
				<input type="radio" name="disposition" value="Renewal Not Required" id="RenewalNotRequired" >
				Renewal Not Required</label>
			</div>
			
		}else{	
			<div class="radio-inline">
			  <label>
				<input type="radio" name="disposition" value="Service Not Required" id="ServiceNotRequired" >
				Service Not Required</label>
			</div>
			
			}
			</div>
		  </div>
		  <div>

		  
		   @dispoOut 		  
		
		  <!--call me latter-->
		 </div>
		  </div>
		
		  </div>
		 </div>
		 </div>
		 </div>
		 </div>
		 <!-----------INTERACTIONH HISTORY--------->
		 <div class="col-lg-12">
	<div class="panel panel-primary">
	<div class="panel-heading " align="center"; style="background-color:#1797be;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne3"><img src="@routes.Assets.at("images/INTERACTION HISTORY.png")" style="width:17px"/>&nbsp;<b>INTERACTION HISTORY</b> 
</div>

  <div id="collapseOne3" class="panel-collapse collapse in">
		<div class="panel-body">
	  <div class="panel with-nav-tabs">
			<div class="panel-heading clearfix">
		  <div>
				<ul class="nav nav-tabs">
			  <li class="expand"><a href="#tab1primary" data-toggle="tab" onclick="callHistoryByVehicle();">PREVIOUS COMMENTS</a></li>
			  <li class="expand"><a href="#tab2primary" data-toggle="tab" onclick="callHistoryByVehicle();">DISPOSITIONS</a></li>
			  <li class="expand"><a href="#tab3primary" data-toggle="tab" onclick="smsHistoryOfUser();">SMS</a></li>
			  <li class="expand"><a href="#tab4primary" data-toggle="tab">E-Mail</a></li>
			  <li class="expand"><a href="#tab5primary" data-toggle="tab" onclick="complaintsOFVehicle();">COMPLAINTS</a></li>
			 @if(typeDispo=="insurance"){ 
			  <li class="expand"><a href="#tab6primary" data-toggle="tab" onclick="insuranceHistoryOfCustomer();">APPOINTMENT HISTORY</a></li>
			 } 
			</ul>
			  </div>
		</div>
			<div class="panel-body">
		  <div class="tab-content">
				<div class="tab-pane fade in active" id="tab1primary">
			  <div class="row">
					<div class="col-sm-12">
				  <div class="form-group">
						<table class="table table-bordered table-responsive table-user-information" id="previousCommentTable">
					  <tbody>
							
						</tbody>
					  
					</table>
					  </div>
				</div>
				  </div>
			</div>
				<div class="tab-pane fade" id="tab2primary">
			  <div class="row">
					<div class="col-sm-12">
				  <div class="form-group">
						<table class="table table-bordered table-responsive" id="dispositionHistory">
					  <thead>
							<tr>
						  <th>Date</th>
						  <th>Time</th>
						  <th>Project</th>
						  <th>Disposition</th>
						  <th>Next FollowUpDate</th>
						  <th>Next FollowUpTime</th>
						  <th>CRE ID</th>
						 
						</tr>
						  </thead>
					  <tbody>
						  
					 
						</tbody>
					  
					</table>
					  </div>
				</div>
				  </div>
			</div>
			<div class="tab-pane fade" id="tab3primary">
			  <div class="row">
				<div class="col-sm-12">
				
						<table class="table table-bordered table-responsive" id="sms_history">
						 <thead>
							<tr>
						  <th>DATE</th>
						  <th>TIME</th>
						  <th>SOURCE AUTO/CRE ID</th>
						  <th>SCENARIO</th>
						  <th>MESSAGE</th>
						  <th>STATUS</th>
						 
						</tr>
						  </thead>
					  <tbody>
							
						</tbody>
					  
					</table>
					
				</div>
				
				</div>
			</div>
			<div class="tab-pane fade" id="tab4primary">
			  <div class="row">
					<div class="col-sm-12">
				  <div class="form-group">
						<table class="table table-bordered table-responsive table-user-information">
					  <tbody>
							
						</tbody>
					  
					</table>
					  </div>
				</div>
				  </div>
			</div>
			<div class="tab-pane fade" id="tab5primary">
			  <div class="row">
					<div class="col-sm-12">
				  <div class="form-group">
						<table class="table table-bordered table-responsive table-user-information" id="complaint_history">
					  <thead>
							<tr>
						  <th>COMPLAINT No.</th>
						  <th>ISSUE DATE</th>
						  <th>SOURCE</th>
						  <th>FUNCTION</th>
						  <th>CATEGORY</th>
						  <th>STATUS</th>
						 
						</tr>
						  </thead>
					  <tbody>
							
						</tbody>
					  
					</table>
					  </div>
				</div>
				  </div>
			</div>
			
			<div class="tab-pane fade" id="tab6primary">
			  <div class="row">
					<div class="col-sm-12">
				  <div class="form-group">
						<table class="table table-bordered table-responsive table-user-information" id="insurance_history">
					  <thead>
							<tr>
						  <th>INSURANCE COMPANY</th>
						  <th>IDV</th>
						  <th>OD %</th>
						  <th>OD (Rs.)</th>
						  <th>NCB %</th>
						  <th>NCB (Rs.)</th>
						  <th>DISCOUNT%</th>
						  <th>OD PREMIUM</th>
						  <th>LIABILITY PREMIUM</th>
						  <th>ADD-ON PREMIUM</th>
						  <th>PREMIUM (Before Tax)</th>
						  <th>TAX %</th>
						  <th>PREMIUM (After Tax)</th>
						</tr>
						  </thead>
					  <tbody>
							
						</tbody>
					  
					</table>
					  </div>
				</div>
				  </div>
			</div>
			  </div>
		</div>
		  </div>
	</div>
	  </div>
</div>
  </div>
		 </div>
		






		
		




<!--sashi model-->
<div class="modal fade" id="driver_modal1" role="dialog">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
		<h4 class="modal-title">Permanent Address</h4>
	  </div>
	  <div class="modal-body">
		<table>
		  <tr>
			<td>Address Line1:</td>
			<td><textarea class="form-control paddr_line1" rows="1"   placeholder="Please enter Company Name/Flat No & Building name." ></textarea>
			  <br/></td>
		 
			<td>Address Line2:</td>
			<td><textarea class="form-control paddr_line2" rows="1"   placeholder="Please enter Road number/ Road name."></textarea>
			  <br/></td>
			  <td>Address Line3:</td>
			<td><textarea class="form-control paddr_line3" rows="1"  placeholder="Please enter Road number/ Road name."></textarea>
			  <br/></td>
		  </tr>
		  <tr>
			<td>City</td>
			<td><input type="text" class="form-control paddr_line4 textOnlyAccepted" rows="1" value="@{if( customerData.getPermanentAddressData()!=null){ customerData.getPermanentAddressData().getCity()} }"  placeholder="Please enter City" /><br/></td>
		  
			<td>State</td>
			<td><input type="text"  class="form-control paddr_line5 textOnlyAccepted" rows="1"  value="@{if( customerData.getPermanentAddressData()!=null){ customerData.getPermanentAddressData().getState()} }" placeholder="Please enter State"/><br/></td>
		  </tr>

		  <tr>
			<td>PinCode</td>			
			<td><input type="text"  class="form-control paddr_line6 numberOnly" maxlength="6" rows="1" value="@{if( customerData.getPermanentAddressData()!=null){ customerData.getPermanentAddressData().getPincode()} }" placeholder="Please enter PinCode"/><br/></td>
		  
			<td>Country</td>
			<td><input type="text"  class="form-control paddr_line7" rows="1" value="India"  placeholder="Please enter Country" readonly/><br/></td>
		  </tr>
		</table>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-primary paddr_submit" data-dismiss="modal">Submit</button>
	  </div>
	</div>
  </div>
</div>
<div class="modal fade" id="driver_modal2" role="dialog">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
		<h4 class="modal-title">Residence Address</h4>
	  </div>
	  <div class="modal-body">
		<table>
		  <tr>
			<td>Address Line1:</td>
			<td><textarea class="form-control raddr_line1" rows="1"  name="raddressline1" placeholder="Please enter Company Name/Flat No & Building name." ></textarea>
			  <br/></td>
		
			<td>Address Line2:</td>
			<td><textarea class="form-control raddr_line2" rows="1"  name="raddressline2" placeholder="Please enter Road number/ Road name."></textarea>
			  <br/></td>
			  
			 <td>Address Line3:</td>
			<td><textarea class="form-control raddr_line3" rows="1"  name="raddressline3" placeholder="Please enter Road number/ Road name."></textarea>
			  <br/></td> 
		  </tr>
		   <tr>
			<td>City</td>
			<td><input type="text" class="form-control raddr_line4 textOnlyAccepted" rows="1"   value="@{if( customerData.getResidenceAddressData()!=null){ customerData.getResidenceAddressData().getCity()} }" placeholder="Please enter City" /><br/></td>
		  
			<td>State</td>
			<td><input type="text"  class="form-control raddr_line5 textOnlyAccepted" rows="1"  value="@{if( customerData.getResidenceAddressData()!=null){ customerData.getResidenceAddressData().getState()} }" placeholder="Please enter State"/><br/></td>
		  </tr>

		  <tr>
			<td>PinCode</td>
			<td><input type="text"  class="form-control raddr_line6 numberOnly" rows="1" maxlength="6" value="@{if( customerData.getResidenceAddressData()!=null){ customerData.getResidenceAddressData().getPincode()} }"placeholder="Please enter PinCode"/><br/></td>
		  
			<td>Country</td>
			<td><input type="text"  class="form-control raddr_line7" rows="1" value="India" placeholder="Please enter Country" readonly/><br/></td>
		  </tr>
		
		</table>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-primary raddr_submit" data-dismiss="modal">Submit</button>
	  </div>
	</div>
  </div>
</div>
<div class="modal fade" id="driver_modal3" role="dialog">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
		<h4 class="modal-title">Office Address</h4>
	  </div>
	  <div class="modal-body">
		<table>
		  <tr>
			<td>Address Line1:</td>
			<td><textarea class="form-control oaddr_line1" rows="2"  placeholder="Please enter Company Name/Flat No & Building name." name="oaddressline1">@{if( customerData.getOfficeAddressData()!=null){ customerData.getOfficeAddressData().getAddressLine1()} }</textarea>
			  <br/></td>
		  
			<td>Address Line2:</td>
			<td><textarea class="form-control oaddr_line2" rows="2" placeholder="Please enter Road number/ Road name." name="oaddressline2">@{if( customerData.getOfficeAddressData()!=null){ customerData.getOfficeAddressData().getAddressLine2()} }</textarea>
			  <br/></td>
			<td>Address Line3:</td>
			<td><textarea class="form-control oaddr_line3" rows="2" placeholder="Please enter Road number/ Road name." name="oaddressline3">@{if( customerData.getOfficeAddressData()!=null){ customerData.getOfficeAddressData().getAddressLine3()} }</textarea>
			  <br/></td>
		  </tr>
		  <tr>
			<td>City</td>
			<td><input type="text" class="form-control oaddr_line7 textOnlyAccepted" id="paddr_line7" rows="1"  name="paddressline3" value="@{if( customerData.getOfficeAddressData()!=null){ customerData.getOfficeAddressData().getCity()} }"placeholder="Please enter City" /><br/></td>
		  
			<td>State</td>
			<td><input type="text"  class="form-control oaddr_line4 textOnlyAccepted" id="paddr_line4" rows="1"  name="paddressline4" value="@{if( customerData.getOfficeAddressData()!=null){ customerData.getOfficeAddressData().getState()} }" placeholder="Please enter State" /><br/></td>
		  </tr>

		  <tr>
			<td>PinCode</td>
			<td><input type="text"  class="form-control oaddr_line5 numberOnly" maxlength="6" id="paddr_line5" rows="1" value="@{if( customerData.getOfficeAddressData()!=null){ customerData.getOfficeAddressData().getPincode()} }" name="paddressline5" placeholder="Please enter PinCode"/><br/></td>
		  
			<td>Country</td>
			<td><input type="text"  class="form-control oaddr_line6" id="paddr_line6" rows="1" value="India" name="paddressline6" placeholder="Please enter Country" readonly/><br/></td>
		  </tr>
		</table>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-primary oaddr_submit" data-dismiss="modal">Submit</button>
	  </div>
	</div>
  </div>
</div>

<div class="modal fade" id="driver_modal4" role="dialog">
    <div class="modal-dialog modal-xs">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
          <h4 class="modal-title">ADD EMAIL</h4>
        </div>
		
		
        <div class="modal-body">
		<div class="row">
        <div class="col-xs-12">
        <div class="col-xs-4">
        <input type="text" name="myEmailNum" class="form-control email"  maxlength="30" min="5" max="30" id="myEmailNum" >
      </div>
        </div>
        </div>
		</div>
        <div class="modal-footer">
   <button type="button" class="btn btn-default" data-dismiss="modal" id="saveEmailCust">SAVE</button>
        </div>
      </div>
      
    </div>
  </div>		  
<div id="smallModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title">Message</h4>
	  </div>
	  <div class="modal-body">
		<p>This feature is not enabled for @userName.<br>
		  Contact Administrator.</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
	  </div>
	</div>
  </div>
</div>
<div id="smallModal1" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title">E-Mail</h4>
	  </div>
	  <div class="modal-body">
		<p>This feature is not enabled for @userName .<br>
		  Contact Administrator.</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
	  </div>
	</div>
  </div>
</div>
<div class="modal fade" id="sa_modal" role="dialog">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
		<h4 class="modal-title">CHECK SMR LOAD</h4>
		<br>
		<h5 class="modal-title">Auto Service</h5>
	  </div>
	  <div class="modal-body">
		<table border="1" class="table table-striped table-bordered table-hover" id="dataTables-example60">
		  <thead>
			<tr>
			  
			  <th>DATE</th>
			  <th>SMR BOOKED</th>
			  <th>CAPACITY</th>
			</tr>
		  </thead>
		  <tbody>    
			
			
			
		  </tbody>
		</table>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>
<div class="modal fade" id="sa_modal1" role="dialog">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
		<h4 class="modal-title">CHECK DRIVER'S SCHEDULE</h4>
		<br>
		<h5 class="modal-title">Auto Service</h5>
	  </div>
	  <div class="modal-body">
		<table border="1"  class="table table-striped table-bordered table-hover" id="">
		  <thead>
			<tr>
			  <th>PICK-UP-BY</th>
			  <th>FROM TIME</th>
			  <th>TO TIME</th>
			  
			</tr>
		  </thead>
		  <tbody>
			
			
		  </tbody>
		</table>
	  </div>
	  <div class="row">
		<div class="col-md-10 col-md-offset-1" style="background-color: #ddd;">
		 
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>
<div class="modal fade" id="workshop_modal" role="dialog">
  <div class="modal-dialog modal-md">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
		<h4 class="modal-title">Workshop Details</h4>
	  </div>
	  <div class="modal-body">
		<table class="table table-striped table-bordered table-hover" id="">
		  <thead>
			<tr>
			  <th>Workshop Name</th>
			  <th>Service Booked Date</th>
			</tr>
		  </thead>
		  <tbody>
		  </tbody>
		</table>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  </div>
	</div>
  </div>
</div>


<!-- Address Popup Model -->
		   <div class="modal fade" id="AddNewAddressPopup" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
  <h4 class="modal-title"><b style="text-align:center; color:Red;">Add New Address</b></h4>
</div>
<div class="modal-body">
	 
		  <div class="row" id="AddAddressDiv">
		   <div class="col-md-12">
			<div class="col-md-6">
			  <div class="form-group">
				<label for="comments"><b>Add Address1<b></label>
				<textarea class="form-control" rows="1" id="AddAddress1MMS" name="address1New" ></textarea>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				<label for="comments"><b>Add Address2<b></label>
				<textarea class="form-control" rows="1" id="AddAddress2MMS" name="address2New" ></textarea>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				<label for="comments"><b>City<b></label>
				<select class="form-control" name="cityNew" placeholder="City" id="cityInputPopup3">	
                                        <option value='select'>--Select City--</option>
                                        @for(location_list<-locationList){
                                        <option value="@location_list.getName()">@location_list.getName()</option>
                                        }
                                    </select>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				<label for="comments"><b>State<b></label>
				<select class="form-control" name="stateNew" id="AddAddrMMSState">
				  <option value="0">--Select--</option>
				  <option value="Maharastra">Maharastra</option>
				</select>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="form-group">
				<label for="comments"><b>PinCode<b></label>
				<input type="text" class="form-control numberOnly" name="pincodeNew" value="0" id="PinCode1MMS" maxlength="6" />
			  </div>
			</div>
			
			</div>
		   
		  </div>
  

<div class="modal-footer">
  <button type="button" class="btn btn-success" id="AddAddrMMSSave" data-dismiss="modal">Save</button>
</div>
</div>

</div>
</div>
</div>  <!-- end popup -->


<!---bottom fixed popup----->
<div class="modal fade" id="bottonFixedId" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
	  <h4 class="modal-title">Call Script</h4>
	</div>
	<div class="modal-body">
	  <p>Hi Good Morning!. </p>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
  </div>
  
</div>
</div>



<div class="modal fade" id="offer" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color:#1797be;color:#ffffff;text-align:center">
          <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
          <h4 class="modal-title">Select Offer For @if(vehicleData!=null){
		<b>  @{vehicleData.getVehicleRegNo()}</b>
		  } </h4>
        </div>
        <div class="modal-body ofeerData">
          <table class="table table-striped">
    <thead class="makefixed">
      <tr>
	  <th>#</th>
        <th>OFFER&nbsp;CODE</th>
        <th>OFFER&nbsp;DETAIL</th>
        <th>CONDITION</th>
		<th>BENEFIT</th>
        <th>VALIDITY</th>
      </tr>
    </thead>
   <tbody>
     @for(offer_list <- offersList){
           <tr id="row12">
        <td><input type="radio" class="case" name="case[]" value="@offer_list.id" ></td>
		 <td>@offer_list.offerCode</td>
        <td>@offer_list.offerDetails</td>
        <td>@offer_list.offerConditions</td>
		  <td>@offer_list.offerBenefit</td>
        <td>@offer_list.offerValidity</td>
      </tr>
	  }
    </tbody>
  </table>
      </div>
        <div class="modal-footer" style="padding: 7px;">
          <button type="button" class="btn btn-success btn-xs" id="applyOffers">Apply&nbsp;Offer</button>
        </div>
		<div id="offerSelected">
		<b style="margin-left:6px;">OFFER SELECTED</b>
<div class="modal-footer" style="border: 2px solid #1797be;margin-left: 6px;margin-right: 5px;">
<div class="col-sm-10 pull-left">
<span id="selectChkVal" style="text-align:left"></span>
<input type="hidden" id="offerSelectedId" name="offerSelId" value=0>

</div>
<div class="col-sm-2 pull-right">
          <button type="button" class="btn btn-danger btn-xs removeOffer" >REMOVE OFFER</button>
		  
		  </div>
		  
		 
        </div>
		
		</br>
      </div>
	  <div style="text-align:center">
	   <button type="button" class="btn btn-success saveOffer" data-dismiss="modal" style="margin-top:-24px;">SAVE</button><br />
	   </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="DNDConfirm" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
          <h4 class="modal-title" style="text-align:center;">Do Not Disturb(DND) Tagging</h4>
        </div>
        <div class="modal-body">
          <b>Do you want to tag the customer @customerData.getCustomerName()  as ‘Do Not Disturb /Call” ?<br> Click ‘YES’ to confirm</b><br><br>
		  
  <div class="radio-inline">
      <label><input type="radio" name="RadioDND" id="RadioDNDYes" value="makeDND">YES</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" name="RadioDND" id="RadioDNDNo" value="removeDND">NO</label>
    </div>
        </div>
        <div class="modal-footer" style="text-align:center;" >
         
<button type="button" class="btn btn-success" id="submitDndBtn" data-dismiss="modal"
>submit</button>		  
        </div>
      </div>
      
    </div>
  </div>
  
     <div class="modal fade" id="smsPopuId" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="text-align:center;background-color: #106A86;color: #fff;">
          <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
          <h4 class="modal-title" ><b>SMS OPTIONS<b></h4>
        </div>
        <div class="">
   <ul class="nav nav-pills nav-stacked col-md-3">
   @for(smsTemplate<-smsTemplates){
   		<li><a class="clssTemplType" id="typAnch_@{smsTemplate.getSmsId()}" href="#tab_@{smsTemplate.getSmsId()}" data-toggle="pill">@{smsTemplate.getSmsType()}</a></li>
   	}
 
</ul>
<div class="tab-content col-md-9 smstabclass">
<input type="hidden" id="smsrequestReference" value="@{vehicleData.getVehicle_id()}" />
  @for(smsTemplate<-smsTemplates){
  	

        <div class="tab-pane @if(smsTemplate.getSmsId()==1){active}" id="tab_@{smsTemplate.getSmsId()}">
        <input type="hidden" id="typ_@{smsTemplate.getSmsId()}"  />
             <h4><u>@{smsTemplate.getSmsType()}</u></h4>
			 <textarea name="text" rows="5" cols="45" id="txt_@{smsTemplate.getSmsId()}" class="cl_@{smsTemplate.getSmsId()}" disabled="disabled" style="border:none; background-color:#fff;">@{smsTemplate.getSmsTemplate()}</textarea>
<br/>
		<input type="button" name="set_Value" id="ed_@{smsTemplate.getSmsId()}" class="btn btn-info cmmnbtnclass"  value="Edit"  >
     

        </div>
 
 }
 </div>	
<!-- tab content -->
        </div>
        <div class="modal-footer">
          <button type="button" id="smsSendbtn" class="btn btn-success" data-dismiss="modal">SEND SMS</button>
        </div>
      </div>
    </div>
  </div>
 

  <!-- Modal -->
  
  
  <div class="modal fade" id="myModalAddPhone" role="dialog">
    <div class="modal-dialog modal-xs">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
          <h4 class="modal-title">ADD PHONE NUMBER</h4>
        </div>
		
		
        <div class="modal-body">
		<div class="row">
        <div class="col-xs-12">
        <div class="col-xs-4">
        <input type="text" name="myPhoneNum" class="form-control numberOnly" maxlength="10" min="10" max="10" id="myPhoneNum" >
      </div>
        </div>
        </div>
		</div>
        <div class="modal-footer">
   <button type="button" class="btn btn-default" data-dismiss="modal" id="savePhoneCust">SAVE</button>
        </div>
      </div>
      
    </div>
  </div>
   <!--------------------------------Side bar popup start------------------------------------------>
  <div id="fixedsocial">
    <div class="facebookflat" data-toggle="modal" data-target="#myModal1" >
	<!-- <img src='@routes.Assets.at("images/car.png")' style="width: 50px;" /> -->
	<img src='@routes.Assets.at("images/sports-car.jpg")' style="width: 50px; border-radius: 5px;" data-toggle="tooltip" data-placement="left" title="Vehicle" />
	</div>
    <div class="twitterflat" data-toggle="modal" data-target="#myModal2" >
	<img src='@routes.Assets.at("images/service.jpg")' style="width: 50px;border-radius: 5px;" data-toggle="tooltip" data-placement="left" title="Service" onclick="ajaxCallServiceLoadOfCustomer();"/>
	<!-- <img src='@routes.Assets.at("images/car-insurance.png")' style="width: 50px;" /> -->
	</div> 
     <div class="twitterflat1" data-toggle="modal" data-target="#myModal3" >
	 <img src='@routes.Assets.at("images/car-insu.jpg")' style="width: 50px; border-radius: 5px;" data-toggle="tooltip" data-placement="left" title="Insurance"/> 
	 <!-- <img src='@routes.Assets.at("images/INSURANCE1.png")' style="width: 50px;" /> --> 
	 </div> 
      
</div>
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
          <h4 class="modal-title">VEHICLE INFORMATION</h4>
        </div>
        <div class="modal-body">
		<div class="table table-responsive">
          <table id="example700" class = "table table-bordered">
 
  <thead class="makefixed">
				   <tr>
				  <th style="width: 11%;">Model</th>
			   <th style="width: 11%;">Variant</th>
				<th style="width: 11%;">Color</th>
			   <th style="width: 12%;">Registration&nbsp;No</th>
				<th style="width: 11%;">Engine&nbsp;No</th>
				<th style="width: 11%;">Chassis&nbsp;No</th>
				  <th style="width: 11%;">Sale&nbsp;Date</th>
				<th style="width: 11%;">Fuel&nbsp;Type</th>
				</tr>
			  </thead>
			  <tbody>
			   
			@for(post <- customerData.getVehicles()) {
			<tr>
			  <td style="text-align:center"><input type="text-primary" id="model" value="@post.getModel()"  style="border:none;text-align:center" readonly></td>
			  <td style="text-align:center"><input type="text-primary" id="variant" value="@post.getVariant()" style="border:none;text-align:center" readonly></td>
			  <td style="text-align:center"><input type="text-primary" id="color" value="@post.getColor()" style="border:none;text-align:center" readonly></td>
			  <td style="text-align:center">
			  <div class="col-sm-12">
			  <div class="col-sm-8">
			  <input type="text-primary" class="vehicalRegNo" id="vehicalRegNo" value="@post.getVehicleRegNo()" style="border:none;margin-right: 15px;" readonly>
				</p>
				</div>
				<div class="col-sm-2">
				  <input type="button" value="+"  id="editRegistrationno" style="color: rgb(255, 255, 255); background-color: rgba(0, 166, 90, 0.85098);">
				 </div>
				 <div class="col-sm-2">
				  <input type="button" class="btn btn-success btn-xs" value="Add" id="updateRegistrationno" onmouseenter="ajaxAddRegistrationno();" style="display:none;">
				</div>
			  </div></td>
			  <td style="text-align:center"> 
			  <div class="col-sm-12">
			   <div class="col-sm-8">
			  <input type="text-primary" id="engineNo" value="@post.getEngineNo()" style="border:none;margin-right: 15px;" readonly>
				</p>
				  </div>
			<!-- <div class="col-sm-2">
				  <input type="button" value="+" id="editEngineno" style="color: rgb(255, 255, 255); background-color: rgba(0, 166, 90, 0.85098);">
				</div>  <div class="col-sm-2">
				  <input type="button" class="btn btn-success btn-xs" value="Add" id="updateEngineno" onmouseenter="ajaxAddEngineno();" style="display:none;">
				</div>-->
				</div></td>
			  <td style="text-align:center"><div class="col-sm-12 ">
			   <div class="col-sm-8">
			  <input type="text-primary" id="chassisNo" value="@post.getChassisNo()" style="border:none;margin-right: 15px;" readonly>
				 </div>
			<!--	<div class="col-sm-2">
				  <input type="button" value="+" id="editChassisno" style="color: rgb(255, 255, 255); background-color: rgba(0, 166, 90, 0.85098);">
				  </div>  
				  <div class="col-sm-2">  
				  <input type="button" class="btn btn-success btn-xs" value="Add" id="updateChassisno" onmouseenter="ajaxAddChassisno();" style="display:none;">
				</div>-->
				</div></td>
			    <td style="text-align:center"><input type="text-primary" id="saleDate" value="@post.getSaleDate()" style="border:none;text-align:center" readonly></td>
			  <td style="text-align:center"><input type="text-primary" id="fuelType" value="@post.getFuelType()" style="border:none;text-align:center" readonly></td>
			</tr>			}
				</tbody>
</table>
</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
          <h4 class="modal-title">SERVICE INFORMATION</h4>
        </div>
        <div class="modal-body">
		<div class="table table-responsive">
          <table id="example800" class = "table table-bordered">
 
   <thead class="makefixed">
                <tr>
				<th style="width: 10%;"></th>
				<th style="width: 9%;">JobCard&nbsp;No.</th>
				<th style="width: 9%;">Registration&nbsp;No.</th>
				<th style="width: 9%;">Model</th>
				<th style="width: 9%;">Variant</th>
				<th style="width: 9%;">Color</th>
				<th style="width: 9%;">Service&nbsp;Date</th>
				<th style="width: 9%;">Service&nbsp;Type</th>
				<th style="width: 9%;">Last&nbsp;Mileage</th>
				<th style="width: 9%;">Service&nbsp;Advisor</th>
				<th style="width: 9%;">Service&nbsp;Location</th>
</tr>
                  </thead>
				   <tbody>
                                   
                    </tbody>
			  
</table>

</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg" >
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
          <h4 class="modal-title">INSURANCE INFORMATION</h4>
        </div>
        <div class="modal-body">
		<div class="table table-responsive">
          <table id="example7889" class = "table table-bordered">
	 
	   <thead class="makefixed">
					   <tr>
					   <td style="width: 10%;"></td>
					<th style="width: 9%;">Policy&nbspNumber</th>
					<th style="width: 9%;">Coverage&nbsp;Period</th>
					<th style="width: 9%;">Policy&nbsp;Due&nbsp;Date</th>
					<th style="width: 9%;">Insurance&nbsp;Company</th>
					<th style="width: 9%;">NCB(%age)</th>
					<th style="width: 9%;">NCB&nbsp;Amount(Rs.)</th>
					<th style="width: 9%;">PREMIUM</th>
					<th style="width: 9%;">Service&nbsp;Tax</th>
					<th style="width: 9%;">Total&nbsp;Premium</th>
					<th style="width: 9%;">Last&nbsp;Renewal&nbsp;By</th>
					
					</tr>
				  </thead>
				<tbody>
				@for(insuranceData <-customerData.getInsurances()){
				 
				  <tr>
				  <td><a data-toggle="modal" data-target="#otherdetails" ><i class="fa fa-info-circle" data-toggel="tooltip" title="Other Details" style="font-size:30px;color:red;"></i></a></td>
					<td style="text-align:center">@insuranceData.getPolicyNo()</td>
					<td style="text-align:center">@insuranceData.getCoverageFromTo()</td>
					<td style="text-align:center">@insuranceData.getPolicyDueDateStr()</td>
					<td style="text-align:center">@insuranceData.getInsuranceCompanyName()</td>
					 <td style="text-align:center">@insuranceData.getNcBPercentage()</td>
					<td style="text-align:center">@insuranceData.getNcBAmountStr()</td>
					<td style="text-align:center">@insuranceData.getPremiumAmountStr()</td>
					<td style="text-align:center">@insuranceData.getServiceTax()</td>
					 <td style="text-align:center">@insuranceData.getPremiumAmountAfterTaxStr()</td>
					<td style="text-align:center">@insuranceData.getLastRenewalBy()</td>
				  </tr>
				  }
					</tbody> 
	</table>
        </div>
		</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!------------Service Popup Model---------->
  <div class="modal fade" id="myModalForInfo" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color:#1797BE;text-align:center;">
          <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
          <h4 class="modal-title heading" style="color:#fff"><b>SERVICE HISTORY -<<VEH No.>> - <<SERVICE DATE>><b> </h4>
        </div>
        <div class="modal-body">
         

   <div class="row" style="border:2px solid #1797BE;margin-right: -8px;margin-left: -6px;">
                <div class="col-md-4">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                    <tr>
                      <td><strong>CUSTOMER ID</strong></td>
                      <td class="text-primary"> 1311935638 </td>
                    </tr>
					
					<tr>
                      <td><strong>S/ADVISOR</strong></td>
                      <td class="text-primary"> </td>
                    </tr>
					<tr>
                      <td><strong>MILEAGE (Kms)</strong></td>
                      <td class="text-primary">34233</td>
                    </tr>
					  
					 <tr>
                      <td><strong>PART DISC</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
                   <tr>
                      <td><strong>PARTS BILL</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                 
					<tr>
                      <td><strong> JOBCARD No.</strong></td>
                      <td class="text-primary">JC13010045</td>
                    </tr>
				
					<tr>
                      <td><strong>TECHNICIAN</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					
					<tr>
                      <td><strong>Bill No.</strong></td>
                      <td class="text-primary">BR13010474</td>
                    </tr>
					 
					
					<tr>
                      <td><strong>LAB DISC</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					 <tr>
                      <td><strong>LAB BILL</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
                   
                  </tbody>
                </table>
                </div>
                 <div class="col-md-4">
                 <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                
					<tr>
                      <td><strong>W/SHOP</strong></td>
                      <td class="text-primary">UNIV RD</td>
                    </tr>
					
					
					<tr>
                      <td><strong>S/TYPE</strong></td>
                      <td class="text-primary">FR3</td>
                    </tr>
					<tr>
                      <td><strong>Bill Date</strong></td>
                      <td class="text-primary">10/27/2015</td>
                    </tr>
					
					
					 <tr>
                      <td><strong>DISCOUNT</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
                  
					 <tr>
                      <td><strong>BILL AMOUNT</strong></td>
                      <td class="text-primary">656577</td>
                    </tr>
                  </tbody>
                </table>
                </div>
	</div>
			<div class="row" style="border:2px solid #1797BE;margin-top: 5px;margin-right: -8px;margin-left: -6px;">
	   
		
			<h4 style="text-align:center;"><b>REMARKS<b></h4>
    			<div class="col-lg-4" style="text-align: center;">
  			       <div class="form-group">
     			    <label for="">DEFECT DETAILS</label>
     			     <textarea type="" class="form-control" rows="3" id=""  readonly></textarea>
 			     </div>
		 </div> 
  		    <div class="col-lg-4" style="    text-align: center;">
  			<div class="form-group">
     			 <label for="">LABOUR DETAILS</label>
     			 <textarea type="" class="form-control" id=""  rows="3" readonly></textarea>
 			 </div>
		 </div>
       
  		<div class="col-lg-4" style="    text-align: center;">
  			<div class="form-group">
     			 <label for="">JC REMARKS</label>
     			  <textarea type="" class="form-control" id=""  rows="3" readonly></textarea>
 			 </div>
		 </div>
		 
 

</div>

<div class="row" style="border:2px solid #1797BE;    margin-right: -8px;
    margin-left: -6px;    margin-top: 5px;">
<div class="row">
                <div class="col-md-4">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                    <tr>
                      <td><strong>3rd DAY PSF</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					
					
					
                    </tbody>
                    </table>
                </div>
				<div class="col-md-4" >
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                  
					<tr>
                      <td><strong>DATE</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					
					
                    </tbody>
                    </table>
                </div>
				<div class="col-md-4">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                   
					
					<tr>
                      <td><strong>DONE BY</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					
                    </tbody>
                    </table>
                </div>
				</div>
				
				
<div class="row">
                <div class="col-md-4">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                    <tr>
                      <td><strong>6th DAY PSF</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					
					
					
                    </tbody>
                    </table>
                </div>
				<div class="col-md-4">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                  
					<tr>
                      <td><strong>DATE</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					
					
                    </tbody>
                    </table>
                </div>
				<div class="col-md-4">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                   
					
					<tr>
                      <td><strong>DONE BY</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					
                    </tbody>
                    </table>
                </div>
				</div>
				
<div class="row">
                <div class="col-md-4">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                    <tr>
                      <td><strong>30th DAY PSF</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					
					
					
                    </tbody>
                    </table>
                </div>
				<div class="col-md-4">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                  
					<tr>
                      <td><strong>DATE</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					
					
                    </tbody>
                    </table>
                </div>
				<div class="col-md-4">
                  <table class="table table-condensed table-responsive table-user-information">
                  <tbody>
                   
					
					<tr>
                      <td><strong>DONE BY</strong></td>
                      <td class="text-primary">  </td>
                    </tr>
					
                    </tbody>
                    </table>
                </div>
				</div>
</div>
        </div>
      
      </div>
      
    </div>
  </div>
	 <!------------------Calculator modal Popup------------------------->
   <!------------------Calculator modal Popup------------------------->
  <div class="modal fade" id="InsuPremiumPopup" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding: 10px; color: red">
		<button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
         
          <p class="modal-title" style="text-align:center;"><b>INSURANCE PREMIUM CALCULATOR</b></p>
        </div>
        <div class="modal-body" style="padding-bottom: 0px;">
       
        
        <b style="color:red;"><u>VEHICLE DETAILS:</u></b>
         <div class="row">
      
      <div class="col-xs-2">
       <div class="form-group">
        <label>Cubic&nbsp;Capacity(CC)</label>
         <select class="form-control input-sm" name="cubicCapacity" id="cubicCapacityId" onchange="ajaxODPercentage();">
		 <option value="1001 -1500 CC">1001 -1500 CC</option>
          <option value="<=1000 CC"><=1000 CC</option>
          <option value=">=1501 CC"> >=1501 CC</option>
        </select>
      </div>
      </div>
       <div class="col-xs-2">
        <div class="form-group">
        <label>Vehicle&nbsp;Age</label>
         <select class="form-control input-sm" name="vehicleAge" id="vehicleAgeId" onchange="ajaxODPercentage();">
          <option value="<= 5 Years"><= 5 Years</option>
          <option value="5-10 Years">5-10 Years</option>
          <option value=">10 Years"> >10 Years </option>
        </select>
      </div>
      </div>
      <div class="col-xs-2">
       <div class="form-group">
        <label>City</label>
         <select class="form-control input-sm" name="vehicleCity">
          <option value="Rest of India">Rest of India</option>
          <option value="Ahmedabad">Ahmedabad</option>
          <option value="Bangalore">Bangalore</option>
          <option value="Chennai">Chennai</option>
          <option value="Hyderabad">Hyderabad</option>
          <option value="Kolkata">Kolkata</option>
          <option value="Mumbai">Mumbai</option>
          <option value="New Delhi">New Delhi</option>
          <option value="Pune">Pune</option>
             
        </select>
      </div>
      </div>
      <div class="col-xs-2">
       <div class="form-group">
        <label>Zone</label>
         <select class="form-control input-sm" name="vehicleZone" id="zoneId" onchange="ajaxODPercentage();">
		 <option value="Zone B">Zone B</option>
         <option value="Zone A">Zone A</option>
           </select>
         </div>
         </div>

      <div class="col-xs-2">
       <div class="form-group">
        <label>Ex&nbsp;Showroom&nbsp;Price</label>
         <input type="text" class="form-control input-sm numberOnly" value="0" name="exShowroomPrice">
         </div>
         </div>
      
        </div>
         <b style="color:red;"><u>OWN DAMAGE PREMIUM (I):</u></b>
<div class="row">
         <div class="col-xs-2">
      <div class="form-group">
        <label>IDV</label>
        <input class="form-control input-sm numberOnly" id="idvId" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getIdv()}else{0}}else{0}}" name="idv" type="text">
     </div>
     </div>
       <div class="col-xs-2">
       <div class="form-group">
        <label>OD(%)</label>
         <input class="form-control input-sm" id="odId" name="odPercentage" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getOdPercentage()}else{0}}else{0}}" type="text" readonly>
      </div>
      </div>
      <div class="col-xs-2">
      <div class="form-group">
        <label>Basic OD</label>
         <input class="form-control input-sm" id="basicODId" name="odAmount" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getOdAmount()}else{0}}else{0}}" type="text" readonly>
      </div>
      </div>
      <div class="col-xs-2">
      <div class="form-group">
        <label>NCB(%)</label>
         <input class="form-control input-sm" id="ncbPercenId" name="ncBPercentage" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getNcBPercentage()}else{0}}else{0}}" type="text">
      </div>
      </div>
      <div class="col-xs-2">
      <div class="form-group">
        <label>NCB Value</label>
         <input class="form-control input-sm" id="ncbValueId"  name="ncBAmount" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getNcBAmount()}else{0}}else{0}}" type="text" readonly>
      </div>
      </div>
	  </div>
 <div class="row">
      <div class="col-xs-2">
      <div class="form-group">
        <label>OD Premium</label>
         <input class="form-control input-sm" id="odPremiumId" name="ODpremium" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getODpremium()}else{0}}else{0}}" type="text" readonly>
      </div>
      </div>
      <div class="col-xs-2">
      <div class="form-group">
        <label>Commercial&nbsp;Disc(%)</label>
         <input class="form-control input-sm" id="commercialDiscId" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getDiscountPercentage()}else{0}}else{0}}" name="discountPercentage" type="text">
      </div>
      </div>
      <div class="col-xs-2">
      <div class="form-group">
        <label>Disc Value </label>
         <input class="form-control input-sm" id="discValueId" name="discValue" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getDiscValue()}else{0}}else{0}}" type="text" readonly>
      </div>
      </div>
      <div class="col-xs-2">
      <div class="form-group">
         <label>Total&nbsp;OD&nbsp;Premium</label>
         <input class="form-control input-sm" id="totalODPremiumId" name="totalODpremium" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getTotalODpremium()}else{0}}else{0}}" type="text" readonly>
      </div>
      </div>
    
    
        </div>
        <b style="color:red;"><u>LIABILITY & BENEFIT (II):</u></b>
		<b style="color:red;margin-left: 272px;"><u>ADD ON COVERS (III):</u></b>
         <div class="row">
      
      <div class="col-xs-2">
       <div class="form-group">
        <label>3rd&nbsp;Party&nbsp;Premium</label>
         <input type="text" class="form-control input-sm" name="" id="thirdPartyPremId" readonly>
      </div>
      </div>
       <div class="col-xs-2">
        <div class="form-group">
        <label>PA&nbsp;Premium</label>
         <input type="text" class="form-control input-sm" name="" value="100" readonly>
      </div>
      </div>
      <div class="col-xs-2">
       <div class="form-group">
          <label>Total&nbsp;Premium</label>
         <input type="text" class="form-control input-sm" name="" id="totalPremiumID" readonly>
      </div>
      </div>
	  
	    <div class="col-xs-2">
       <div class="form-group">
        <label>Add&nbsp;On&nbsp;Cover(%)</label>
         <input type="text" class="form-control input-sm" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getAdd_ON_CoverPercentage()}else{0}}else{0}}" name="add_ON_CoverPercentage" id="add_ON_CoverPercentageId" >
      </div>
      </div>
       <div class="col-xs-2">
        <div class="form-group">
        <label>Add&nbsp;On&nbsp;Premium </label>
         <input type="text" class="form-control input-sm" name="add_ON_Premium" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getAdd_ON_Premium()}else{0}}else{0}}" id="addOnPremiumId">
      </div>
      </div>
      
      
        </div>
        
	    <b style="color:red;"><u>PACKAGE PREMIUM (I + II + III):</u></b>
         <div class="row">
     
      <div class="col-xs-2">
        <div class="form-group">
         <label>Total&nbsp;Pkg&nbsp;Premium</label>
         <input type="text" class="form-control input-sm" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getPremiumAmountBeforeTax()}else{0}}else{0}}" name="premiumAmountBeforeTax" id="totalPackagePremiumId" readonly>
      </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
        <label>Service&nbsp;Tax(%)</label>
         <input type="text" class="form-control input-sm" name="serviceTax" value="15" readonly>
      </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
        <label>Final Premium</label>
         <input type="text" class="form-control input-sm" value="@{if(interOfCall.getVehicle()!=null){if(interOfCall.getVehicle().getCurrentInsurance()!=null){interOfCall.getVehicle().getCurrentInsurance().getPremiumAmountAfterTax()}else{0}}else{0}}" name="premiumAmountAfterTax" id="finalPremiumId" readonly style="background-color: #8BC34A; color:#fff; font-size: 18px;">
      </div>
      </div>
       </div>
</div>
      
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveFinalPremium">Save</button>
        </div>
      </div>
      </div>
      
    </div>
	
  <!--------------------------------Side bar popup end------------------------------------------>
  
  <!-- Hidden div with details for Auto selection of SA  -->
  <div style="display:none">
  	<input type="hidden" id="preSaDetails"  />
					<input type="hidden" id="newSaDetails"  />
					<select class="form-control" id="serviceAdvisorTemp"  name="serviceAdvisorTemp" style="display:none">
						<option value="0">--Select--</option>
					</select>
  </div>
  
  <div style="display:none">
  	<input type="hidden" id="preSaDetailsIns"  />
					<input type="hidden" id="newSaDetailsIns"  />
					<select class="form-control" id="serviceAdvisorTempIns"  name="serviceAdvisorTempIns" style="display:none">
						<option value="0">--Select--</option>
					</select>
  </div>

}
<script src="@routes.Assets.at("javascripts/commondisposition.js")" type="text/javascript"></script>
}
