@(dealercode:String,dealerName:String,userName:String,id: Long,postcallinfo:models.CallInteraction,latest_service:Service)
@import models._
@import scala._
@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode) {
@helper.form(routes.CallInfoController.postcallLogeditForCRE(dealercode,id), 'class -> "form-horizontal",'enctype ->     "multipart/form-data", 'id -> "updateForm")  {
        
<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">   
        Customer Information </div>
		<div class="panel-body">
            <div class="col-lg-3">
              <div class="form-group">
                <label for="customerName">Customer Name :</label>
                <input type="text" class="form-control" name="customerName" value='@{postcallinfo.getCustomer().getCustomerName()}' id="customerName" autocomplete="off"  required/>
              </div>
            </div>
             <div class="col-lg-3">             
              <div class="form-group">
                <label for="customerPhone">Customer Phone:</label>
                <input type="text" class="form-control"  value='' id="customerPhone" autocomplete="off" readonly/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="customerEmail">Customer Email:</label>
                <input type="text" class="form-control"  id="customerEmail" autocomplete="off"  />
              </div>
            </div>
           <div class="col-lg-3">
              <div class="form-group">
                <label for="customerAddress">Customer Address :</label>
                <input type="text" class="form-control"  value='' id="customerAddress" autocomplete="off"  />
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="vehicleNumber">Vehicle Number :</label>
                <input type="text" class="form-control" name="vehicleNumber" value='@{postcallinfo.getVehicle().getVehicleNumber()}' id="vehicleNumber" autocomplete="off" readonly />
              </div>
            </div>
          <div class="col-lg-3">
              <div class="form-group">
                <label for="vehicleRegNo">Vehicle RegNo :</label>
                <input type="text" class="form-control" name="vehicleRegNo" value='@{postcallinfo.getVehicle().getVehicleRegNo()}' id="vehicleRegNo" autocomplete="off"  readonly/>
              </div>
            </div>
            
            <div class="col-lg-3">
              <div class="form-group">
                <label for="model">Model :</label>
                <input type="text" class="form-control" name="model" value='@{postcallinfo.getVehicle().getModel()}' id="model" autocomplete="off"  />
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="odometerReading">Odometer Reading :</label>
                <input type="text" class="form-control" name="odometerReading" value='@{postcallinfo.getVehicle().getOdometerReading()}' id="odometerReading" autocomplete="off"  />
              </div>
            </div>                   
            
         
        </div>
        </div>
     </div>
     </div>
     
        
           
<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">   
        Service Information </div>
		<div class="panel-body">         
              
             
            <div class="col-lg-3">
              <div class="form-group">
                <label for="nextServiceDue">Next Service Due Date :</label>
                <input type="text" class="form-control"  name="nextServiceDue" value='@{latest_service.getNextServiceDue()}' id="nextServiceDue"  autocomplete="off" readonly />
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="nextServiceType">Next Service Type:</label>
                <input type="text" class="form-control"  name="nextServiceType" value='@{latest_service.getNextServiceType()}' id="nextServiceType"  autocomplete="off"  readonly/>
              </div>
          </div>
          
         <div class="col-lg-3">
              <div class="form-group">
                <label for="forecastLogic">Forecast Logic:</label>
                <input type="text" class="form-control"  name="forecastLogic" value='@{postcallinfo.getVehicle().getForecastLogic()}' id="forecastLogic"  autocomplete="off"  readonly/>
              </div>
          </div>
             
               
         <div class="col-lg-3">
              <div class="form-group">
                <label for="serviceNoShowPeriod">Service NO Show Period: </label>
                <input type="text" class="form-control"  name="serviceNoShowPeriod" value='@{latest_service.getServiceNoShowPeriod()}' id="serviceNoShowPeriod"  autocomplete="off" readonly />
              </div>
          </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="nextServisedueBasedon_Tenure">Service Due Based on Tenure: </label>
                <input type="text" class="form-control"  name="nextServisedueBasedon_Tenure" value='@{postcallinfo.getVehicle().getNextServisedueBasedon_Tenure()}' id="nextServisedueBasedon_Tenure"  autocomplete="off" readonly />
              </div>
          </div>  
               <div class="col-lg-3">
              <div class="form-group">
                <label for="nextServiseDateBasedon_Running"> Service Due Based on Mileage: </label>
                <input type="text" class="form-control"  name="nextServiseDateBasedon_Running" value='@{postcallinfo.getVehicle().getNextServiseDateBasedon_Running}' id="nextServiseDateBasedon_Running"  autocomplete="off"  readonly/>
              </div>
          </div>
              
            <div class="col-lg-3">
              <div class="form-group">
                <label for="lastServiceMeterReading">Last Service Meter Reading:</label>
                <input type="text" class="form-control" name="lastServiceMeterReading" value='@{latest_service.getLastServiceMeterReading()}' id="lastServiceMeterReading"  autocomplete="off"  readonly/>
              </div>
            </div>          
            <div class="col-lg-3">
              <div class="form-group">
                <label for="lastServiceType">Last Service Type :</label>
                <input type="text" class="form-control" name="lastServiceType" value='@{latest_service.getLastServiceType()}' id="lastServiceType"  autocomplete="off"  readonly/>
              </div>
            </div>
            
            <div class="col-lg-3">
              <div class="form-group">
                <label for="lastServiceDate">Last Service Date:</label>
                <input type="text"  class="form-control" name="lastServiceDate" value='@{latest_service.getLastServiceDate}' id="lastServiceDate"  autocomplete="off"  readonly/>
              </div>
            </div> 
             <div class="col-lg-3">
              <div class="form-group">
                <label for="saleDate">Sale Date :</label>
                <input type="text" class="form-control" name="saleDate" value='@{latest_service.getSaleDate()}' id="saleDate"   autocomplete="off"  readonly/>
              </div>
            </div>
              
         
        </div>
        </div>
        </div>
        </div>
        
     <div class="row">
         <div class="col-lg-12">
      
  <div class="panel panel-primary">
    <div class="panel-heading"> Interaction History</div>
    <div class="panel-body">          
            @if(postcallinfo.getSrdisposition().getCallDispositionData().getDisposition()=="Book My Service"){ 
           <div class="col-lg-3">
              <div class="form-group">
                <label for="serviceScheduledDate">Service Scheduled Date :</label>
                <input type="text"  class="datepicker form-control" name="serviceScheduledDate" value='' id="serviceScheduledDate" autocomplete="off"  />
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="serviceScheduledTime">Service Scheduled Time :</label>
                <input type="text"  class="single-input form-control" name="serviceScheduledTime" value='' id="serviceScheduledTime" autocomplete="off"  />
              </div>
            </div>
            
            <div class="col-md-3">
            <div class="form-group">
              <label for="pickUpAddress">Pick Up Address :</label>
              <input type="text" class="form-control" name="pickUpAddress" value='@{postcallinfo.getServiceBooked().getPickupDrop().getPickUpAddress()}' id="pickUpAddress" autocomplete="off"/>             
            </div>
          </div>          
          <div class="col-md-3">
            <div class="form-group">
              <label for="serviceAdvisor">ASSIGNED TO (SA):</label>
              <input type="text"  class="form-control" name="serviceAdvisor" value='@{postcallinfo.getServiceBooked().getServiceAdvisor()}' id="serviceAdvisor"  autocomplete="off"  readonly />             
            </div>
          </div>
          
           }
           @if(postcallinfo.getSrdisposition().getCallDispositionData().getDisposition()=="Call Me Later"){ 
           <div class="col-lg-3">
              <div class="form-group">
                <label for="followUpDate">Follow Up Date :</label>
                <input type="text"  class="datepicker form-control" name="followUpDate" value='@{postcallinfo.getSrdisposition().getFollowUpDate()}' id="followUpDate" autocomplete="off"  />
              </div
            </div>
    </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="followUpTime">Follow Up Time :</label>
                <input type="text"  class="single-input form-control" name="followUpTime" value='@{postcallinfo.getSrdisposition().getFollowUpTime()}' id="followUpTime" autocomplete="off"  />
              </div>
             </div>
           } 
            
          <div class="col-lg-3">
              <div class="form-group">
                <label for="comments">Comments :</label>
                <input type="text" class="form-control" name="comments" value='@{postcallinfo.getSrdisposition().getComments()}' id="comments" autocomplete="off"  />
              </div>
            </div> 
           <div class="col-lg-3">
              <div class="form-group">
                <label >Call Disposition :</label>
                <input type="text" class="form-control"  value='@{postcallinfo.getSrdisposition().getCallDispositionData().getDisposition()}' id="callDisposition" autocomplete="off"  readonly/>
              </div>
            </div>
          </div> 
            
             
          </div>       
      
      
       <div class="col-lg-12">
        <div class="col-lg-6">
      
      <div class='text-right'>
        <input type="submit" class="btn btn-primary" value="Save Changes" />
      </div>
      </div>
       <div class="col-lg-6">
      <div>
      <a href="/@dealercode/CRE/getDispositionPageOfTab" class="btn btn-primary">Cancel</a>
      </div>
      </div>
      </div>
      
      
      </div>
     </div>
    
     
       
    
  
}
}
