

@(dealerName:String,user:String,messageData:List[MessageTemplete])

@mainPageCREManger("WyzConnectADCC",user,dealerName) {
	@helper.form(action=routes.ScheduledCallController.postTosendSMSForScheduledCallsCREMan()){
	
	<div class="row">
<div class="col-lg-12">
  <div class="panel panel-info">
    <div class="panel-heading"><strong>Send Message To </strong> <small>|Scheduled Calls</small></div>
    <div class="panel-body">
   
    <div class="col-sm-4">
  
      <label>Message Header : <select id="messageHeader" name="messageHeader" class="selectpicker" required> 
      
      							  <option value="Dear">Dear</option>
         						<option value="Hi">Hi</option>      
                
                
               
       
      </select></label>
      </div>
      <div class="col-sm-4">
      
      
      <label>Message Body : <select id="messageBody" name="messageBody" class="selectpicker"  required>       
                     
            @for(data <- messageData){      
        
                        	                         
                <option value="@data.messageBody">@data.messageBody</option>
                                }
      </select></label>
      </div>
      <div class="col-sm-4">
      <button type="submit" class="btn btn-success" >SEND SMS</button>
      </div>
    	
  
  </div>
</div>
</div>
</div>
  
   } 
  
}