

@(dealerName:String,userName:String)

@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {

   <div class="container">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
          
        </div>
        <p class="lead text-muted">you are not Authorized to Access this Page!!!</p>
        
        <br>
        
      </div><!-- /.col-lg-8 col-offset-2 -->
    </div> 
}