@(vehicleData:Vehicle,userName:String)
<div class="panel panel-primary">
    <div class="panel-heading" align="center"; style="background-color:#1797be;"><img src="@routes.Assets.at("images/INTERACTION HISTORY.png")" style="width:17px"/>&nbsp;<b>PSF DISPOSITION FORM 15TH DAY</b> 
		</div>
    <div class="panel-body">
		<div class="col-md-12">
			<div class="form-group">
					<div id="PSFconnectCall1H" class="animated  bounceInRight">
		  <label for=""><b>Did you talk to the customer?</b></label>
		  <br>
		  <div class="radio-inline">
			<label>
			  <input type="radio" name="YesPSF" value="PSF Yes" id="">
			  Yes </label>
		  </div>
		  <div class="radio-inline">
			<label>
			  <input type="radio" name="YesPSF" value="PSF No" id="" >
			  No</label>
		  </div>
		 </div>
		 
		 <div style="display:none;" class="animated  bounceInRight" id="PSFNotSpeachDiv"><br>
			<label for=""><b>Choose reason for not being able to talk to customer:</b></label>
			<br>
			<div class="radio">
			  <label>
				<input type="radio" name="DispositonPSF" value="Ringing No response" id="">
				Ringing No response </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="DispositonPSF" value="Busy" id="" >
				Busy</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="DispositonPSF" value="Switched Off / Unreachable" id="" >
				Switched Off / Unreachable</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="DispositonPSF" value="Invalid Number" id="" >
				Invalid Number</label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="DispositonPSF" value="NoOther" id="NOOthersCheck" >
				Other</label>
			</div>
			
			
			<div class="row animated  bounceInRight"  id="PSFNoOthers">
			<div class="col-md-3">
			<label><b>Remarks</b></label>
			<textarea type="text" class="form-control" rows="1" name="other"></textarea>
			</div>
			</div>
			<div class="pull-right">
						
					<button type="button" class="btn btn-info" name="" id="BackTolatkNoPsf">Back</button>
					<button type="submit" class="btn btn-info" name="" value="">Submit</button>
			</div>
		  </div>
		  
		   <div style="display:none;" class="animated  bounceInRight" id="PSFYesTalkH" >
			<br />
			<div class="col-md-12">
			<p>Good Morning/Good Afternoon, I am <CRE NAME> from <Dealer Name>. Am I speaking to <Mr./Ms. Customer Name>?</p>
			<p>Thank you for choosing our <Dealer Name> for servicing of your Hyundai <Vehicle Model></p>
			<p>Can I talk to you for few minutes to take few feedback about the vehicle service.</p>
			<p>What did the Customer Say?</p>
		 <div class="radio-inline">
			<label>
			  <input type="radio" name="GoodMorning" value="Ok" id="GoodMorningYes">
			  Ok, Proceed </label>
		  </div>
		   <div class="radio-inline">
			<label>
			  <input type="radio" name="GoodMorning" value="Busy" id="GoodMorningNo">
			  I am Busy </label>
		  </div>
		  
		  <div class="pull-right">
					<button type="button" class="btn btn-info" id="BackTo1stQ">Back</button>						
					<button type="button" class="btn btn-info" id="NextTO2ndQ">Next</button>
			</div>
		  </div>
		  </div>
		    <div style="display:none;" class="animated  bounceInRight" id="PSFYesNamaskarYesDivH" >
			<p>Thanks for your time.</p>
			<p>Sir/Madam, were all the requested jobs done to your complete satisfaction?</p>
			
				<div class="radio-inline">
					<label>
					  <input type="radio" name="PSF2Yes" value="PSFSelf Yes" id="PSF2YesId">
					  Yes </label>
				</div>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="PSF2Yes" value="PSFSelf No" id="PSF2NoId">
					 No </label>
				</div>
				
				<div style="display:none;" class="row animated  bounceInRight" id="PsfSelfDriveInNo1H" >
				
				<div class="col-md-12">
				<p>Sir we are extremely sorry for an inconvinence caused.</p>
				<p>May I know the reason of dissatisfaction.</p>
				</div>
				<div class="col-md-12">
				<div class="col-md-3">
				<div class="form-group">
				<label>Function</label>
				<select class="form-control">
					<option value="Washing">Washing</option>
					<option value="Delay Delivery">Delay Delivery</option>
					<option value="Discrepancy on Charges">Discrepancy on Charges</option>
					<option value="Requested Repair not Done">Requested Repair not Done</option>
					<option value="Quality of Work">Quality of Work</option>
					<option value="SA/Other Emp Behaviour">SA/Other Emp Behaviour</option>
					<option value="New Problem">New Problem</option>
					<option value="Others">Others</option>
				</select>
				</div>	
				</div>
				<div class="col-md-3">
				<div class="form-group">
				<label>Assigned To</label>
				<select class="form-control">
					<option value="TBD">TBD</option>
					
				</select>
				</div>	
				</div>
				<div class="col-md-3">
				<div class="form-group">
				<label>Remarks* (Mandate)</label>
				<textarea class="form-control" type="text" rows="2"></textarea>
					
				
				</div>	
				</div>
				
			</div>
			<div class="col-md-12">
				<p>I have recorded your concern and will inform the same to our service team and our service team will contact you soon. </p></div>
				
			
			
			</div>
			
			<div style="display:none;" class="row animated  bounceInRight" id="PsfSelfDriveINYesH" >
			
			<div class="col-md-12">
			<p>Sir/Madam, I would like to request you to rate following question on the scale of 1 to 10, where 1-8 is poor, 9 is good and 10 is excellent</p>
			<div class="col-md-8">
			 <label for="sel1">How would you rate throughness of Service Advisor explantion on the work done and charges?</label>
			</div>
			<div class="col-md-2">
			<div class="form-group">
			<div class="form-inline">
     
      <select class="form-control" id="sel1">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
	  </div>
	  </div>
			</div>
			
			<div class="col-md-8">
			<label for="sel2">How would you rate throughness of Service Advisor explantion on the work done and charges?</label>
			</div>
			<div class="col-md-2">
			<div class="form-group">
	  <div class="form-inline">
      
      <select class="form-control" id="sel2">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
	  </div>
	  </div>
	  </div>
	  <div class="col-md-8">
		<label for="sel3">How would you rate the cleanliness of your car, on return?</label>
	  </div>
			<div class="col-md-2">
			    <div class="form-group">
	  <div class="form-inline">
  
      <select class="form-control" id="sel3">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
	  </div>
	  </div>
	  </div>
	  <div class="col-md-8">
	  <label for="sel4">How would you rate your overall interaction and experience with our workshop?</label>
	  </div>
			<div class="col-md-2">
	     <div class="form-group">
	  <div class="form-inline">
      
      <select class="form-control" id="sel4">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
	  </div>
	  </div>
			</div>
			<div class="col-md-8">
	  <label for="sel4">Is your Car Performing Well?</label>
	  </div>
			<div class="col-md-2">
	     <div class="form-group">
	  <div class="form-inline">
      
      <select class="form-control" id="sel4">
        <option value="0">--Select--</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        
      </select>
	  </div>
	  </div>
			</div><br />
			<div class="col-md-12"><p>Our Contact No. is <<Company Phone No>> till then should you still have any area of concern please let us know. </p></div>
			<div class="col-md-12"><p>Thank you for your valuable feedback and Time. Have a Nice Day</p></div>
			
			
			
			</div>
			</div>
			<div class="pull-right">
					<button type="button" class="btn btn-info" id="BackToSirMam">Back</button>						
					<button type="button" class="btn btn-info" id="NextToHowRate">Next</button>
			</div>
			
			
			</div>
			
			
			<div class="col-md-12 animated  bounceInRight" style="display:none;" id="upsell3rdDayH">
			<label>Capture Lead : Is there an Upsell Opportunity.</label>
		   <br>
		   
			<div class="radio-inline">
			  <label>
			<input type="radio" name="LeadYesH" onclick="" value="Yes" id="LeadYesID3Hyndai" >
				Yes</label>
			</div>
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYesH" value="No" id="LeadNoID3Hyndai" >
				No</label>
			</div>
			<div class="row animated  bounceInRight" style="display:none;" id="LeadHyndai3rdDay">
			 <div class="col-md-12">
			  <div class="col-md-6">
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[0].upSellType" value="service" id="InsuranceIDCheck">
					Service</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="InsuranceSelect">
				 
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[0].taggedTo" id="insuranceLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments1" name="upsellLead[0].upsellComments"></textarea>
					</div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[1].upSellType" value="Warranty / EW" id="WARRANTYID" >
					Warranty / EW</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="WARRANTYSelect">
					
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[1].taggedTo" id="warrantyLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments2" name="upsellLead[1].upsellComments"></textarea>
					</div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="VAS myOutCheckbox" name="upsellLead[2].upSellType" value="VAS" id="VASID" />
					VAS</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="VASTagToSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[2].taggedTo" id="vASLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments3" name="upsellLead[2].upsellComments"></textarea>
					</div>
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClass myOutCheckbox" name="upsellLead[3].upSellType" value="Re-Finance / New Car Finance" id="ReFinanceIDCheck" />
					Re-Finance / New Car Finance</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="ReFinanceSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[3].taggedTo" id="reFinanceLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments4" name="upsellLead[3].upsellComments"></textarea>
					</div>
				 </div>
				</div>
				<div class="col-md-6">
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="Loan myOutCheckbox" name="upsellLead[4].upSellType" value="Sell Old Car" id="LoanID" />
					Sell Old Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="LoanSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[4].taggedTo" id="sellOldCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments5" name="upsellLead[4].upsellComments"></textarea>
					</div>
				  </div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="EXCHANGE myOutCheckbox" name="upsellLead[5].upSellType" value="Buy New Car / Exchange" id="EXCHANGEID" />
					Buy New Car / Exchange</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="EXCHANGEIDSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[5].taggedTo" id="buyNewCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments6" name="upsellLead[5].upsellComments"></textarea>
					</div>
				 	</div>
				  <div class="checkbox">
				  <label>
					<input type="checkbox" class="UsedCar myOutCheckbox" name="upsellLead[6].upSellType" value="UsedCar" id="UsedCarID" />
					Used Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="UsedCarSelect">
				  
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[6].taggedTo" id="usedCarLead1">
						<option >Select</option>
					  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
			<textarea class="form-control" rows="1" id="comments7" name="upsellLead[6].upsellComments"></textarea>
					</div>
				 
				</div>
		   
			  </div>
			</div>
			 
			</div>
			  <div class="pull-right" >
			<button type="button" class="btn btn-info" id="BackTo3rdDayRate">Back</button>
			  <button type="button" class="btn btn-info" id="NextToUpsellInsu">Next</button>
			</div>
			</div>
		  
			
			 <div style="display:none;" class="row animated  bounceInRight" id="PSFYesNamaskarNoDivH" >
			 	<p>We are extremely sorry for an inconvenience </p>
			 	<p>May I know your Suitable time for your valuable feedback</p>
			 
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="followUpDate">Call Back Date</label>
					  <input type="text" name="" class="datepicker form-control" id="">
					</div>
				  </div>
				  <div class="col-md-3">
					<div class="form-group">
					  <label for="followUpTime">Call Back Time</label>
					  <input type="text" name="" class="single-input form-control" id="">
					</div>
				  </div>
				  </br>
				  <div class="pull-right" id="" >
					<button type="button" class="btn btn-info" name="" id="BackToDidUtlakPSFH" >Back</button>
					<button type="button" class="btn btn-info" name="" id="" >Submit</button>
				</div>
				
			</div>
		  
		   <div style="display:none;" class="row animated  bounceInRight" id="PSFFeedbackQ" >
		   <div class="col-md-12">
			 	<p>Would you like to give us any feedback or suggestion? </p>
			 				 
				  	<div class="radio-inline">
					<label>
					  <input type="radio" name="feedback" value="Yes" id="feedbackYes1">
					  Yes </label>
				</div>
				<div class="radio-inline">
					<label>
					  <input type="radio" name="feedback" value="No" id="feedbackNo2">
					 No </label>
				</div>

				
			
			 <div style="display:none;" class="row animated  bounceInRight" id="feedbackPSFYes" >
			 <div class="col-md-12">
			 	<div class="col-md-3">
				<div class="form-group">
				<label>Function</label>
				<select class="form-control">
					<option value="Aftersales">Aftersales</option>
					<option value="Finance">Finance</option>
					<option value="Insurance">Insurance</option>
					<option value="Parts/Acc">Parts/Acc</option>
					<option value="Sales">Sales</option>
					<option value="Used Car Team">Used Car Team</option>
					<option value="Others">Others</option>
				</select>
				</div>	
				</div>
			 		<div class="col-md-3">
				<div class="form-group">
				<label>Assigned To</label>
				<select class="form-control">
					<option value="TBD">TBD</option>
					
				</select>
				</div>	
				</div>
				<div class="col-md-3">
				<div class="form-group">
				<label>Remarks* (Mandate)</label>
				<textarea class="form-control" type="text" rows="2"></textarea>
					
				
				</div>	
				</div>		 
				 </div>
			</div>
			 <div style="display:none;" class="row animated  bounceInRight" id="feedbackPSFNo" >
			 <div class="col-md-12">
			 
				<p>Thank you for your valuable feedback and time. Have a nice day. </p>
			 				 </div>
				 
			</div>
							 <div class="pull-right" id=""  >
					<button type="button" class="btn btn-info" name="" id="BackToSirMamDiv" >Back</button>
					<button type="button" class="btn btn-info" name="" id="SubmitDivMamDiv" >Submit</button>
				</div>
				</div>
		  </div>
		  
		  
		  
			
			<!--panel Group End-->
		</div>
	</div><!--panel Body End-->
   
  </div>
</div>

<script src="@routes.Assets.at("javascripts/psf15thGoldDisposition.js")" type="text/javascript"></script>