
@(modeOfServiceExisting:String,vehicleData:Vehicle,userName:String)
<div class="panel panel-primary">
		<div class="panel-heading" align="center"; style="background-color:#1797be;"><img src="@routes.Assets.at("images/INTERACTION HISTORY.png")" style="width:17px"/>&nbsp;<b>PSF 6th Day Disposition FORM</b> 
		</div>
		
			<div class="panel-body">
			<div class="col-md-12">
				<div class="form-group">
				
<div id="PSFconnectCall1">
						<label for=""><b>Are you able to connect with the customer ?</b></label>
						<br>
						<div class="radio-inline">
							<label>
								<input type="radio" name="isContacted" value="Yes" id="">
								Yes </label>
						</div>
						<div class="radio-inline">
							<label>
								<input type="radio" name="isContacted" value="No" id="" >
								No</label>
						</div>
					</div>

					<div style="display:none;" class="row animated  bounceInRight" id="PSFNotSpeachDiv"><br>
						<div class="col-md-12">
							<label for=""><b>Choose reason for not being able to talk to customer:</b></label>
							<br>
							<div class="radio">
								<label>
									<input type="radio" name="PSFDispositon" value="Ringing No response" id="">
									Ringing No response </label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="PSFDispositon" value="Busy" id="" >
									Busy</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="PSFDispositon" value="Switched Off / Unreachable" id="" >
									Switched Off / Unreachable</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="PSFDispositon" value="Invalid Number" id="" >
									Invalid Number</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="PSFDispositon" value="NoOther" id="" >
									Other</label>
							</div>


							<div class="row animated  bounceInRight" style="display:none;"  id="PSFOtherDivShow">
								<div class="col-md-4">
									<label><b>Please Specify</b></label>
									<textarea type="text" class="form-control textOnlyAccepted" rows="2" name="OtherComments"></textarea>
								</div>
							</div>
							<div class="pull-right">

								<button type="submit" class="btn btn-info" id="talkCustomerSubmit">Submit</button>
							</div>
						</div>
					</div>

					<div style="display:none;" class="row animated  bounceInRight" id="PSFYesTalk" >
						<div class="col-md-12">
							<p>Namaskar ! I am @userName from Sherpas Auto</p>
							<p>We want to take your feedback on the performance of your @{vehicleData.getModel()} ,  @{vehicleData.getVehicleRegNo()} </p>
							<p>Please may I speak to you for few minutes?</p>
							<div class="radio-inline">
								<label>
									<input type="radio" name="disposition"  class='psfYesNamaskarbtn' value="PSF_Yes" id="psfYesNamaskarbtn">
									Yes </label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="disposition" value="Call Me Later" id="PSFNoNamaskarbtn" class="PSFNoNamaskarbtn">
									No(Call Me Later) </label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="disposition" value="Not Interested" id="PSFNotInterested">
									Not Interested </label>
							</div>
						</div>
					</div>

<div style="display:none;" class="row animated  bounceInRight" id="PSFYesNamaskarYesDiv" >
						<div class="col-md-12">
							<p>We had an opportunity to attend your vehicle in our workshop on (@{vehicleData.getLastServiceDate()}) for (@{vehicleData.getLastServiceType()})</p>
							<p>Please help me with your feedback on the following metrics</p>
							<p>Firstly, I understand that you @{if(modeOfServiceExisting==""){
							
							"didn't "
							}}choose  @{if(modeOfServiceExisting==""){
							
							"any"
							}}<u id="selectServiceMode">
							
							@modeOfServiceExisting
							</u> &nbsp; option for service.    @{if(modeOfServiceExisting==""){
							
							"So, please select 'No' "
							}} @{if(modeOfServiceExisting!=""){
							
							"Is that Correct"
							}}</p>
							<div class="radio-inline">
								<label>
									<input type="radio" name="modeOfService" value="PSFSelf Yes" id="PSF1Yess">
									Yes </label>
							</div>
							<div class="radio-inline">
								<label>
									<input type="radio" name="modeOfService" value="PSFSelf No" id="PSF1Noo">
									No </label>
							</div>

							<div style="display:none;" class="row animated  bounceInRight" id="PsfSelfDriveInNo1" >

								<div class="col-md-3">
									<label for="">Choose the service mode</label>
									<select class="form-control" id="dropDownCheckedSelect1" name="modeOfServiceDone">
										<option value="0">--Select--</option>
										<option value="Self Drive-in">Self Drive-in</option>
										<option value="Pick-Up">Pick-Up</option>
										<option value="MMS">MMS</option>

									</select>
								</div>
							</div>

							<div class="pull-right">
								<button type="button" class="btn btn-info" id="BackTospeak">Back</button>						
								<!-- <button type="submit" class="btn btn-info" name="NextToPSFDriveIN" value="" id="NextToPSFDriveIN">Next</button> -->
							</div>

						</div>
					</div>


					<!----Self Drive In1 Div--->
					<div class="6thDayPSF" style="display:none;" >
						<div style="" class="row animated  bounceInRight" id="" >
							<div class="col-md-12">

								<h5>"6th Day PSF Call (For Customer who Personallycame for Service/Repairs to the Workshop)"</h5>
								<label>1. How is the vehicle performance now? </label><br>
								<label class="radio-inline">
									<input type="radio" name="selfDriveInFeedBack" value="Satisfied" id ="SatisfiedYesBtn">Satisfied
								</label>
								<label class="radio-inline">
									<input type="radio" name="selfDriveInFeedBack"  value="Dissatisfied" id="SatisfiedNoBtn">Dissatisfied
								</label>
							</div>
						</div>
						<div style="display:none;" class="row animated  bounceInRight" id="DisSatisfiedID">
							<div class="form-group">

								
								
								<div class="col-md-4">
								<label>Kindly suggest the reason of your dissatisfaction</label>

							<textarea type="text" rows="2" class="form-control" id="dissatisfactionReason" name="reasonOfDissatification" ></textarea>

								</div>
								
								<label>May I please schedule a visit for your vehicle at your convenient time ?</label>
								<div class="col-md-8">
								
									<div class="form-group col-md-4 form-inline">
										
											<label for="followUpDate">Date
												<input type="text" class="datepickerPlus30Days form-control" name="dateOfVisit" id="followUpDateDissatisfied" readonly>
											</label>
										
									</div>
									<div class="form-group col-md-5 form-inline">
										
											<label for="followUpTime">Time
												<input type="text" class="single-input form-control" name="timeOfVisit" id="followUpDateDissatisfiedTime" readonly>
											</label>
										
									</div>
								</div>

							</div>


						</div>
						<div class="pull-right" id="demanded" >
							<button type="button" class="btn btn-info" id="BackTo1question">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTodemanded2DivShow" >Next</button>
						</div>
					</div>

					<div class="2PSFDemanded" style="display:none;">
						<div  class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>2. Were all the demanded repairs completed as requested by you? </label><br>
								<label class="radio-inline">
									<input type="radio" name="demandedRequestDone"  id="demanded2" value="Yes" id="demanded2Yesbtn">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="demandedRequestDone"  value="No" id="demanded2Nobtn">No
								</label>

							</div>
						</div>

						<div style="display:none;" class="row animated  bounceInRight" id="IfNodemandedDiv">
							<div class="col-md-12">
								<label>Please enter the specific details of repair, not completed in PSF list.</label><br>
							</div>
							<div class="col-md-3">
								<textarea type="text" class="form-control" rows="2" id="repairTextVal" name="specificDetailsOfVisitNotCompleted"></textarea>
							</div>

						</div>
						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo1stQuestion">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo3Question" >Next</button>
						</div>

					</div>

					<div id="3rdPSFDemanded" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>3. Were all the problems of your vehicle fixed in the first visit?  </label><br>
								<label class="radio-inline">
									<input type="radio" name="isProblemFixedInFirstVisit"  id="3WereYesBtn" value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isProblemFixedInFirstVisit"  id="3WereNoBtn" value="No">No
								</label>

							</div>
						</div>

						<div style="display:none;" class="row animated  bounceInRight" id="3problemPSFListDiv">
							<div class="col-md-12">
								<label>Enter the details of problem in PSF list.</label><br>
							</div>
							<div class="col-md-3">
								<textarea type="text" class="form-control" rows="2" id="problemTxt"></textarea>
							</div>

						</div>
						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo2Question">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo4Question" >Next</button>
						</div>

					</div>
					<!---------------------------------------4th question----------------------------------------->
					<div id="4thquestionDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>4. Was your vehicle delivered as per promised time? </label><br>
								<label class="radio-inline">
									<input type="radio" name="isDeliveredAsPromisedTime"  id="" value="Yes" id="4thNameYesBtn">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isDeliveredAsPromisedTime"  value="No" id="4thNameNoBtn">No
								</label>

							</div>
						</div>

						<div style="display:none;" class="row animated  bounceInRight" id="4thQuestList">
							<div class="col-md-12">
								<label>Enter the delay time in the PSF list.</label><br>
							</div>
							<div class="col-xs-1">
								<label for="ex1">Hours</label>
								<input class="form-control" id="hoursVal" min="0" max="23" maxlength="2"  name="delayInHours" type="number">
							</div>
							<div class="col-xs-1">
								<label for="ex2">Minutes</label>
								<input class="form-control" id="MinuteVal" min="0" max="59" maxlength="2" name="delayInMin" type="number">
							</div>

						</div>
						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo3rdQuestion">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo5thQuestion" >Next</button>
						</div>

					</div>

					<!---------------------------------------5th question----------------------------------------->
					<div id="5thquestionDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>5. Were you satisfied with the washing quality of your vehicle?</label><br>
								<label class="radio-inline">
									<input type="radio" name="satisfiedWithWashingSelfD"  id="" value="Yes" id="5thNameYesBtn">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="satisfiedWithWashingSelfD"  value="No" id="5thNameNoBtn">No
								</label>

							</div>
						</div>

						<div style="display:none;" class="row animated  bounceInRight" id="5thQuestList">
							<div class="col-md-12">
								<label>Enter the specific details of complaint in PSF list.</label><br>
							</div>
							<div class="col-md-3">
								<textarea type="text" class="form-control" rows="2" name="specificDetailsOfComplaint" id="specificTxt"></textarea>
							</div>

						</div>
						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo4thQuestion">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo6thQuestion" >Next</button>
						</div>

					</div>

					<!---------------------------------------6th question----------------------------------------->
					<div id="6thquestionDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>6. Was the work done on the vehicle & service charges, explained at the time of vehicle delivery?</label><br>
								<label class="radio-inline">
									<input type="radio" name="workDoneOnVehiandServExpAtTimeOfDeli"  id="6thNameYes" value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="workDoneOnVehiandServExpAtTimeOfDeli"  id="6thNameNo" value="No">No
								</label>

							</div>
						</div>


						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo5thQuestion">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo7thQuestion" >Next</button>
						</div>

					</div>

					<!---------------------------------------7th question----------------------------------------->
					<div id="7thquestionDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>7. How will you rate the performance of your Service Advisor in the recent service visit? </label><br>
								<label class="radio-inline">
									<input type="radio" name="ratePerformanceOfSA"  id="" value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="ratePerformanceOfSA"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo6thQuestion">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo8thQuestion" >Next</button>
						</div>

					</div>

					<!---------------------------------------8th question----------------------------------------->
					<div id="8thquestionDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="8thQuestList">
							<div class="col-md-12">
								<label>8. Did you visit the workshop with prior appointment?  </label><br>
								<label class="radio-inline">
									<input type="radio" name="isVisitedWorkshopBeforeAppoint"  id="8thNameYes" value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isVisitedWorkshopBeforeAppoint" id="8thNameNo" value="No">No
								</label>

							</div>
						</div>
					<div style="display:none;" class="row animated  bounceInRight" id="8thQuestListYes">
							<div class="col-md-12">
								<label>9. Did you get an appointment, as you desired?</label><br>
								<label class="radio-inline">
									<input type="radio" name="isAppointmentGotAsDesired"  id="Sub9ThQuestYes" value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isAppointmentGotAsDesired" id="Sub9ThQuestNo" value="No">No
								</label>
							</div>

						</div> 

						<div style="display:none;" class="row animated  bounceInRight" id="IfNo9thquestion">
							<div class="col-md-12">
								<label>Mention the period for delay in getting an appointment.</label><br>
							</div>
							<div class="col-xs-1">
								<label for="ex1">Hours</label>
								<input class="form-control" min="0" max="23" maxlength="2" id="appointmentHour" type="number">
							</div>
							<div class="col-xs-1">
								<label for="ex2">Minutes</label>
								<input class="form-control" min="0" max="59" maxlength="2" id="appointmentMins" type="number">
							</div>

						</div>




						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo7thQuestion">Back</button>						
							<button type="button" class="btn btn-info" name="" id="nextToLastQuestion" >Next</button>
						</div>

					</div>
					<div id="9questionSatisfiedDiv" style="display:none;">
						<div class="row animated  bounceInRight" id="8thQuestListNo11">
							<div class="col-md-12">
								<label>10. What is the overall satisfaction with the service provided?</label><br>
								<label class="radio-inline">
									<input type="radio" name="isSatisfiedWithServiceProvided" id="11thNameSatis" value="Satisfied">Satisfied
								</label>
								<label class="radio-inline">
									<input type="radio" name="isSatisfiedWithServiceProvided" id="11thNameDesatis" value="Dissatisfied">Dissatisfied
								</label>
							</div>
						</div>
						<div style="display:none;" class="row animated  bounceInRight" id="IfYes11thqueSatisfied">
							<div class="col-md-12">
								<label>11.How would you rate the service/repair experience on a scale of 1-10?.</label><br>
								<p>Considering 9-10 as excellent, 9 as good, 8 & below are average/unacceptable. self1</p>
							</div>
							<div class="col-md-3">
								<select class="form-control" id="11thSelectId" name="ratinglast">
									<option value="0">--Select--</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</div>

						</div>
						
						<div style="display:none;" class="row animated  bounceInRight" id="IfNo11thqueDissatisfiedNew">
							<div class="col-md-12">

								<label>Sir/Madam, we are sorry that the vehicle repair was not done to your satisfaction during your last visit.</label><br>
								<div class="form-group" style="margin-left: 20px;">
									<label class="radio">
										<input type="radio" name="remarksDissatisfied" value="bring the vehicleNew" id="ratingRadio1New">Select if, customer would like to bring the vehicle to workshop for attending the problems
									</label>
									<div style="display:none;" class="row animated  bounceInRight" id="RattingQuestion2New">
										<div class="col-md-12">
											<label>Select the prefered data and time </label>
										</div>
										<div class="form-group">

											<label class="control-label col-sm-1" for="">Date:</label>
											<div class="col-sm-2">
												<input type="text" name="" class="datepickerPlus30Days form-control" id="RattingQuestion1dateNew" readonly>
											</div>



											<label class="control-label col-sm-1" for="">Time:</label>
											<div class="col-sm-2">
												<input type="text" name="" class="single-input form-control" id="RattingQuestion1timeNew" readonly>
											</div>



										</div>
									</div>

									<label class="radio">
										<input type="radio" name="remarksDissatisfied" value="customer's premiseNew" id="ratingRadio1New"> Select if, a staff to be sent to customer's premise to attend to the problem at your premises. 
									</label>
									<div style="display:none;" class="row animated  bounceInRight" id="RattingQuestion3New">
										<div class="col-md-12">
											<label>Select the prefered data and time </label>
										</div>
										<div class="form-group">

											<label class="control-label col-sm-1" for="">Date:</label>
											<div class="col-sm-2">
											<input type="text" name="" class="datepickerPlus30Days form-control" id="RattingQuestiondate2New" readonly>
											</div>



											<label class="control-label col-sm-1" for="">Time:</label>
											<div class="col-sm-2">
												<input type="text" name="" class="single-input form-control" id="RattingQuestiontime2New" readonly>
											</div>



										</div>
									</div>
									<label class="radio">
										<input type="radio" name="remarksDissatisfied" value="improve our servicesNew" id="ratingRadio3New">We sincerely assure you that we shall improve our services and provide satisfactory service on your next service. 
									</label>
									<div class="row">
										<label>Once again we apologize for the inconvenience caused to you. </label>
									</div>

								</div>

							</div>
						</div>
						
						<div style="display:none;" class="row animated  bounceInRight" id="rattingAbove8">
							<div class="col-md-12">

								<br>
								<label>We thank you for your feedback & sparing your valuable time. Good day/evening,</label>
							</div>


						</div>


						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackToLastQuestion9">Back</button>						
							<button type="button" class="btn btn-info" id="NextUpsellSelfDriveIN">Next</button>						
							<!-- <button type="submit" class="btn btn-info" name="" id="BackToLastQuestion9Submit" >Submit</button> -->
						</div>
					</div>





					<!----Pickup up1 Div--->
					<div style="display:none;" class="row animated  bounceInRight" id="PickUp1Div" >
						<div class="col-md-12">
							<div style="" class="row animated  bounceInRight" id="" >
								<div class="col-md-12">

									<h5>"6th Day PSF Call (For Customer who availed Pick-up & Drop Facility for Service/Repairs)"</h5>
									<label>1A. How is the vehicle performance now?</label><br>
									<label class="radio-inline">
								  <input type="radio" name="vehiclePerformancePickUp"   id="Pickup1QuestNameSatis" value="Satisfied">Satisfied
									</label>
									<label class="radio-inline">
								<input type="radio" name="vehiclePerformancePickUp"   id="Pickup1QuestNameDesatis" value="Dissatisfied" >Dissatisfied
									</label>

									<!-- <div style="display:none;" class="row animated  bounceInRight" id="PickUpSatisfiedYes" > 
									<div class="col-md-12"> 
							 <h1>Yes</h1>
							 </div> 
							 </div> -->

									<div style="display:none;" class="row animated  bounceInRight" id="PickUpDisSatisfiedNo" >
										<div class="col-md-12">

											<label>Did you demand this repair during your last visit? </label><br>
											<label class="radio-inline">
												<input type="radio" name="isDemandOfSerDoneInLVisitpickup" value="Yes" id="pickupRepair1Yes">Yes
											</label>
											<label class="radio-inline">
												<input type="radio" name="isDemandOfSerDoneInLVisitpickup"  value="No"  id="pickupRepair1No">No
											</label>				

										</div>
									</div>
									<div style="display:none;" class="row animated  bounceInRight" id="pickupRepareYesDiv" >
										<div class="col-md-12">

											<label>Please check in the demanded repair list, if available & action is also taken, then enter the reason as work not done first time right in PSF list otherwise enter the reason as demanded repair not completed.</label>


										</div>
									</div>
									<div style="display:none;" class="row animated  bounceInRight" id="pickupRepareNoDiv" >
										<div class="col-md-3">

											<label>Enter it as new complaint</label><br>
											<textarea class="form-control" rows="2" type="text" id="pickupTextRemark"></textarea>			

										</div>
									</div>


								</div>
							</div>
							<div class="pull-right" id="" style="">
								<button type="button" class="btn btn-info" id="BackTo1stQPickUp">Back</button>						
								<button type="button" class="btn btn-info" name="" id="NextToPickup2ndQuest" >Next</button>
							</div>
						</div>
					</div><!----Pickup up1 Div End--->

					<!---------------------------------------Pick-Up 2 question----------------------------------------->
					<div id="pickup2ndQuestDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>2. Did you get a confirmation call on the previous day of picking up your vehicle for fixing the vehicle pick-up time? </label><br>
								<label class="radio-inline">
									<input type="radio" name="iscallMadeToFixPickUptime"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="iscallMadeToFixPickUptime"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo1QuestionPickup">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo3rdQuestionPickup" >Next</button>
						</div>

					</div>
					<!---------------------------------------Pick-Up 3rd question----------------------------------------->
					<div id="pickup3rdQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>3.Did you get a call from workshop to confirm/clarify the demanded job as mentioned on the pick-up not after vehicle reach at the workshop? </label><br>
								<label class="radio-inline">
									<input type="radio" name="isCallRecievedBeforeVehWorkshop"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isCallRecievedBeforeVehWorkshop"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo2ndQuestionPickup">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo4thQuestionPickup">Next</button>
						</div>

					</div>
					<!---------------------------------------Pick-Up 4th question----------------------------------------->
					<div id="pickup4thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>4. Were you explained the jobs to be done and charges before starting the job? </label><br>
								<label class="radio-inline">
									<input type="radio" name="chargesInfoExplainedBeforeServiceMMS"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="chargesInfoExplainedBeforeServiceMMS"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo3rdQuestionPickup">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo5thQuestionPickup" >Next</button>
						</div>

					</div>
					<!---------------------------------------Pick-Up 5th question----------------------------------------->
					<div id="pickup5thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>5. Was the vehicle ready as per promised delivery time? </label><br>
								<label class="radio-inline">
									<input type="radio" name="isVehicleReadyAsPromisedDate"  value="Yes" id="5thPickUpNameYes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isVehicleReadyAsPromisedDate"  value="No" id="5thPickUpNameNo">No
								</label>

								<div class="row animated  bounceInRight" id="5thPickUpDivNo" style="display:none;">
									<div class="col-md-12">
										<label>Delayed by how much time? Enter the details in PSF list. </label><br>
									</div>
									<div class="col-xs-1">
										<label for="ex1">Hours</label>
										<input class="form-control" id="PickUpDivDate" min="0" max="23" maxlength="2" type="number">
									</div>
									<div class="col-xs-1">
										<label for="ex2">Minutes</label>
										<input class="form-control" id="PickUpDivMin" min="0" max="59" maxlength="2" type="number">
									</div>
									<div class="col-md-3">
										<label for="ex2">PSF list</label>
										<textarea class="form-control" rows="2" id="PickUpDivText" ></textarea>
									</div>
								</div>
							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo4thQuestionPickup">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo6thQuestionPickup" >Next</button>
						</div>

					</div>

					<!---------------------------------------Pick-Up 6th question----------------------------------------->
					<div id="pickup6thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>6. Were the charges same, as per the estimate provided to you.</label><br>
								<label class="radio-inline">
									<input type="radio" name="isChargesAsEstimatedpickUp"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isChargesAsEstimatedpickUp"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo5thQuestionPickup">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo7thQuestionPickup" >Next</button>
						</div>

					</div>
					<!---------------------------------------Pick-Up 7th question----------------------------------------->
					<div id="pickup7thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>7. Was the repair done & charges explained to you before the vehicle was delivered to you.</label><br>
								<label class="radio-inline">
									<input type="radio" name="isChargesAndRepairAsMentionedPickup"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isChargesAndRepairAsMentionedPickup"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo6thQuestionPickup">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo8thQuestionPickup" >Next</button>
						</div>

					</div>

					<!---------------------------------------Pick-Up 8th question----------------------------------------->
					<div id="pickup8thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>8. Were you satisfied with the washing quality of your vehicle? </label><br>
								<label class="radio-inline">
									<input type="radio" name="satisfiedWithWashingPickup"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="satisfiedWithWashingPickup"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo7thQuestionPickup">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo9thQuestionPickup" >Next</button>
						</div>

					</div>
					<!---------------------------------------Pick-Up 9th question----------------------------------------->
					<div id="pickup9thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>9. Was the Pick-up & Drop Associate courteous? </label><br>
								<label class="radio-inline">
									<input type="radio" name="isPickUpDropStaffCourteous"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isPickUpDropStaffCourteous"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo8thQuestionPickup">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo10thQuestionPickup" >Next</button>
						</div>

					</div>
					<!---------------------------------------Pick-Up 10th question----------------------------------------->
					<div id="pickup10thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>10.Are you satisfied with the quality of pick-up & drop service provided by us? </label><br>
								<label class="radio-inline">
									<input type="radio" name="isQualityOfPickUpDone"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isQualityOfPickUpDone"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo9thQuestionPickup">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo11thQuestionPickup" >Next</button>
						</div>

					</div>
					<!---------------------------------------Pick-Up 11th question----------------------------------------->
					<div id="pickup11thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>11. How would you rate overall service experience on a scale on 1-10? </label><br>
								<p>Considering 9-10 as excellent, 9 as good,8 & below are average/unacceptable. Pickup</p>
							</div>
							<div class="col-md-3">
								<select class="form-control" id="PickUpRatingSelect"  name="pickupRatingName" >
									<option value="0">--Select--</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>

							</div>
						</div>
						<div style="display:none;" class="row animated  bounceInRight" id="IfNo11thqueDissatisfiedPickUp">
							<div class="col-md-12">

								<label>Sir/Madam, we are sorry that the vehicle repair was not done to your satisfaction during your last visit.</label><br>
								<div class="form-group" style="margin-left: 20px;">
									<label class="radio">
										<input type="radio" name="remarksPickUp" value="bring the vehiclePickUp" id="pickUpRadio1">Select if, customer would like to bring the vehicle to workshop for attending the problems
									</label>
									<div style="display:none;" class="row animated  bounceInRight" id="RattingQuestion1PickUp">
										<div class="col-md-12">
											<label>Select the prefered data and time </label>
										</div>
										<div class="form-group">

											<label class="control-label col-sm-1" for="">Date:</label>
											<div class="col-sm-2">
												<input type="text" name="" class="datepickerPlus30Days form-control" id="pickupDate1" readonly>
											</div>



											<label class="control-label col-sm-1" for="">Time:</label>
											<div class="col-sm-2">
												<input type="text" name="" class="single-input form-control" id="pickupTime1" readonly>
											</div>



										</div>
									</div>

									<label class="radio">
										<input type="radio" name="remarksPickUp" value="customer's premisePickUp" id="pickUpRadio2"> Select if, a staff to be sent to customer's premise to attend to the problem at your premises. 
									</label>
									<div style="display:none;" class="row animated  bounceInRight" id="RattingQuestion2PickUp">
										<div class="col-md-12">
											<label>Select the prefered data and time </label>
										</div>
										<div class="form-group">

											<label class="control-label col-sm-1" for="">Date:</label>
											<div class="col-sm-2">
												<input type="text" name="" class="datepickerPlus30Days form-control" id="pickupDate2" readonly>
											</div>



											<label class="control-label col-sm-1" for="">Time:</label>
											<div class="col-sm-2">
												<input type="text" name="" class="single-input form-control" id="pickupTime2" readonly>
											</div>



										</div>
									</div>
									<label class="radio">
										<input type="radio" name="remarksPickUp" value="improve our servicesPickUp">We sincerely assure you that we shall improve our services and provide satisfactory service on your next service. 
									</label>
									<div class="row">
										<label>Once again we apologize for the inconvenience caused to you. </label>
									</div>

								</div>

							</div>
						</div>
						<div style="display:none;" class="row animated  bounceInRight" id="rattingAbove8PickUp">
							<div class="col-md-12">

								<br>
								<label>We thank you for your feedback & sparing your valuable time. Good day/evening,</label>
							</div>


						</div>
						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo10thQuestionPickup">Back</button>
							<button type="button" class="btn btn-info" id="PSFUpsellPickup">Next</button>							
							<!-- <button type="submit" class="btn btn-info" name="" id="pickupSubmitVal" >Submit</button> -->
						</div>

					</div>

					<!-----MMS---->
					<div style="display:none;" class="row animated  bounceInRight" id="MMS1Div" >
						<div class="col-md-12">
							<div style="" class="row animated  bounceInRight" id="" >
								<div class="col-md-12">

									<h5>"6th Day PSF Call (For Customer who availed Doorstep Service for Service/Repairs) through MMS"</h5>
									<label>1A. How is the vehicle performance now?</label><br>
									<label class="radio-inline">
										<input type="radio" name="vehiclePerformance" value="Satisfied" id="MMS1QuestNameSatis">Satisfied
									</label>
									<label class="radio-inline">
										<input type="radio" name="vehiclePerformance"  value="Dissatisfied" id="MMS1QuestNameDisatis" >Dissatisfied
									</label>

									<!-- <div style="display:none;" class="row row animated  bounceInRight" id="PickUpSatisfiedYes" > 
									<div class="col-md-12"> 
							 <h1>Yes</h1>
							 </div> 
							 </div> -->

									<div style="display:none;" class="row animated  bounceInRight" id="MMSDisSatisfiedNo" >
										<div class="col-md-12">

											<label>Did you demand this repair during your last visit? </label><br>
											<label class="radio-inline">
												<input type="radio" name="isDemandOfSeriviceDoneInLastVisit" value="Yes" id="MMSRepair1Yes">Yes
											</label>
											<label class="radio-inline">
												<input type="radio" name="isDemandOfSeriviceDoneInLastVisit"  value="No" id="MMSRepair1No" >No
											</label>				

										</div>
									</div>
									<div style="display:none;" class="row animated  bounceInRight" id="MMSRepareYesDiv" >
										<div class="col-md-12">

											<label>Please check in the demanded repair list, if available & action is also taken, then enter the reason as work not done first time right in PSF list otherwise enter the reason as demanded repair not completed.</label>


										</div>
									</div>
									<div style="display:none;" class="row animated  bounceInRight" id="MMSRepareNoDiv" >
										<div class="col-md-3">

											<label>Enter it as new complaint</label><br>
											<textarea class="form-control" rows="2" type="text" id="mmsTextVal"></textarea>			

										</div>
									</div>


								</div>
							</div>
							<div class="pull-right" id="" style="">
								<button type="button" class="btn btn-info" id="BackTo1stQMMS">Back</button>						
								<button type="button" class="btn btn-info" name="" id="NextToMMS2ndQuest" >Next</button>
							</div>
						</div>
					</div><!----MMS Div End--->
					<!---------------------------------------MMS 2 question----------------------------------------->
					<div id="MMS2ndQuestDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>2. Did you receive the desired service appointment for doorstep service. </label><br>
								<label class="radio-inline">
									<input type="radio" name="isAppointmentReceviedAsReq"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isAppointmentReceviedAsReq"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo1QuestionMMS">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo3rdQuestionMMS" >Next</button>
						</div>

					</div>
					<!---------------------------------------MMS 3rd question----------------------------------------->
					<div id="MMS3rdQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>3. Did you get a confirmation call on the previous day of the doorstep service.  </label><br>
								<label class="radio-inline">
									<input type="radio" name="iscallMadeOneDayBeforeService"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="iscallMadeOneDayBeforeService"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo2ndQuestionMMS">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo4thQuestionMMS">Next</button>
						</div>

					</div>
					<!---------------------------------------MMS 4th question----------------------------------------->
					<div id="MMS4thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>4. Were you explained the jobs to be done and charges before starting the job?  </label><br>
								<label class="radio-inline">
									<input type="radio" name="chargesInfoExplainedBeforeService"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="chargesInfoExplainedBeforeService"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo3rdQuestionMMS">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo5thQuestionMMS" >Next</button>
						</div>

					</div>
					<!---------------------------------------MMS 5th question----------------------------------------->
					<div id="MMS5thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>5. Was the time taken to service your vehicle reasonable?</label><br>
								<label class="radio-inline">
									<input type="radio" name="isTimeTakenForServiceReasonable"  value="Yes" id="5thMMSNameYesData">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isTimeTakenForServiceReasonable"  value="No" id="5thMMSNameNoData">No
								</label>

								<div class="row animated  bounceInRight" id="5thMMSDivNo" style="display:none;">
									<div class="col-md-12">
										<label>Delayed by how much time? Enter the details in PSF list. </label><br>
									</div>
									<div class="col-xs-1">
										<label for="ex1">Hours</label>
										<input class="form-control" min="0" max="23" maxlength="2" id="5thMMSNameHourData" type="number">
									</div>
									<div class="col-xs-1">
										<label for="ex2">Minutes</label>
										<input class="form-control" min="0" max="59" maxlength="2" id="5thMMSNameMinData" type="number">
									</div>
									<div class="col-md-3">
										<label for="">PSF list</label>
										<textarea class="form-control" rows="2" id="5thMMSNameTextData" ></textarea>
									</div>
								</div>
							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo4thQuestionMMS">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo6thQuestionMMS" >Next</button>
						</div>

					</div>

					<!---------------------------------------MMS 6th question----------------------------------------->
					<div id="MMS6thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>6. Were the charges same, as per the estimate provided to you.</label><br>
								<label class="radio-inline">
									<input type="radio" name="isChargesAsEstimated"  value="">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isChargesAsEstimated"  value="">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo5thQuestionMMS">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo7thQuestionMMS" >Next</button>
						</div>

					</div>
					<!---------------------------------------MMS7th question----------------------------------------->
					<div id="MMS7thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>7. Was the repair done & charges explained to you before the vehicle was delivered to you.</label><br>
								<label class="radio-inline">
									<input type="radio" name="isChargesAndRepairAsMentioned"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isChargesAndRepairAsMentioned"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo6thQuestionMMS">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo8thQuestionMMS" >Next</button>
						</div>

					</div>

					<!---------------------------------------MMS 8th question----------------------------------------->
					<div id="MMS8thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>8. Were you satisfied with the washing quality of your vehicle? </label><br>
								<label class="radio-inline">
									<input type="radio" name="satisfiedWithWashing"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="satisfiedWithWashing"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo7thQuestionMMS">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo9thQuestionMMS" >Next</button>
						</div>

					</div>
					<!---------------------------------------MMS 9th question----------------------------------------->
					<div id="MMS9thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>9. Was the workshop staff courteous? </label><br>
								<label class="radio-inline">
									<input type="radio" name="isworkshopStaffCourteous"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="isworkshopStaffCourteous"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo8thQuestionMMS">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo10thQuestionMMS" >Next</button>
						</div>

					</div>
					<!---------------------------------------MMS 10th question----------------------------------------->
					<div id="MMS10thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>10. Are you satisfied with the quality of doorstep service provided by us?</label><br>
								<label class="radio-inline">
									<input type="radio" name="satisfiedWithQualityOfDoorService"  value="Yes">Yes
								</label>
								<label class="radio-inline">
									<input type="radio" name="satisfiedWithQualityOfDoorService"  value="No">No
								</label>

							</div>
						</div>

						<div class="pull-right" id="" style="">
							<button type="button" class="btn btn-info" id="BackTo9thQuestionMMS">Back</button>						
							<button type="button" class="btn btn-info" name="" id="NextTo11thQuestionMMS" >Next</button>
						</div>

					</div>
					<!---------------------------------------MMS 11th question----------------------------------------->
					<div id="MMS11thQuestPickUpDiv" style="display:none;">
						<div style="" class="row animated  bounceInRight" id="">
							<div class="col-md-12">
								<label>11. How would you rate overall service experience on a scale on 1-10 ? </label><br>
								<p>Considering 9-10 as excellent, 9 as good,8 & below are average/unacceptable.</p>
							</div>
							<div class="col-md-3">
								<select class="form-control" id="MMSRatingSelect" name="MMSRatingName" >
									<option value="0">--Select--</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>

							</div>
						</div>
							<div style="display:none;" class="row animated  bounceInRight" id="IfNo11thqMMS">
							<div class="col-md-12">

								<label>Sir/Madam, we are sorry that the vehicle repair was not done to your satisfaction during your last visit.</label><br>
								<div class="form-group" style="margin-left: 20px;">
									<label class="radio">
										<input type="radio" name="PSF6thDayPSF" value="Yes workshop" id="ratingRadio1New">Select if, customer would like to bring the vehicle to workshop for attending the problems
									</label>
									<div style="display:none;" class="row animated  bounceInRight" id="RattingQuestion2New6thdayPSF">
										<div class="col-md-12">
											<label>Select the prefered data and time </label>
										</div>
										<div class="form-group">

											<label class="control-label col-sm-1" for="">Date:</label>
											<div class="col-sm-2">
												<input type="text" name="" class="datepickerPlus30Days form-control" id="RattingQuestion1dateNew" readonly>
											</div>



											<label class="control-label col-sm-1" for="">Time:</label>
											<div class="col-sm-2">
												<input type="text" name="" class="single-input form-control" id="RattingQuestion1timeNew" readonly>
											</div>



										</div>
									</div>

									<label class="radio">
										<input type="radio" name="PSF6thDayPSF" value="customer premise" id="ratingRadio1New"> Select if, a staff to be sent to customer's premise to attend to the problem at your premises. 
									</label>
									<div style="display:none;" class="row animated  bounceInRight" id="RattingQuestion3New6thDayPSF">
										<div class="col-md-12">
											<label>Select the prefered data and time </label>
										</div>
										<div class="form-group">

											<label class="control-label col-sm-1" for="">Date:</label>
											<div class="col-sm-2">
											<input type="text" name="" class="datepickerPlus30Days form-control" id="RattingQuestiondate2New" readonly>
											</div>



											<label class="control-label col-sm-1" for="">Time:</label>
											<div class="col-sm-2">
												<input type="text" name="" class="single-input form-control" id="RattingQuestiontime2New" readonly>
											</div>



										</div>
									</div>
									<label class="radio">
										<input type="radio" name="PSF6thDayPSF" value="improve our servicesNew" id="ratingRadio3New">We sincerely assure you that we shall improve our services and provide satisfactory service on your next service. 
									</label>
									<div class="row">
										<label>Once again we apologize for the inconvenience caused to you. </label>
									</div>

								</div>

							</div>
						</div>
						
						<div style="display:none;" class="row animated  bounceInRight" id="rattingAbove8MMS">
							<div class="col-md-12">

								<br>
								<label> We thank you for your feedback & sparing your valuable time. Good day/evening.</label>
							</div>


						</div>
						<div class="pull-right">
							<button type="button" class="btn btn-info" id="BackTo10thQuestionMMS">Back</button>						
							<button type="button" class="btn btn-info" id="6thdayUpselAppo">Next</button>
						</div>

					</div>
					<!-------------Upsell PSF---------------->
		<div class="row animated  bounceInRight" id="UpsellPSF6ththday" style="display:none;">
						  <div class="col-md-12">
				   
					<label>Capture Lead : Is there an Upsell Opportunity.</label>
				   <br>
				   
					<div class="radio-inline">
					  <label>
						<input type="radio" name="CaptureLeadPSF" onclick="loadLeadBasedOnLocation();" value="Capture Lead Yes PSF" id="CaptureLeadPSFYES" >
						Yes</label>
					</div>
					<div class="radio-inline">
					  <label>
						<input type="radio" name="CaptureLeadPSF" value="Capture Lead No PSF" id="CaptureLeadPSFNO" >
						No</label>
					</div>
					<div class="row animated  bounceInRight" style="display:none;" id="LeadDivAlreadyService">
					  <div class="col-md-6">
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="PSFUpsell" name="upsellLead[0].upSellType" value="Insurance" id="InsuranceIDCheckAlreadyServiced">
							Insurance</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="InsuranceSelectAlreadyService">
						  <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[0].taggedTo" id="insuranceLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[0].upsellComments"></textarea>
							</div>
						   </div>
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="PSFUpsell" name="upsellLead[1].upSellType" value="Warranty / EW" id="WARRANTYIDAlreadyService" >
							Warranty / EW</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="WARRANTYSelectAlreadyService">
							<div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[1].taggedTo" id="warrantyLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[1].upsellComments"></textarea>
							</div>
						   </div>
						  
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="PSFUpsell" name="upsellLead[2].upSellType" value="VAS" id="VASIDAlreadyService" />
							VAS</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="VASTagToSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[2].taggedTo" id="vASLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[2].upsellComments"></textarea>
							</div>
						   </div>
						  
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="PSFUpsell" name="upsellLead[3].upSellType" value="Re-Finance / New Car Finance" id="ReFinanceIDCheckAlreadyService" />
							Re-Finance / New Car Finance</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="ReFinanceSelectAlreadyService">
						  <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[3].taggedTo" id="reFinanceLead">
								<option >Select</option>	
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[3].upsellComments"></textarea>
							</div>
						   </div>
						 
						</div>
						</div>
						 <div class="col-md-6">
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="PSFUpsell" name="upsellLead[4].upSellType" value="Sell Old Car" id="LoanIDAlreadyService" />
							Sell Old Car</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="LoanSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[4].taggedTo" id="sellOldCarLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[4].upsellComments"></textarea>
							</div>
						   </div>
					
						</div>
						<div class="checkbox">
						  <label>
							<input type="checkbox" class="PSFUpsell" name="upsellLead[5].upSellType" value="Buy New Car / Exchange" id="EXCHANGEIDAlreadyService" />
							Buy New Car / Exchange</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="EXCHANGEIDSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[5].taggedTo" id="buyNewCarLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[5].upsellComments"></textarea>
							</div>
						   </div>
						
						</div>
						  <div class="checkbox">
						  <label>
							<input type="checkbox" class="PSFUpsell" name="upsellLead[6].upSellType" value="UsedCar" id="UsedCarIDAlreadyService" />
							Used Car</label>
						</div>
						<div class="row animated  bounceInRight" style="display:none;" id="UsedCarSelectAlreadyService">
						   <div class="col-md-12">
							<div class="col-md-6">
							  <label for="">Tag to</label>
							  <select class="form-control" name="upsellLead[6].taggedTo" id="usedCarLead">
								<option >Select</option>
							  </select>
							   </div>
							   <div class="col-md-6">
							  <label for="comments">Remarks</label>
							  <textarea class="form-control" rows="1" id="comments" name="upsellLead[6].upsellComments"></textarea>
							</div>
						   </div>
						  
						</div>
				   
					  </div>
					</div>
					  <div class="pull-right" >
					<button type="button" style="display:none" class="btn btn-primary" id="BackToSelfDriveINUpsel">Back</button>
					<button type="button" style="display:none" class="btn btn-primary" id="BackToPickUpsel">Back</button>
					<button type="button" style="display:none" class="btn btn-primary" id="BackTo6thSatisfed">Back</button>
					<button type="submit" class="btn btn-info" name="" id="BackTo10thQuestionMMSSubmit0" >Submit</button>
					  
					</div>
					
						  </div>
				
							</div>
					
					
					
					<!------------------Call Me Latter----------------->

					<div style="display:none;" class="row animated  bounceInRight" id="PSFYesNamaskarNoDiv" >

						<div class="col-md-3">
							<div class="form-group">
								<label for="followUpDate">Date:</label>
								<input type="text" name="psfFollowUpDate" class="datepickerPlus30Days form-control" id="time_FromIn" readonly>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="followUpTime">Time:</label>
								<input type="text" name="psfFollowUpTime" class="single-input form-control" id="time_ToIn" readonly>
							</div>
						</div>
						</br>
						<div class="pull-right" id="" >
							<button type="button" class="btn btn-info" name="" id="BackToDidUtlakPSF" >Back</button>
							<button type="submit" class="btn btn-info" name="" id="notCallMeLaterSubmit" >Submit</button>
						</div>

					</div>
					<!--------------------------Not Interested------------------------>


					<div style="display:none;" class="row animated  bounceInRight" id="NotInterestedBtns" >

						<div class="col-md-6">
							<label>Remarks</label><br>
							<textarea class="form-control textOnlyAccepted" rows="2" name="comments" id="remarksValueForNoIntrst"></textarea>
						</div>
						<div class="pull-right"><br>
							<button type="button" class="btn btn-info" name="" id="BackToDidUtlakPSF1" >Back</button>
							<button type="submit" class="btn btn-info" name="" id="notInterestedSubmit" >Submit</button>
						</div>
					</div>
					
					</div><!-----panel Group End---->
			</div>
		</div><!---panel Body End--->

	</div>
					
					<script src="@routes.Assets.at("javascripts/psfDisposition.js")" type="text/javascript"></script>