

@(dealerName:String,user:String,usersData:List[WyzUser])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {

<div id="domMessage" style="display:none;"> 
    <h1>We are processing your request.  Please be patient.</h1> 
</div>
<div class="row"> 
<div class="col-lg-12">
        <div class="panel panel-primary">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
            <h4 class="panel-title accordion-toggle"></h4>
            <span style="width:45px;"/>&nbsp;</span> </div>
      <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#home"><b class="tabFonts">CRE Roster</b></a></li>
                <li><a data-toggle="tab" href="#menu1"><b class="tabFonts">Service Advisor Roster</b></a></li>
                <li><a data-toggle="tab" href="#menu2"><b class="tabFonts">Driver Roster</b></a></li>
              </ul>
          <div class="tab-content scrollable-menu">
                <div id="home" class="tab-pane fade in active"> <br>
                
                      <div class="col-md-12"> 
                          <div class=col-md-4>
                <label> Select CRE's </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                
               
                <select id='selectedCREis'  class="selectpicker" onchange='rosterUnavialbiltyByUser();'>
                    
                    <option value="select">SELECT</option>
                    
                    @for(cres <- usersData){
                    
                     @if(cres.getRole()==("CRE")){
                   
                   <option value="@cres.userName">@cres.userName</option>
                    
                    }
                    
                    }
                    
<br/>
                    <br/>
                    <br/>
                </select>

            </div> 
                          </div> 
                    
                     <div class="col-md-12">                          
                     <table class="table table-striped table-bordered table-hover" id="creTableRoster">
              <thead>
                
              </thead>
           <tbody>
                  
             </tbody>      
            </table>   
        
                  </div>
				  
				  
				<div class="col-md-12">                          
                     <table class="table table-striped table-bordered table-hover" id="creTableRosters">
					
					</table>   
        
                </div>
				<div class="col-md-12">                          
                     <table class="table table-striped table-bordered table-hover" id="loadRoaster">
             
					</table>   
        
                </div>
     
       </div>
    <div id="menu1" class="tab-pane fade scrollable-menu1"> <br>
                    
                    <div class="col-md-12"> 
                          <div class=col-md-4>
                <label> Select Service Advisor's </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
               <select  id='selectedServiceAdvisoris' class="selectpicker" onchange='rosterUnavialbiltyByServiceAdvisor();'>
                    
                    <option value="select">SELECT</option>
                    
                    @for(cres <- usersData){
                    
                     @if(cres.getRole()==("Service Advisor")){
                     
                   
                   <option value="@cres.userName">@cres.userName</option>
                    
                    }
                    
                    }
                    

                </select>

            </div> 
                          </div> 
                    <br/>
                    <br/>
                    <br/>
              <div class="col-md-12"> 
              
                     <table class="table table-striped table-bordered table-hover" id="creTableRosterByService" >
              <thead>
                
              </thead>
           <tbody>
                
                  
             </tbody>      
            </table> 
                  
                
                  
                  </div>
                       <div class="col-md-12"> 
              
                     <table class="table table-striped table-bordered table-hover" id="creTableRosterByServiceData" >
              <thead>
                
              </thead>
           <tbody>
                
                  
             </tbody>      
            </table> 
                  
                
                  
                  </div>
                    <div class="col-md-12">                          
                     <table class="table table-striped table-bordered table-hover" id="loadRoaster1">
             
					</table>   
        
                </div>
            </div>
                <div id="menu2" class="tab-pane fade scrollable-menu1"> <br>
                    
                    <div class="col-md-12"> 
                          <div class=col-md-4>
                <label> Select Driver Roaster</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
               <select  id='selectedDriver' class="selectpicker" onchange='rosterUnavialbiltyByDriver();'>
                    
                    <option value="select">SELECT</option>
                    
                    @for(cres <- usersData){
                    
                     @if(cres.getRole()==("Driver")){
                     
                   
                   <option value="@cres.userName">@cres.userName</option>
                    
                    }
                    
                    }
                    

                </select>

            </div> 
                          </div> 
                    <br/>
                    <br/>
                    <br/>
              <div class="col-md-12"> 
              
            <table class="table table-striped table-bordered table-hover" id="creTableRosterByDriver" >
              <thead>
                
              </thead>
           <tbody>
                
                  
             </tbody>      
            </table> 
                  
                
                  
                  </div>
				   <div class="col-md-12"> 
              
            <table class="table table-striped table-bordered table-hover" id="creTableRosterByDriverData" >
              <thead>
                
              </thead>
           <tbody>
                
                  
             </tbody>      
            </table> 
                  
                
                  
                  </div>
				   <div class="col-md-12"> 
              
            <table class="table table-striped table-bordered table-hover" id="loadRoaster2" >
              <thead>
                
              </thead>
           <tbody>
                
                  
             </tbody>      
            </table> 
                  
                
                  
                  </div>
            </div>
            
              </div>
        </div>
          </div>
    </div>
      </div>
    </div>
  
}
 