@(alltypeOfReport:HashMap[String,String],uploadId:String,uploadType:String,minDate:Date,maxDate:Date,dealercode:String,dealerName:String,userName:String)
@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {
	
	<input type="hidden" id="reportTypeId" value="@uploadType">
	<input type="hidden" id="reportUploadId" value="@uploadId">
	
	<div class="panel panel-info">
    <div class="panel-heading"></div>
    <div class="panel-body"> 
	
	 <div class="row">
	<div class="col-md-12" id="" style="">   
							<div class="col-lg-3">
							<div class="form-group">
                                <label>Select File Type :</label>
                                <select id="dataFileType" class="form-control selectpicker" value="@uploadType" multiple>                                                                                                        
                                   <!--  <option value= "job_card">Job Card Status</option>
                                    <option value= "bill">Work Bills</option>
                                    <option value= "SMR" selected="selected">SMR</option>
                                    <option value= "campaign">Campaign</option>-->
                                    
                                    @for(key <- alltypeOfReport.keySet()){ 
                                    
                                    @{if(key == uploadType){
									
									<option value={key} selected="selected">{alltypeOfReport.get(key)}</option>
									}
									else {
										<option value={key} >{alltypeOfReport.get(key)}</option>
										}}
					  
                    
                    }

                                </select> 
                            </div>
                            </div>
                            
                            <div class="col-lg-3">
                            <div class="form-group">
                                <label>From Date :</label>
                                <input type='text' id="fromDate" class="form-control datepicker" value="@minDate" required/>                               
                            </div>
                            </div>
                            
                             <div class="col-lg-3">
                             <div class="form-group">
                                <label>To Date :</label>
                                <input type='text' id="toDate" class="form-control range1datepicker" value="@maxDate" required/>                               
                            </div>
                            </div>
                             
				            <div class="col-lg-3">
				            <div class="form-group">
				            <lable>&nbsp;</lable><br/>
				              <button type='button' class="btn btn-info" onclick="ajaxCallForUploadExcelReport();" >View</button>
				              </div>
				            </div>
            
                            
                            
                            </div>
                            </div>
                            </div>
                            </div>
	
	

<div class="panel panel-info">
    <div class="panel-heading"><strong>Upload Summary Table</strong></div>
    <div class="panel-body"> 
 


	  <div class="col-md-12" id="" style="">
	  <div class="box box-info">
      
            <!-- /.box-header -->
			
            <div class="box-body">
              
                <table id="uploadReport" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Report Name</th>
                <th>Recorded Date</th>
               	<th>City</th>
				<th>Location</th>				
				<th>Total Records</th>
				<th>Records Approved</th>
				<th>Records Rejected</th>
				<th>Uploaded File Name</th>
				<th>Upload by User</th>
				<th>Upload Date</th>
				<th>Upload Time</th>
				<th>Upload ID</th>
				
            </tr>
        </thead>
 
        <tbody>                   
                  </tbody>
                </table>
             
              <!-- /.table-responsive -->
            </div>
           
          </div>
		  </div>

        


    </div>
 </div>


    
	
    }
    <script src="@routes.Assets.at("javascripts/uploadReportAjax.js")" type="text/javascript"></script>    
    
	<script>
		   var reportFromUpload=document.getElementById("reportTypeId").value;

			if(reportFromUpload!="0"){
		   
		  // alert("reportFromUpload not  zero: "+reportFromUpload);
		   $("#dataFileType").val(reportFromUpload);
		   window.onload = ajaxCallForUploadExcelReport;		   
			}

	</script>
    
 
	