@(resultdata:List[Integer],uploadId:String,uploadType:String,campaignList:List[Campaign],locationList:List[Location],dealerCode:String,userName:String)
@mainPageCREManger("AutoSherpaCRM",userName,dealerCode) {

@helper.form(action = routes.UploadExcelController.uploadExcelData(), 'enctype -> "multipart/form-data") {


<input type="hidden" value="@uploadId">


<div class="panel panel-info">
    <div class="panel-heading"><strong>Master Data Upload</strong></div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-primary">
                    <div class="panel-heading"><b>Select file from your computer</b></div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-3">
                                <label>Select File Format:</label>
                                <select name="dataType" id="upload_form_name" class="form-control">
                                    <option value= "select">--Select--</option>
                                    <option value= "sale_register">Sale Register</option>
                                    <option value= "job_card">Job Card</option>
                                    <option value= "bill">Bills</option>
                                    <option value= "SMR">SMR</option>
                                    <option value= "campaign">Campaign</option>

                                </select> 
                            </div>
                            <div class="col-md-3 campaignNameInsert" style="display:none" >
                                <div class="form-group">
                                    <label for="campaignName">Campaign Name</label>
                                    <select name="campaignName" id="campaignName" class="form-control">
                                        <option value='select'>--Select Campaign--</option>
                                        @for(campaign_list<-campaignList){
                                        <option value="@campaign_list.getCampaignName()">@campaign_list.getCampaignName()</option>
                                        }
                                </select> 
                                    
                                </div>				 
                            </div>
                            <div class="col-lg-3" style="display:none" >  
                                <label>Sheet Name:</label>                                           
                                <input type="text" class="form-control" name="sheetName" id="sheetName" value="Sheet1">
                            </div>

                            <div class="col-lg-3">
                                <label>&nbsp;</label>  
                                <input type="file" name="uploadfiles" id="uploadfiles" >  
                                <span id="lblError" style="color: red;"></span>
                            </div>

                        </div>
                        <div class="row"> 
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cityName">Select City</label>
                                    <select class="form-control" id="city" name="name" onchange="ajaxCallToLoadWorkShopByCity();">	
                                        <option value='select'>--Select City--</option>
                                        @for(location_list<-locationList){
                                        <option value="@location_list.getName()">@location_list.getName()</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="workshopId">Select Workshop</label>
                                    <select class="form-control" id="workshop" name="id" >					  
                                        <option value=""></option>
                                    </select>
                                </div>				 
                            </div>
                            <div class="col-md-3 campaignStartdate" style="display:none" >
                                <div class="form-group">
                                    <label for="seldate">Select From Date</label>
                                    <input type="text" class="form-control datepicker"  id="campaignStartdate" name="campaignStartdate" readonly>			  
                                </div>				 
                            </div>
                            <div class="col-md-3 campaignExpiry" style="display:none">
                                <div class="form-group">
                                    <label for="seldateExp">Select Expiry Date</label>
                                    <input type="text" class="form-control datepicker" id="campaignExpiry" name="campaignExpiry" readonly>
                                </div>				 
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary pull-right upload-submitExcel" name="submit" id="uploadFileSubmit" value="Submit" >
                      
                      
                      @if(uploadId!="0"){
                        
                        
                                <div class="form-group">
                                    <label></label>
                                    @{if(resultdata(0)==0){
                                    
                                     <span style="color:red">Data Not Uploaded</span>
                                     }else{
                                     
                                     <span style="color:green">Data Uploaded Successfully</span>
                                      <p>Total Record are {resultdata(1)} and records uploded successfully is {resultdata(0)}</p>
                                   
                                     }}
                                     
                                  <a href="/CREManager/uploadDataReport/@uploadId/@uploadType" >Click Here View Report</a>  
                                </div>				 
                           
                            }
                            
                            
                              
                    </div>
                    
                     

                </div>
                
                

                <input type="checkbox" style="display:none" name="useworker" ><br />
                <input type="checkbox" style="display:none" name="xferable" checked><br />
                <input type="checkbox" style="display:none" name="userabs" checked><br />
                <div class="hr-line-dashed"></div>
                <div class="ibox-content">			
                    <div class="table-responsive">
                        <table class="table table-bordered header-fixed table-responsive" id="tableData" style="width:80%">
                            <thead>

                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div> 
                    <br />

                </div>

            </div>	
            
           
                            

        </div>
        <!--<button type="submit" class="btn btn-primary" name="submit" onclick="ajaxUploadData()" >Submit</button>-->


    </div>
    <script>
        $(document).ready(function () {
            $.fn.checkFileType = function (options) {
                var defaults = {
                    allowedExtensions: [],
                    success: function () {},
                    error: function () {}
                };
                options = $.extend(defaults, options);

                return this.each(function () {

                    $(this).on('change', function () {
                        var value = $(this).val(),
                                file = value.toLowerCase(),
                                extension = file.substring(file.lastIndexOf('.') + 1);

                        if ($.inArray(extension, options.allowedExtensions) == -1) {
                            options.error();
                            $(this).focus();
                        } else {
                            options.success();

                        }

                    });

                });
            };
            $('#uploadfiles').checkFileType({
                allowedExtensions: ['xlsx'],
                error: function () {
                    Lobibox.alert('warning', {
                        msg: "Please select XLSX file only"
                    });
                }
            });
            $("#uploadFileSubmit").click(function () {
                var uploadName = $("#upload_form_name").val();
                var sheetName = $("#sheetName").val();
                var city = $("#city").val();
                var workshop = $("#workshop").val();
                var uploadfiles = $("#uploadfiles").val();
				console.log(workshop);
				console.log(city);
                if (uploadName != 'select' && sheetName != '' && uploadfiles != '' && city != 'select' && workshop != '0') {
                   
                    
                    return true;
                } else {

                    if (uploadName == 'select' || uploadName == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the type of file"
                        });
                        return false;

                    }
                    if (sheetName == '') {

                        Lobibox.notify('warning', {
                            msg: "Please enter the sheet name"
                        });
                        return false;

                    }
                    if (uploadfiles == '') {

                        Lobibox.notify('warning', {
                            msg: "Please choose the file"
                        });
                        return false;

                    }
                    if (city == 'select' || city == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the city"
                        });
                        return false;

                    }
                    if (workshop == '0' || workshop == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the workshop"
                        });
                        return false;

                    }
                }
            });

        });

    </script>


    }
    }