@(dealercode:String,dealerName:String,userName:String,locationList:List[Location],campaignTypedata:String)
@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {
@helper.form(action = routes.CampaignController.postCampaign) {

<!--
<script type="text/javascript">
  $(document).ready(function() {
    $('#customerSearchTable').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
        "paging": true,
        "searching":true,
        "ordering":false,
        "ajax": "/searchByCustomerv2"
        
    } );
} );
</script>	-->
	


<div class="panel panel-primary">
    <div class="panel-heading"><strong>Add Campaign</strong></div>
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-info">
                    <div class="panel-heading"><b>Add Information Of Campaign</b></div>
                    <div class="panel-body">
	                   <div class="row">
                            <div class="col-lg-2">
                                <label>Select File Format:</label>
                                <input type="text" class="form-control"  id="campaignType" name="campaignType" value="@campaignTypedata" readonly>
                            </div>
                            <div class="col-md-2 campaignNameInsert" >
                                <div class="form-group">
                                    <label for="campaignName">Campaign Name</label>
                                    <input type="text" class="form-control"  id="campaignName" name="campaignName">			  
                                </div>				 
                            </div>
                          
                             <div class="col-md-2">
                                <div class="form-group">
                                    <label for="cityName">Select City</label>
                                    <select class="form-control" id="city" name="name" onchange="ajaxCallToLoadWorkShopByCity();">	
                                        <option value='select'>--Select City--</option>
                                        @for(location_list<-locationList){
                                        <option value="@location_list.getName()">@location_list.getName()</option>
                                        }
                                    </select>

                                </div>
                            </div>

                  
                              
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="workshopId">Select @if(campaignTypedata == "Insurance"){Location}else{Workshop}</label>
                                    <select class="form-control" id="workshop" name="id" >					  
                                        <option value=""></option>
                                    </select>
                                </div>				 
                            </div>
                            <div class="col-md-2 campaignStartdate"  >
                                <div class="form-group">
                                    <label for="seldate">Select From Date</label>
                                    <input type="text" class="form-control datepicker"  id="campaignStart" name="createdDate" readonly>			  
                                </div>				 
                            </div>
                            <div class="col-md-2 campaignExpiry">
                                <div class="form-group">
                                    <label for="seldateExp">Select Expiry Date</label>
                                    <input type="text" class="form-control datepicker" id="campaignExpiryNew" name="expiryDate" readonly>
                                </div>				 
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary pull-right" name="submit" id="uploadFileCampaign" value="Submit" >
                    </div>

                </div>

                <div class="hr-line-dashed"></div>
<!--                <div class="ibox-content">			
                    <div class="table-responsive">
                        <table class="table table-bordered header-fixed table-responsive" id="tableData" style="width:80%">
                            <thead>

                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div> 
                    <br />

                </div>-->

            </div>	

        </div>
        <!--<button type="submit" class="btn btn-primary" name="submit" onclick="ajaxUploadData()" >Submit</button>-->


    </div>

}
}
<script>
        $(document).ready(function () {
            
            $("#uploadFileCampaign").click(function () {
                
                var campaignType = $("#campaignType").val();
                var campaignName = $("#campaignName").val();
                var city = $("#city").val();
                var workshop = $("#workshop").val();
                var campaignStart = $("#campaignStart").val();
                var campaignExpiryNew = $("#campaignExpiryNew").val();

                if (campaignType != ''  && campaignName != '' && city != 'select' && workshop != 'select') {
                    Lobibox.notify('success', {
                        msg: "Uploaded Successfully"
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 5000);
                    return true;
                } else {
                            
                    if (campaignType == '' || campaignType!='Campaign') {

                        return false;

                    }
                    if (campaignName == '') {

                        Lobibox.notify('warning', {
                            msg: "Please enter the name of the Campaign"
                        });
                        return false;

                    }
                       if (city == 'select' || city == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the city"
                        });
                        return false;

                    }
                    if (workshop == 'select' || workshop == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the workshop"
                        });
                        return false;

                    }
                    if (campaignStart == '') {

                        Lobibox.notify('warning', {
                            msg: "Please enter the start date of the Campaign"
                        });
                        return false;

                    }
                    if (campaignExpiryNew == '') {

                        Lobibox.notify('warning', {
                            msg: "Please enter the Expiry date of the Campaign"
                        });
                        return false;

                    }
                 
                }
            });

        });

    </script>