
@(dealercode:String,dealerName:String,userName:String,oem:String,locationList:List[Location],workshopList:List[Workshop],roleList:List[Role])
@mainPageCREManger("AutoSherpaCRM",userName,dealerName) {
@helper.form(action = routes.SuperAdminController.postUserBySuperAdmin) {

<div class="row" >
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">   
        Add Location </div>
		<div class="panel-body">
            <div class="col-lg-3">
              <div class="form-group">
                <label for="firstName">First Name<i style="color:red">*</i>:</label>
                <input type="text" class="form-control txtOnly" name="firstName"  id="firstName" autocomplete="off"  required/>
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="lastName">last Name</label>
                <input type="text" class="form-control txtOnly" name="lastName"  id="lastName" autocomplete="off" >
              </div>
            </div>
              <div class="col-lg-3">
              <div class="form-group">
                <label for="userName">User Name<i style="color:red">*</i></label>
                <input type="text" class="form-control txtOnly" name="userName"  id="userName" autocomplete="off"  onclick="ajaxCallToCheckUser();" required/>
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="phonenum">Phone Number<i style="color:red">*</i></label>
                <input type="text" class="form-control numericOnly" name="phoneNumber" maxlength="10" id="phonenum" autocomplete="off"  required/>
              </div>
            </div>
                  <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">CITY<i style="color:red">*</i> </label>
                            <select id="city" name="name" class="form-control " onclick="ajaxCallToLoadWorkShopByCity();" required>
                                <option value="" >--Select--</option>
                                @for(location_list<-locationList){
                                <option value="@location_list.getName()">@location_list.getName()</option>
                             }
                              </select>
                        </div>
                    </div>
                <div class="col-lg-3">
                        <div class="form-group">
                            <label for="workshop">LOCATION<i style="color:red">*</i> </label>
                            <select id="workshop" name="id" class="form-control" required>
                                <option value="" >--Select--</option>
                               
                              </select>
                        </div>
                    </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                            <label for="customerName">ROLE<i style="color:red">*</i> </label>
                            <select id="role" name="role" class="form-control" required>
                                <option value="" >--Select--</option>
                                @for(role_list<-roleList){
                                
                                <option value="@role_list.getRole()">@role_list.getRole()</option>
                              
                             }
                              </select>
                        </div>
                    </div>
             <div class="col-lg-3">
              <div class="form-group">
                <label for="pincode">Pincode<i style="color:red">*</i></label>
                <input type="text" class="form-control numericOnly" name="pinCode" maxlength="6" id="pinCode" autocomplete="off"  required/>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="pincode">Default Password<i style="color:red">*</i></label>
                <input type="text" class="form-control" name="password"  id="password" autocomplete="off"  required/>
              </div>
            </div>
             <div class="col-lg-3">
              <div class="form-group">
              <br />
                  <input type="submit" class="btn btn-primary"  id="UserSubmit" value="Submit" />
              </div>
            </div>
        </div>
     </div>
     </div>
     </div>
     }
 }

 <script>
 $(".numericOnly").keypress(function (e) {
	    if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
	});
 $( ".txtOnly" ).keypress(function(e) {
     var key = e.keyCode;
     if (key >= 48 && key <= 57) {
         e.preventDefault();
     }
 });
 </script>
 <script>
 function ajaxCallToCheckUser(){
	 var uname = $("#userName").val(); 
	 var urlLink="/checkExistingUser/" + uname + ""; 
	   $.ajax({
	       url: urlLink
	   }).done(function () {	
		   alert("User exists");
	   });
 }
 </script>