
@(dealerName:String,userName:String,dealerdata:List[models.Dealer],credata:List[WyzUser],saledata:List[WyzUser],form:play.data.Form[WyzUser],listUsers:List[String])
@main("AutoSherpaCRM",userName,dealerName) {
@helper.form(action = routes.WyzUserController.addApplicationUser,'id -> "formSub") {
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User Creation </h3>
      </div>
      <div class="panel-body">
        <form >
          <div class='row'>
            <div class='col-sm-4'>
           <select id="checkUserName" style="display:none">
           
                 @for(checkData <- listUsers){
		
		 <option value="@checkData">@checkData</option>
				}
                </select>
                
             <div class='form-group'>
             
                <label for="firstName">First Name : </label>  
                 <div class="input-group" data-validate="userName">      		
         		<input type="text" class="form-control" name="firstName" placeholder="Enter First Name ..." title="Your FirstName is Required" required>
         		
         		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>                		
                 </div>
               <div class='form-group'>
                <label for="lastName">Last Name :</label> 
                  <div class="input-group" data-validate="userName">        		
         		<input type="text" class="form-control" name="lastName" placeholder="Enter Last Name..." title="Your LastName is Required" required> 
         		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>                 		
                 </div>    	      
	           
             <div class="form-group">
		        <label for="phoneNumber">Phone No:</label>
        		<div class="input-group" data-validate="phoneNumber">
         		<input type="text" class="form-control" name="phoneNumber" placeholder="(814) 555-1234" title="10 Digits Mobile No is Required" required>
          		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>
     		 </div>
            </div>
            <div class='col-sm-4'>
            <div class="form-group">
		        <label for="phoneIMEINo">PhoneIMEI No:</label>
        		<div class="input-group" data-validate="phoneIMEINo">
         		<input type="text" class="form-control" name="phoneIMEINo" placeholder="Enter PhoneIMEI No..." title="15 Digits IMEINo is Required"required>
          		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>
     		 </div>
              <div class="form-group">
       				 <label for="emailId">Email</label>
        			 <div class="input-group" data-validate="emailId">
          			 <input type="text" class="form-control" name="emailId"  placeholder="Validate Email" title="You can use letters,Numbers and periods with @@gmail.com" required>
         			 <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>
      			</div>
      			<div class='form-group'>
                <label for="userName">User Name :</label>     
                <div class="input-group" data-validate="userName" >   		
         		<input type="text" class="form-control" name="userName" placeholder="Enter User Name..." onChange="validatingDuplicateUserName();" title="Add 7 Digits(min) only with a number, a lowercase and a uppercase" required>  
         		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>        		
                 </div> 
                     		    
                    
             
            </div>
            <div class='col-sm-4' >
            <div class='form-group'>
                <label for="password">Password :</label>  
                 <div class="input-group" data-validate="password">        		
         		<input type="password" class="form-control" name="password" placeholder="Enter Password..." title="Add 7 Digits(min) only with a number, a lowercase and a uppercase" required>   
         		<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span> </div>        		
                 </div>  
              <div class='form-group'>
                <label >Role :</label>
                <select  id="role" name="role" class="form-control" onChange="dropdownChage();">
                  <option value="Select">Select Role</option>                  
                  <option value="CRE">CRE</option>
                  <option value="CREManager">CREManager</option>
                   <option value="SalesManager">SalesManager</option>
                    <option value="SalesExecutive">SalesExecutive</option>
                </select>
              </div>
              <div class='form-group' id="dealerCodeId" style="display:none">
              
                <label >Dealer Code :</label>
                <select  id="dealerCode" name="dealerCode" class="form-control">
                       	@for(data <- dealerdata){                             
                          <option value="@data.dealerCode">@data.dealerCode</option>
                      	}
                </select>
              </div>
              
             
              
              <div class='form-group' id="creManagerId" style="display:none">
              
                <label >CRE Manager :</label>
                <select  id="creManager" name="creManager" class="form-control">
                       	@for(data <- credata){                             
                          <option value="@data.getUserName()">@data.getUserName()</option>
                      	}
                </select>
              </div>
              
              <div class='form-group' id="salesManagerId" style="display:none">
              
                <label >Sales Manager :</label>
                <select  id="singleData" name="singleData" class="form-control">
                       	@for(data <- saledata){                             
                          <option value="@data.getUserName()">@data.getUserName()</option>
                      	}
                </select>
              </div>
              
              
              <div class='text-right'>
              <button type="submit" class="btn btn-primary pull-right" onclick="return validatingDuplicateUserName();" enabled>Submit</button>
                
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 
        }
        

}