
@(allCRE:List[String],dealerName:String,user:String,campaign_list:List[Campaign],locationList:List[Location],campaignList:List[Campaign],campaignListPSF:List[Campaign],servicetypes:List[ServiceTypes])

@mainPageCREManger("AutoSherpaCRM",user,dealerName) {


<div class="panel panel-primary">
	<div class="panel-heading">
		<strong>Call Allocation | To Assign Calls</strong>
	</div>
	<div class="panel-body">
		<div class="row">


			<div class="col-sm-3 campaignTypeDiv">
				<div class="form-group">
					<label>Assignment Type :</label> <select class="form-control"
						name="campaignType" id="campaignTypeData"> 
						<option value='0'>--Select--</option>
						@for(list_camp	<- campaign_list){
						<option value="@list_camp.id">@list_camp.campaignType</option> }
					</select>
				</div>
			</div>


			<div class="col-md-3 campaignTypePSF" style="display: none;">
				<label>Select PSF Type :</label> <select id="campaignNamePSF"
					name="campaignNamePSF" class="form-control">
					<option value='0'>--Select--</option> @for(listcamp <-
					campaignListPSF){
					<option value="@listcamp.id">@listcamp.campaignName</option> }
				</select>
			</div>
			<div class="col-md-3 selectcampaign" style="display: none">
				<div class="form-group">
					<label for="">Select Campaign Name</label> <select
						class="form-control" id="campaignName" name="campaignName">
						<option value='0'>--Select--</option> @for(list_camp <-
						campaignList){
						<option value="@list_camp.id">@list_camp.campaignName</option> }


					</select>

				</div>
			</div>
			
			<div class="col-sm-3 fromDiv" >
				<div class="form-group">
					<label>From Date :</label> <input type="text-primary"
						class="datepicMandYDropDown form-control" placeholder="Enter From Date" id="singleData" name="singleData"
						readonly>
				</div>
			</div>


			<div class="col-sm-3 toDiv" >
				<div class="form-group">
					<label>To Date :</label> <input type="text-primary"
						class="datepicMandYDropDown form-control" placeholder="Enter To Date" id="tranferData"
						name="tranferData" readonly>
				</div>
			</div>		
			
			

	
		
		<div class="col-sm-3 model" style="display: none;">
				<div class="form-group">
					<label>Model:</label>
					
					<select	class="form-control" id="model"
						name="model">
					<option value="">SELECT</option>
					<option value="1">Commercial</option>
					<option value="0">Non-Commercial</option>
				</select>
				
				</div>
			</div>

			<div class="col-sm-3 custDiv" >
				<div class="form-group">
					<label>Customer Category :</label> <select class="form-control"
						id="cust_category" name="cust_category">
						<option value="All">All</option>
						<option value="A+">A+</option>
						<option value="B+">B+</option>

					</select>
				</div>
			</div>

			<div class="col-sm-3 servDiv" >
				<div class="form-group" >
					<label>Service Type :</label> <select class="form-control"
						id="service_type" name="service_type">
						<option value="All">All</option> @for(servTyp <- servicetypes){

						<option value="@servTyp.getServiceTypeName()">@servTyp.getServiceTypeName()</option>

						}
					</select>
				</div>
			</div>


			<div class="col-md-3 locationSelect">

				<label for="cityName">Select City</label> <select
					class="form-control" id="city" name="cityName"
					onchange="ajaxCallToLoadWorkShopByCity();">
					<option value='select'>--Select City--</option>
					@for(location_list<-locationList){
					<option value="@location_list.getName()">@location_list.getName()</option>
					}
				</select>


			</div>
			
			</div>
			<div class="row">
			
			<div class="col-md-3 workshopSel">

				<label for="workshopId">Select Workshop</label> 
				<select	class="form-control" id="workshop" name="workshopId">
					<option value=""></option>
				</select>

			</div>

			<div class="col-sm-3 viewAssDiv">
				<label></label> 
					<button type="submit" id="" name="selectedFile" class="btn btn-sm btn-primary viewAssignCalls btn-block" value="viewAssignCalls">View
						Calls</button>

				
			</div>
			
			<div class="col-md-3 selectcre" style="display: none;">
			<label for="data">Select CRE's :</label> 
			<div class="form-group">
				
				<select multiple="multiple" id="data[]"
					name="data[]" class="selectpicker form-control" required="required">
					@for(data1 <- allCRE){
					<option value="@data1">@data1</option> 
					}

				</select>
				</div>
		
			</div>


			<div class="col-sm-3 assgnBtn" style="display: none;">
				
					<label></label>
					<button type="submit" class="btn btn-sm btn-primary assignCall btn-block"
						id="" name="selectedFile"
						value="assignCalls">Assign Calls</button>

				
			</div>

		</div>
	</div>


</div>


<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">List Of Calls To Assign</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table class="table table-striped table-bordered table-hover"
						id="assignedTable">
						<thead>
							<tr>

								<th>Customer Name</th>
								<th>Mobile Number</th>
								<th>Vehicle RegNo.</th>
								<th>Model</th>
								<th>Variant</th>
								<th>Next Service Date</th>


							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>

}


<script>
        $(document).ready(function () {


        	$('.viewAssignCalls').click(function(){
            	
                var city = $("#city").val();
                var workshop = $("#workshop").val();
                var fromDate = $("#singleData").val();
                var toDate = $("#tranferData").val();
                var servicetype = $("#service_type").val();
                var customerCatgy = $("#cust_category").val();
                var campaignTypeIs = $("#campaignTypeData").val();

                var campName = $("#campaignName").val();
                var psfName = $("#campaignNamePSF").val();
                var modelname = $("#model").val();
               

                if (fromDate != ''  && toDate != '' && city != 'select' && workshop != 'select') {

                	$.blockUI();

                     var urlLink = "/CREManager/assignedCallsList"
                    	    
                    	    $('#assignedTable').dataTable( {
                    	     "bDestroy": true,
                    	     "processing": true,
                    	     "serverSide": true,
                    	     "scrollY": 300,
                    	     "paging": true,
                    	     "searching": false,
                    	     "ordering":false,
                    	     "ajax": {
                    		        'type': 'POST',
                    		        'url': urlLink,
                    		        'data': {
                    		        	city: ''+city,
                    		        	workshop:''+workshop,
                    		        	fromDate:''+fromDate,
                    		        	toDate:''+toDate,
                    		        	customerCatgy:''+customerCatgy,
                    		        	servicetype:''+servicetype,
                    		        	campaignTypeIs:''+campaignTypeIs,
                    		        	campName:''+campName,
                    		        	psfName:''+psfName,
                    		        	modelname:''+modelname
                    		        	
                    		        	
                    		        }
                        	        
                    	     }
                    	 } );
                     $.unblockUI();
                     $('.assgnBtn').css("display","block");
                     $('.selectcre').css("display","block");
                     
                    
                    return true;
                } else {
                    
                       if (city == 'select' || city == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the city"
                        });
                        return false;

                    }
                    if (workshop == 'select' || workshop == '') {

                        Lobibox.notify('warning', {
                            msg: "Please select the workshop"
                        });
                        return false;

                    }


                    if (fromDate == '') {

                        Lobibox.notify('warning', {
                            msg: "Please enter the start date"
                        });
                        return false;

                    }
                    if (toDate == '') {

                        Lobibox.notify('warning', {
                            msg: "Please enter the End date"
                        });
                        return false;

                    }                    
                 
                }
            });


        	$('.assignCall').click(function(){

        		 $.blockUI();
            	

        		 var city = $("#city").val();
                 var workshop = $("#workshop").val();
                 var fromDate = $("#singleData").val();
                 var toDate = $("#tranferData").val();
                 var servicetype = $("#service_type").val();
                 var customerCatgy = $("#cust_category").val();
                 var campaignTypeIs = $("#campaignTypeData").val();

                 var campName = $("#campaignName").val();
                 var psfName = $("#campaignNamePSF").val();
                 var modelname =$("#model").val();
                 var selected_cres;
             	var x = document.getElementById("data[]");
             	var j = 0;
             	for (var i = 0; i < x.options.length; i++) {
             		if (x.options[i].selected == true) {
             			if (j == 0)
             				selected_cres = x.options[i].value;
             			else
             				selected_cres = selected_cres + ","
             						+ x.options[i].value;

             			//console.log(selected_cres);
             			j++;
             		}
             	}


             	var urlLink = "/CREManager/assignedCallsListToUser"
            	    
             		$.ajax({
            	        type: 'POST',	       
            	        url: urlLink,
            	        data: {

            	        	city: ''+city,
        		        	workshop:''+workshop,
        		        	fromDate:''+fromDate,
        		        	toDate:''+toDate,
        		        	customerCatgy:''+customerCatgy,
        		        	servicetype:''+servicetype,
        		        	campaignTypeIs:''+campaignTypeIs,
        		        	campName:''+campName,
        		        	psfName:''+psfName,            	        	
            	        	selected_cres:''+selected_cres,            	        	
            	        	modelname:''+modelname
            	        	
            	        },
            	        success: function (json) {
            	        	   $.unblockUI();
            	        	window.location='assignmentFilterPage';
            	        },
            	        error: function () {
            	        	
            	        	
            	        }
            	       
            	    });
             	

        });

        });

    </script>
