@(statesList:List[String],dealerName:String,user:String,cresList : List[String],servicetypelist:List[ServiceTypes],locationList : List[Location],workshopList : List[Workshop])
@mainPageCREManger("AutoSherpaCRM",user,dealerName) {
	
<style>
	.ColorGreen{
		background-color:green;
	}
	
	.ColorRed{
		background-color:red;
	}
</style>	
	
<script type="text/javascript">



    function tableText(tableCell) {
	//alert('clicked two inside'+tableCell.id);
	vtempValue = parseInt(document.getElementById("tempValue").value);
	
	
				if(vtempValue==tableCell.cellIndex || vtempValue==0){
			vtempValue= tableCell.cellIndex//    table.rows[0].cells[j].innerText;
			
	}
	else{return;}
	console.log("tablecel id : "+tableCell.id);
	var className = tableCell.className;
	
	if(className==""){
	//alert('clicked 4');
		 $.confirm({
                                        title: 'Confirm!',
										closeIcon: true,
                                        content: 'Do you want Assign' +"<br>"+ tableCell.id,
                                        buttons: {
                                            Yes: function () {
											vstartValue = parseInt(document.getElementById("startValue").value);
											vendValue = parseInt(document.getElementById("endValue").value);
											
												
												if(vstartValue===0){
												vstartValue=tableCell.parentElement.rowIndex;
												document.getElementById("startValue").value=tableCell.parentElement.rowIndex;
												}
												else if(vendValue===0){
													vendValue=tableCell.parentElement.rowIndex;	
													document.getElementById("endValue").value=vendValue;
															
												}
                                              
											   $(tableCell).addClass('ColorGreen');
											   if(vendValue === 0){
											   vendValue = tableCell.parentElement.rowIndex;
											   }
											   if(vstartValue!=0 && vendValue!=0){
													if(vstartValue < tableCell.parentElement.rowIndex){
															if(vendValue < tableCell.parentElement.rowIndex){
																vendValue =tableCell.parentElement.rowIndex;
															}
													}else{
														vstartValue =tableCell.parentElement.rowIndex;
													}
													if(vstartValue > vendValue){
														minValue=vendValue;
														maxValue=vstartValue;
													}else{
														minValue=vstartValue;
														maxValue=vendValue;
													}
													
													 var table = document.getElementById("tableID");
													 var tableCellheader=	table.rows[0].cells[tableCell.cellIndex];
													
													 //console.log("tableCellheader : "+tableCellheader.id);
													 //console.log("tableCellheader innerText: "+tableCellheader.innerText);

													 document.getElementById("driverValue").value=tableCellheader.id;
													 $('#newDriver').html(tableCellheader.innerText);
													 
													 console.log("min and max value : "+minValue,maxValue);
														
														for (var i = minValue; i < maxValue; i++) {
														var tableCell1=	table.rows[i].cells[tableCell.cellIndex];
														$(tableCell1).addClass('ColorGreen');
														}
																
																document.getElementById("startValue").value=minValue;
																document.getElementById("endValue").value=maxValue;
																minValue='';
																maxValue='';
														
											   }
									
											   
											   document.getElementById("tempIncreValue").value=$('#tableID .ColorGreen').length;
											   document.getElementById("tempValue").value=tableCell.cellIndex;
											   if ($('#tableID .ColorGreen').length === 0){
												document.getElementById("startValue").value=0;
												document.getElementById("endValue").value=0;
												document.getElementById("tempValue").value=0;
											}
											   
                                            },
                                            No: function () {
											 $(tableCell).removeClass('ColorGreen');
	                                         }
                                        }
                                    });
                              }
							  else
							  {
								 $.confirm({
                                        title: 'Confirm!',
										closeIcon: true,
                                        content: 'Do you want UnAssign'  +"<br>"+ tableCell.id,
                                        buttons: {
                                            Yes: function () {
                                                
											vstartValue = parseInt(document.getElementById("startValue").value);
											vendValue = parseInt(document.getElementById("endValue").value);
											var table1 = document.getElementById('tableID');
											$(tableCell).removeClass('ColorGreen');
											if(vstartValue !== tableCell.parentElement.rowIndex && vendValue === tableCell.parentElement.rowIndex){
											for	(i=vendValue-1;i>=vstartValue;i--){
											var tableCell2=	table1.rows[i].cells[tableCell.cellIndex];
												if($(tableCell2).hasClass('ColorGreen')){
													vendValue= i;
													document.getElementById("endValue").value=i;
													break;
												}
												continue;
											}
											}else if(vstartValue === tableCell.parentElement.rowIndex && vendValue !== tableCell.parentElement.rowIndex ){
												for	(i=vstartValue+1;i<=vendValue;i++){
												var tableCell2=	table1.rows[i].cells[tableCell.cellIndex];
												if($(tableCell2).hasClass('ColorGreen')){
													vstartValue= i;
													document.getElementById("startValue").value=i;
													break;
												}
												continue;
											}
											}else if(vstartValue === tableCell.parentElement.rowIndex && vendValue === tableCell.parentElement.rowIndex){
												document.getElementById("startValue").value=0;
												document.getElementById("endValue").value=0;
												document.getElementById("tempValue").value=0;
											}
											
										
											   document.getElementById("tempIncreValue").value=$('#tableID .ColorGreen').length;
											   document.getElementById("tempValue").value=tableCell.cellIndex;
											   if ($('#tableID .ColorGreen').length === 0){
												document.getElementById("startValue").value=0;
												document.getElementById("endValue").value=0;
												document.getElementById("tempValue").value=0;
											}
											   
                                            },
                                            No: function () {
											 $(tableCell).addClass('ColorGreen');
                                            
                                            }
                                        }
                                    });
							  }
							  
							  
		
		
    }	

	  
	
</script>	
	

<script type="text/javascript">
$(document).ready(function() {
    
	onloadDataAjax();
    
 
});


function onloadDataAjax(){

	var table = $('#bookingReviewDatatable').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,        
        "paging": true,
        "searching":true,
        "ordering":false,
        "scrollY": 400,
        "scrollX": true,
        "ajax": "/searchServiceBookedList",
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
           { extend: 'copy' },
           { extend: 'csv' ,title:'BookingData'},
           { extend: 'excel', title: 'BookingData' },
          ],
          "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('nowrap','nowrap');
              return nRow;
              } 
    } );

    var values=[];	
	   $('.filter').on('change', function() {
		   
		   var i= $(this).data('columnIndex');
		   var v = $(this).val();
		   if(v.length>0){


			    if(i == 2){	

			    	var UserIds="",j;
			        myOption = document.getElementById('userName');
			        console.log("here"+myOption);		        
				    for (j=0;j<myOption.options.length;j++){
				        if(myOption.options[j].selected){
				            if(myOption.options[j].value != "Select"){
				        		UserIds = UserIds + myOption.options[j].value + ",";
				        		console.log("this is userIds multiselect:"+UserIds);
				            }
				        }
				    }
			    	if(UserIds.length > 0){
			        	UserIds = UserIds.substring(0, UserIds.length - 1);
			        	values[2]=UserIds;
			    	}else{
			    		UserIds="Select";
			    		values[2]=UserIds;
			    	}
			    
			    }else if(i == 3){
			    	var SAIds="",k;
			        myOptions = document.getElementById('selectSAID');
			        console.log("here"+myOptions);		        
			    for (k=0;k<myOptions.options.length;k++){
			        if(myOptions.options[k].selected){
			            if(myOptions.options[k].value != "Select"){
			            	SAIds = SAIds + myOptions.options[k].value + ",";
			            	console.log("service advisors multiselect:"+SAIds);
			            }
			        }
			    }
			    	if(SAIds.length > 0){
			    		SAIds = SAIds.substring(0, SAIds.length - 1);
			        	values[3]=SAIds;
			    	}else{
			    		SAIds="Select";
			    		values[3]=SAIds;
			    	}
			   }else if(i == 4){
				   var driverIds="",l;
			        myOptiond = document.getElementById('selectDriverID');
			        console.log("here"+myOptiond);		        
			    for (l=0;l<myOptiond.options.length;l++){
			        if(myOptiond.options[l].selected){
			            if(myOptiond.options[l].value != "Select"){
			            	driverIds = driverIds + myOptiond.options[l].value + ",";
			            	console.log("driver id multiselect:"+driverIds);
			            	
			            }
			        }
			    }
			    	if(driverIds.length > 0){
			    		driverIds = driverIds.substring(0, driverIds.length - 1);
			        	values[4]=driverIds;
			    	}else{
			    		driverIds="Select";
			    		values[4]=driverIds;
			    	}
			   }else{
				   values[i] = v;

			   }
			    // if(i < 14)
			   //else if(i == 15)
				 // values[4] = values[4]+"|"+values[15];
			   
		   }
		   
		   	console.log(JSON.stringify(values));
	     	  //clear global search values
	    	  //table.api().search('');
	    	  $(this).data('columnIndex');
	   });


   $('#searchCust').on('click',function(){

	  // alert(values.length);
	   if(values.length>0) {
			for(var i=0;i<values.length;i++){
				
			   table.api().columns(i).search(values[i]);
			}
			table.api().draw();
	   }
	}); 

  
     
   
   
   $('#clearFiltersID').on('click',function(){

	 
	
		$('.filter').each(function(){
				$(this).val('');
			});
		
		table = $('#bookingReviewDatatable').dataTable( {
	        "bDestroy": true,
	        "processing": true,
	        "serverSide": true,
	        "paging": true,
	        "searching":true,
	        "ordering":false,
	        "scrollY": 400,
	        "scrollX": true,
	        "ajax": "/searchServiceBookedList",
	        	dom: '<"html5buttons"B>lTfgitp',
	            buttons: [
	               { extend: 'copy' },
	               { extend: 'csv' ,title:'BookingData'},
	               { extend: 'excel', title: 'BookingData' },
	              ],
	              "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
	                  $('td', nRow).attr('nowrap','nowrap');
	                  return nRow;
	                  } 
	        
	    } );
	   
	});
}


</script>	

<div class="panel panel-primary">
	<div class="panel-heading">BOOKING REVIEW FILTERS</div>
			<div class="panel-body">
			@helper.form(action = routes.ServiceBookController.downloadServiceBooking) {
	   <div class="row">
                  <div class="col-md-12">
                   <div class="row">
                    <div class="col-lg-2" >
                        <div class="form-group">
                            <label for="customerName">CITY </label>
                            <select id="city_id" name="city" class="filter form-control" data-column-index="0" onclick="ajaxCallToLoadWorkShopByCitySB();">
                                <option value="0" >--Select--</option>
                                @for(location_list<-locationList){                       
                                	<option value="@location_list.getName()">@location_list.getName()</option>
                              	}
                              </select>
                        </div>
                    </div>
                <div class="col-lg-2">
                        <div class="form-group">
                            <label for="workshop">WORKSHOP </label>
                            <select id="workshop_id" name="workshop" class="filter form-control" data-column-index="1" onclick="ajaxGetServiceAdvisorByWorkshop();">
                                <option value="select" >--Select--</option>
                                
                              </select>
                        </div>
                    </div>
                                
								<div class="col-md-2">
 				<div class="form-group">
					<label>SELECT CRE</label>
					<select class="selectpicker filter form-control" data-column-index="2" id="userName" name="userName" multiple>
		<option value="0" >--Select--</option>
                                
	</select>
                                 </div>
                               </div>
							   <div class="col-md-2">
 				<div class="form-group">
					<label>SELECT SA</label>
					<select class="selectpicker filter form-control" data-column-index="3" id="selectSAID" name="selectSAID" multiple>
						<option value="0">--Select--</option>
					</select>
                                 </div>
                               </div>
							   <div class="col-md-2">
 				<div class="form-group">
					<label>SELECT DRIVER</label>
					<select class="selectpicker filter form-control" data-column-index="4" id="selectDriverID" name="selectDriverID" multiple>
						<option value="0">--Select--</option>
					</select>
                                 </div>
                               </div>
                               </div>
							   <div class="row">
							   <div class="col-md-12">
							   <div class="row">
							   <div class="col-md-2">
 				<div class="form-group">
					<label>BOOKING STATUS</label>
					<select class="filter form-control" data-column-index="5" id="BOOKINGStatusId" name="BOOKINGStatusId">
						<option value="0">--Select--</option>
						<option value="All">All</option>
						<option value="3">Scheduled</option>
						<option value="33">Over Due</option>
						<option value="34">Closed</option>
						<option value="35">Cancelled</option>
				</select>
                                 </div>
                               </div>
                                <div class="col-md-2">
				 <div class="form-group">
					<label>START DATE</label>
					<input type="text" class="filter form-control datepicMYDropDown" placeholder="Enter Start Date" data-column-index="6" id="StartDate" name="StartDate" readonly>
                                    </div>

                                </div>
                                <div class="col-md-2">
					 <div class="form-group">
						<label>END DATE</label>
							<input type="text" class="filter form-control datepicMYDropDown" placeholder="Enter End Date" data-column-index="7" id="EndDate" name="EndDate" readonly>
                                    </div>

                                </div>
								<br />
								<div class="col-md-2">
					 <div class="form-group">
						<button type="button" class="btn btn-success btn-block" id="searchCust"><i class="fa fa-search"></i>&nbsp;SEARCH</button>
                                    </div>

                                </div>
								<div class="col-md-2">
					 <div class="form-group">
								<button type="button" class="btn btn-info btn-block" id="clearFiltersID"><i class="fa fa-filter"></i>&nbsp;CLEAR FILTERS</button>
						</div>

                                </div>
                                <div class="col-md-2">
					 <div class="form-group">
								<button type="submit" class="btn btn-primary" id="downloadBookData">DOWNLOAD</button>
						</div>

                                </div>
							
							  
                            </div>
                            </div>
                            </div>

                        </div>
							</div>
							}
							</div>
	</div>
	
	<div class="panel panel-info">
<div class="panel-heading">BOOKING REVIEW LIST</div>
	
			<div class="panel-body">
	<div>
	<table class="table table-bordered table-striped" id="bookingReviewDatatable">
    <thead>
      <tr>
        <th>Status</th>
        <th>Booking Reg Date</th>
        <th>Service Booked Date</th>
        <th>Workshop</th>
        <th>Service Type</th>
        <th>Customer Name</th>
        <th>Customer Phone Number</th>
        <th>Address</th>
        <th>Model</th>
        <th>Mode of Visit</th>
        <th>Pick Up Time</th>
        <th>Pick Up Address</th>
        <th>Driver Name</th>
        <th>CRE Name</th>
        <th>SA Name</th>
       <th>Reschedule</th>
       <th>Cancel</th>
      </tr>
    </thead>
    <tbody>
     
    </tbody>
  </table>

 </div>
 </div>
 </div>

 
 
  <!-- Modal -->
  <div class="modal fade" id="bookingReviewPopup" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reschedule / Reassign</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-primary" id="changeBookingID" >
	<div class="panel-heading">Reschedule / Reassign</div>
		<div class="panel-body">
		<div id="serviceBookingReviewID">
		  <div class="col-md-12" >
			  <div class="row">
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Select Vehicle</label>
					<input type="hidden" class="form-control" id="vehicle_id" readonly>
					<input type="hidden" class="form-control" id="call_int_id" readonly>
					<input type="text" name="vehicleId_SB" class="form-control" id="vehicle" value="" readonly>
				  </div>
				  </div>
				  <div class="col-md-3">
				  <div class="form-group">
					<label for="">Select City</label>
					<select class="form-control" id="city" name="cityName" onchange="ajaxCallToLoadWorkShopByCity();">  
                              
                     <option value="Select">--SELECT--</option>
                     @for(loca <- locationList){
                     	  <option value="@loca.getName()">@loca.getName()</option>
                     	                       }
                              
									
					</select>
				  </div>
				</div>
				
					<div class="col-md-3">
				  <label for="">Service Booked Type<i class="lblStar">*</i></label>
				  <select class="form-control" id="serviceBookedTypeDisposition" name="serviceBookedType" onchange="">
						@for(servType <- servicetypelist){
							
							<option value="@servType.getId()">@servType.getServiceTypeName()</option>
						}
						

				 </select>
				</div>
				<div class="col-md-3">
				  <label for="">Workshop<i class="lblStar">*</i></label>
				  <select class="form-control" id="workshop" name="workshopId" onchange="ajaxAutoSASelectionList('workshop','date12345','serviceAdvisor'); " >
					<option value="0">--Select--</option>				
				  </select>
				</div>
				
				</div>
				 </div>
			  
			
		   <div class="col-md-12">
			  <div class="row">
			  <div class="col-md-3">
				  <div class="form-group">
					<label class="control-label" for="inputGroup">Select Date<i class="lblStar">*</i></label>
					<div class="form-group">
					<input type="text" name="serviceScheduledDate" class="form-control datepicker SelectDateDP" id="date12345" onchange="ajaxAutoSASelectionList('workshop','date12345','serviceAdvisor');" value="" readonly>					 
					 <!--  <span class="input-group-addon" data-toggle="modal" data-target="#sa_modal" onclick="ajaxCallToLoadWorkshopSummary();"> <i style="font-size:19px; color:red;" class="fa">&#xf274;</i> </span> -->
					  </div>
				  </div>
				</div>
				<div class="col-md-3">
				<div class="form-group">
				  <label for="serviceScheduledTime">Select Time<i class="lblStar">*</i></label>
				  <input type="text" name="serviceScheduledTime" class="form-control timePickRange7to19hours" id="CommittedTimes" value="" readonly>
				</div>
		 </div>
		 <div class="col-md-3">
				  <div class="form-group">
				  <label>&nbsp;</label><br/>
					<button type="button" class="btn btn-primary btn-block" disabled id="RecommendSAbtn" onClick="return ajaxAutoSASelection('workshop','date12345','serviceAdvisor');">Recommend SA</button>
					  
				  </div>
				</div>
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Assigned To(SA)<i class="lblStar">*</i></label>
			
					<select class="form-control insuranceAgent" id="serviceAdvisor"  name="serviceAdvisorId" onChange="ajaxAutoSAManualchange('workshop','date12345','serviceAdvisor');" >						
					
					</select>
				  </div>
				</div>
				
				
			  </div>
			
			
			<div class="pull-right">
			
			<button type="button" class="btn btn-primary" id="NextToBookReview">Next</button>
			</div>
			</div>
			</div>
			
			<div style="display:none;" class="animated  bounceInRight" id="serRewviewID">
			<div class="col-md-12">
			<label>Choose one of the below option:</label>
		<div class="radio">
  <label>
<input type="radio" name="typeOfPickup" value="Customer Drive-In" id="CustomerDriveInID" >
Customer Drive-In </label>
</div>
<div class="radio">
  <label>
<input type="radio" name="typeOfPickup" value="QWIK Service" id="QWIKServiceID" >
QWIK Service </label>
</div>

<div class="radio">
  <label>
<input type="radio" name="typeOfPickup" value="Door Step Service" id="DoorStepServiceID" >
Door Step Service</label>
</div>
<div class="radio">
  <label>
<input type="radio" name="typeOfPickup" value="true" id="PickupDropRequired" >
Pickup Drop Required</label>
</div>
<div class="radio">
  <label>
<input type="radio" name="typeOfPickup" value="Road Side Assistance" id="RoadSideAssitantIdIs" >
Road Side Assistance</label>
</div>
<div class="animated  bounceInRight" id="bookingReviewNAdd" style="display:none;">
				
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Select Address</label>
					<select class="form-control" id="AddressMSSId" name="serviceBookingAddress">
								  
					
					</select>
				  </div>
				  </div>
				   <div class="col-md-3 animated  bounceInRight">
				   <div class="form-group">
				   <br>
				   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddNewAddressPopup" style="margin-top: 4px;">Add New Address</button>
					 
					
						</div>				   
			
			  </div>
			
				  
				  </div>
<div class="col-md-3">
<label>Remarks</label>
<textarea type="text" class="form-control" name="remarks" id="remarks"></textarea>
</div>
<div class="pull-right">
<button type="button" class="btn btn-primary" id="BackSrvBkRv">Back</button>
<button type="button" class="btn btn-primary" data-dismiss="modal" style="display:none;" id="SubmitBtnBkreview">Submit</button>
<button type="button" class="btn btn-success" style="display:none;" id="AssignBtnBkreview" data-toggle="modal" data-target="#DriverAllcationPOPUp" onclick="AssignBtnBkreview();">Assign Driver</button>
</div>
		
		</div>

			
			</div>
 </div>
        </div>
     
      </div>
      
    </div>
  </div>
  
  <div class="modal1 fade" id="AddNewAddressPopup" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ><img src="@routes.Assets.at("images/close1.png")"></button>
  <h4 class="modal-title"><b style="text-align:center; color:Red;">Add New Address</b></h4>
</div>
<div class="modal-body">
 
  <div class="row" id="AddAddressDiv">
   <div class="col-md-12">
<div class="col-md-6">
  <div class="form-group">
<label for="comments"><b>Add Address1<b></label>
<textarea class="form-control" rows="1" id="AddAddress1All" name="address1New" ></textarea>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
<label for="comments"><b>Add Address2<b></label>
<textarea class="form-control" rows="1" id="AddAddress2All" name="address2New" ></textarea>
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
<label for="comments"><b>State<b></label>
<select class="form-control" name="stateNew" id="AddAddrMMSState" onchange="getCityByStateSelection('AddAddrMMSState','cityInputPopup3');">
  <option value="0">--SELECT--</option>
  @for(states <- statesList){
           
          <option value="@states">@states</option>
                              
  }

</select>
  </div>
</div>

<div class="col-md-6">
  <div class="form-group">
<label for="comments"><b>City<b></label>
<select class="form-control" name="cityNew" placeholder="City" id="cityInputPopup3">	
                                        
                                    </select>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
<label for="comments"><b>PinCode<b></label>
<input type="text" class="form-control numberOnly" name="pincodeNew" value="0" id="PinCode1MMS" maxlength="6" />
  </div>
</div>

</div>
   
  </div>
  

<div class="modal-footer">
  <button type="button" class="btn btn-success" id="AddAddrMMSSaveId" data-dismiss="modal1">Save</button>
</div>
</div>

</div>
</div>
</div>  <!-- end popup -->  <!-- end popup -->


<!--Popup For Driver Allocation-->
<div class="modal fade" id="DriverAllcationPOPUp" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
	   <div class="modal-header" style="text-align:center">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Driver Allocation</h4>																													
        </div>
             <div class="modal-body" style="padding:4px;">
  <div class="panel panel-primary" >
	<div class="panel-heading" style="padding:0px;"> </div>
	<div class="panel-body" style="height: 500px; overflow: auto; ">
			<div class="col-md-12">
			
			<div class="form-inline">
  <div class="form-group">
<label for="comments"><b>CHANGE SERVICE BOOKING DATE :<b></label>
<input type="text" class="form-control datepicMYDropDown" id="changeserviceBookingDate" onchange="AssignBtnBkreview();"   readonly>
  </div>
  </div>
<br />
</div>

              <div class="col-md-6">
               <table class="table table-responsive">
                  <tbody>
                    <tr>
                      <td><strong>Service Booking Date:</strong></td>
                      <td class="text-primary" id="serviceBookingDate"></td>
                    </tr>
                    <tr>
                      <td><strong> Driver Name:</strong></td>
                      <td class="text-primary" id="drivername"></td>
                    </tr>
					 <tr>
                      <td><strong> Time Slot:</strong></td>
                      <td class="text-primary" id="timeslot"></td>
                    </tr>
                    </tbody>
                    </table>
              </div>
                <div class="col-md-6">
                <table class="table table-responsive">
                  <tbody>
                    <tr>
                      <td><strong> New Booking Date: </strong></td>
                      <td class="text-primary" id="newbookingdate"></td>
                    </tr>
                     <tr>
                      <td><strong> New Driver Name:</strong></td>
                      <td class="text-primary" id="newDriver"></td>
                    </tr>
					<tr>
                      <td><strong>New Time Slot:</strong></td>
                      <td class="text-primary" id="newTimeSlot"></td>
                    </tr>
                  </tbody>
                </table>
                </div>
              
	 <div>
        <input type="hidden" id="tempValue" value="0">
        <input type="hidden" id="tempIncreValue" value="0">
        <input type="hidden" id="startValue" value="0">
        <input type="hidden" id="endValue" value="0">
        <input type="hidden" id="driverValue" value="0">
      </div>
  <table class="table table-striped table-bordered nowrap" cellspacing="0" width="100%" id="tableID"  style="cursor: pointer;">
    <thead>  
        
    </thead>
    <tbody> 
           
    </tbody>
  </table>
  <button type="button" id="allcateSubmit" class="btn btn-primary pull-right" data-dismiss="modal">Submit</button>
</div>
</div>
 </div>
       </div>
      
    </div>
  </div>





<!-- Hidden div with details for Auto selection of SA  -->
  <div style="display:none">
  	<input type="hidden" id="preSaDetails"  />
					<input type="hidden" id="newSaDetails"  />
					<select class="form-control" id="serviceAdvisorTemp"  name="serviceAdvisorTemp" style="display:none">
						<option value="0">--Select--</option>
					</select>
  </div>
  
  <div style="display:none">
  	<input type="hidden" id="preSaDetailsIns"  />
					<input type="hidden" id="newSaDetailsIns"  />
					<select class="form-control" id="serviceAdvisorTempIns"  name="serviceAdvisorTempIns" style="display:none">
						<option value="0">--Select--</option>
					</select>
  </div>


 <script>
	$(document).ready(function(){

		$("#RecommendSAbtn").click(function(){
			$("#RecommendSAbtn").prop('disabled', true);
		});
		
	 $('.numberOnly').keypress(function (e) {
		
        if (isNaN(this.value + "" + "." + String.fromCharCode(e.charCode))) {
					return false;
        }

    });
	
	$(".textOnlyAccepted").keypress(function (e) {
            var code = e.keyCode || e.which;
            if ((code < 65 || code > 90) && (code < 97 || code > 122) && code != 32 && code != 46)
            {
                 return false;
            }
        });
    
	
		$("#NextToBookReview").click(function(){
		
		
			$("#serRewviewID").show();
			$("#serviceBookingReviewID").hide();
		});
		$("#BackSrvBkRv").click(function(){
		$("#serviceBookingReviewID").show();
			$("#serRewviewID").hide();
			
		});
		
				$("input[name$='typeOfPickup']").click(function(){
						var varBookingReview = $(this).val();

						if(varBookingReview== "Customer Drive-In")
						{
						 $("#bookingReviewNAdd").hide();
						 $("#SubmitBtnBkreview").show();
						 $("#AssignBtnBkreview").hide();
												
						}
						else if(varBookingReview== "QWIK Service")
						{
						 $("#bookingReviewNAdd").hide();
						 $("#SubmitBtnBkreview").show();
						 $("#AssignBtnBkreview").hide();
												
						}
						else if(varBookingReview== "Door Step Service")
						{
						 $("#bookingReviewNAdd").show();
						 $("#SubmitBtnBkreview").hide();
						 $("#AssignBtnBkreview").show();
												
						}else if(varBookingReview== "true")
						{
						 $("#bookingReviewNAdd").show();
						 $("#AssignBtnBkreview").show();
						 $("#SubmitBtnBkreview").hide();
												
						}else if(varBookingReview== "Road Side Assistance")
						{
						 $("#bookingReviewNAdd").show();
						 $("#AssignBtnBkreview").show();
						 $("#SubmitBtnBkreview").hide();
												
						}
						else{
						
						}
						
						});



				$("#AddAddrMMSSaveId").click(function(){
				alert();
					var vAddr1= $("#AddAddress1All").val();
					var vAddr2= $("#AddAddress2All").val();
					var vState4= $("#AddAddrMMSState").val();
					var vcity3= $("#cityInputPopup3").val();
					var vpin5= $("#PinCode1MMS").val();

					var ResultAll=vAddr1.concat(vAddr2+" , "+vcity3+" , "+vState4+","+vpin5);
					//alert(ResultAll);
					$("#AddressMSSId").prepend($("<option></option>").html(ResultAll));
					  	 $("#AddressMSSId option:first").prop('selected', true);

					});
//time picker

				$('.timePickRange7to19hours').timepicker({
					timeFormat: 'HH:mm:ss',
                    showPeriod: false, // 24 hours formate
                    onHourShow: timepick,
                   	showPeriodLabels: false,
                   
				
					});
          
            function timepick(hour) {
                if ((hour > 19) || (hour < 7)) {
                    return false;
                }
                return true;
            }

            //dates

            $( ".datepicMYDropDown" ).datepicker({
            	
                changeMonth: true,
                changeYear: true,
          	  dateFormat: 'yy-mm-dd',
          	  yearRange: "-100:+0"
          	  
              });

            $( ".SelectDateDP" ).datepicker({
            	onSelect: function(SelectDateDP) {
               	 //alert(SelectDateDP);
               	 var newDateSB = $('.SelectDateDP').val();
                    $('#newbookingdate').html(newDateSB);
                    $('#changeserviceBookingDate').val(newDateSB);
                    $("#RecommendSAbtn").prop('disabled', false);
                },
               changeMonth: true,
               changeYear: true,
         	   dateFormat: 'yy-mm-dd',
         	   yearRange: "-100:+0",
         	  maxDate: "+40d",
            	minDate: 0
             });

            var dateToday = new Date();
            var dates = $("#date12345").datepicker({
                //defaultDate: "+1w",
            dateFormat: 'yy-mm-dd',
            maxDate: "+30d",
                minDate:0,
                onSelect: function(selectedDate) {
                    var option = this.id == "date12345" ? "minDate" : "maxDate",
                        instance = $(this).data("datepicker"),
                        date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
                    dates.not(this).datepicker("option", option, date);
                }
            });
                      
						
						
				
  
	});
 </script>

<script>
	

		function cancelBookingPickup(sel){
	 

		 var servicebookedId=sel;
		// alert("servicebookedId : "+servicebookedId);
	 
                                    $.confirm({
                                        title: 'Confirm!',
										closeIcon: true,
                                        content: 'Do you want to cancel?',
                                        buttons: {
                                            Service_Booking: function () {

												var urlLink="/CREManager/cancelBooking/"+servicebookedId+"/1";
                                        	    
                                        	    $.ajax({
                                        	        url: urlLink

                                        	    }).done(function (status) {                                        	    	

                                        	    	 $.alert(status);                                	    	 
		
                                        	    	 onloadDataAjax();
                                        	    	
                                        	    });
                                               
                                            },
                                            Pickup_Drop: function () {

                                            	var urlLink="/CREManager/cancelBooking/"+servicebookedId+"/2";
                                        	    
                                        	    $.ajax({
                                        	        url: urlLink

                                        	    }).done(function (status) {                                        	    	

                                        	    	 $.alert(status);                                	    	 
		
    												
                                        	    	
                                        	    });
											
                                               
												
                                            }
                                        }
                                    });
                               

		}

		//RESHEDULE BOOKING SERVICE
		
		function resheduleBookingService(servicebookedId){
			$.blockUI();

			//alert(servicebookedId);

			var urlLink="/CREManager/reviewResheduleBooking/"+servicebookedId+"";

			 $.ajax({
     	        url: urlLink

     	    }).done(function (data) { 

     	    	$.unblockUI();

	     	     var serviceTypeId=data.serviceTypeId;
	   	    	 var selectedLoca=data.selectedCityName;

     	    	 $("#vehicle").html(data.vehicleId); 
     	    	 $("#vehicle").val(data.vehicleRegNo); 

     	    	
     	    	$("#vehicle_id").val(data.vehicleId);

     	    	$("#call_int_id").val(data.callIntId);
     	    	 
     	    	 $("#date12345").html(data.serviceBookedDate); 
     	    	 $("#date12345").val(data.serviceBookedDate); 

     	    	 $("#CommittedTimes").html(data.serviceBookTime); 
    	    	 $("#CommittedTimes").val(data.serviceBookTime); 

    	    	 $("#remarks").html(data.remarksOfService); 
    	    	 $("#remarks").val(data.remarksOfService); 

    	    	 $('#serviceBookedTypeDisposition option[value="'+serviceTypeId+'"]').attr('selected', true); 

    	    	 $('#city option[value="'+selectedLoca+'"]').attr('selected', true) ;                                     	    	
    	    	                                      	    	
    	    	 $('#workshop').empty();
	             var dropdown = document.getElementById("workshop"); 
	             dropdown[dropdown.length] = new Option(data.serviceBookWorkshop,data.workshopId);

	             $('#serviceAdvisor').empty();
	             var dropdown = document.getElementById("serviceAdvisor"); 
	             dropdown[dropdown.length] = new Option(data.serviceAdvisor,data.serviceAdvisorId);

				var typePickup=data.typeOfPickUp;
				//alert(typePickup);
	             if(typePickup=='true'){						
						 $("#PickupDropRequired" ).prop( "checked", true );
						 $("#bookingReviewNAdd").show();
						 $("#SubmitBtnBkreview").hide();
						 $("#AssignBtnBkreview").show();
					}else if(typePickup=='Customer Drive-In'){
						$("#CustomerDriveInID" ).prop( "checked", true );
						$("#bookingReviewNAdd").hide();
						 $("#AssignBtnBkreview").hide();
						 $("#SubmitBtnBkreview").show();
					}else if(typePickup=='Maruthi Mobile Support'){
						$("#QWIKServiceID" ).prop( "checked", true );
						$("#bookingReviewNAdd").hide();
						 $("#AssignBtnBkreview").hide();
						 $("#SubmitBtnBkreview").show();
					}else if(typePickup=='Door Step Service'){
						$("#DoorStepServiceID" ).prop( "checked", true );
						 $("#bookingReviewNAdd").show();
						 $("#SubmitBtnBkreview").hide();
						 $("#AssignBtnBkreview").show();
					}else if(typePickup=='Road Side Assistance'){
						$("#RoadSideAssitantIdIs" ).prop( "checked", true );
						 $("#bookingReviewNAdd").show();
						 $("#SubmitBtnBkreview").hide();
						 $("#AssignBtnBkreview").show();
						 
					}  

	             
	             $('#AddressMSSId').empty();
	             var dropdown = document.getElementById("AddressMSSId"); 
	             dropdown[dropdown.length] = new Option(data.serviceBookedAddress,data.serviceBookedAddress);

	             var timeSelected=data.fromTime+" to "+data.toTime;

	             $('#timeslot').html(timeSelected);
	             $('#drivername').html(data.driverName);
	             $('#serviceBookingDate').html(data.serviceBookedDate);
	             $('#changeserviceBookingDate').val(data.serviceBookedDate);
     	    });

			}
		
		$("#SubmitBtnBkreview").click(function(){

			var remarks = document.getElementById("remarks").value; 
			var vehicleReg=document.getElementById("vehicle").value; 
			var scheduleDate=document.getElementById("date12345").value; 
			var scheduleTime=document.getElementById("CommittedTimes").value;
			var address=document.getElementById("AddressMSSId").value;
			var serviceAdvisorId=document.getElementById("serviceAdvisor").value;
			var workshopId=document.getElementById("workshop").value;
			var serviceBookType=document.getElementById("serviceBookedTypeDisposition").value;
			var city=document.getElementById("city").value;
			var vehicle_id=document.getElementById("vehicle_id").value;
			var call_int_id=document.getElementById("call_int_id").value;		        
			var driver_id=document.getElementById("driverValue").value;
			var startTimeId=document.getElementById("startValue").value;
			var endTimeId=document.getElementById("endValue").value;
			console.log(" driver_id startTimeId endTimeId : "+driver_id,startTimeId,endTimeId);
			
			var typeOfPickup = new Array();
			$("input[name='typeOfPickup']:checked").each(function(i) {
				typeOfPickup.push($(this).val());
			});

			
			var urlLink = "/CREManager/postRescheduleBooking"
				$.ajax({
			        type: 'POST',	       
			        url: urlLink,
			        data: {
			        	
			        	remarks:''+remarks,
			        	vehicleReg:''+vehicleReg,
			        	scheduleDate:''+scheduleDate,
			        	scheduleTime:''+scheduleTime,
			        	address:''+address,
			        	serviceAdvisorId:''+serviceAdvisorId,
			        	workshopId:''+workshopId,
			        	serviceBookType:''+serviceBookType,
			        	city:''+city,
			        	typeOfPickup:''+typeOfPickup,
			        	vehicle_id:''+vehicle_id,
			        	call_int_id:''+call_int_id,
			        	driver_id:''+driver_id,
			        	startTimeId:''+startTimeId,
			        	endTimeId:''+endTimeId,
			        	
			        },
			        success: function (json) {

			        	onloadDataAjax();
			        	
			        },
			        error: function () {
			        	
			        	
			        }
			       
			    });
			
		});

		function AssignBtnBkreview(){
			//alert("AssignBtnBkreview");
				$.blockUI();
				var newdates = $('#changeserviceBookingDate').val();
			if(newdates!=""){	
			
         	 //alert(newdates);
              $('#newbookingdate').html(newdates);                       
              $('#date12345').val(newdates);
			}else{
				 var newDateSB = $('#date12345').val();
	             $('#newbookingdate').html(newDateSB);
	             $('#changeserviceBookingDate').val(newDateSB);
				}
              

			var scheduleDate = document.getElementById('date12345').value;
			var workshopId = document.getElementById('workshop').value;
			 
			var urlPath = "/driverListSchedule/"+workshopId+"/"+scheduleDate;
		    $.ajax({
		        url: urlPath
		    }).done(function (dataDriver) {
		        var data = dataDriver.driverListData;
		        var timeslot = dataDriver.timeSlotData;

				$('#tableID').empty();
		        	
		       	var table = document.getElementById("tableID");
		       	var header = table.createTHead();
	        	var row = header.insertRow(0);	

			            	        	       
	        	for (var i = data.length-1; i >= 0; i--) {	        	
		        	var cell = row.insertCell(0);		        			        	
				    cell.outerHTML  = "<th id="+data[i].id+">"+data[i].userName+"</th>";
		        		        }

	        	var cell = row.insertCell(0);		        			        	
			    cell.outerHTML  = "<th>Time slot</th>";

			    for (var j = 0; j < timeslot.length; j++) {	
			    tr = $('<tr/>');
                tr.append('<td id='+timeslot[0].timeRange+' At '+timeslot[j].timeRange+'>'+timeslot[j].timeRange+'</td>');
                for(var k = 0; k < data.length; k++){
				   
                   var blockedTime= data[k].listTime;
                   var result=inArray(timeslot[j].startTime,blockedTime)
                   //console.log("Time is result: "+result);  
               if(result){     
                tr.append('<td id='+timeslot[j].timeRange+' class="ColorRed"></td>');
               }else{

            	   tr.append('<td id='+timeslot[j].timeRange+'></td>');
                   }
                
                }                
                $('#tableID').append(tr);
                $.fn.dataTable.ext.errMode = 'none';
                $($.fn.dataTable.tables(true)).DataTable()
                       .columns.adjust();
              $('#tableID').dataTable({

               "fixedHeader": true,
               "processing": true,
               "scrollX": true,
               "scrollY": 200,
               "paging": false,
               "searching":false,
               "ordering":false,
               "bInfo" : false
              });

                		      
			    }

			    var firsftSelect;
			      if (table != null) {
			          for (var i = 1; i < table.rows.length; i++) {
			              for (var j = 1; j < table.rows[i].cells.length; j++){
			  			//table.rows[i].cells[j].id= table.rows[0].cells[j].innerText +" At " + table.rows[i].cells[0].innerText;
			  			//console.log("class name : "+table.rows[i].cells[j].className )
			  			var blockedclass=table.rows[i].cells[j].className;	

			  			if(blockedclass == "ColorRed"){}else{		  				  			
			  			table.rows[i].cells[j].onclick = function () {
			  			//alert('clicked one ');
			  				tableText(this);
			  				
			              
			  			};
			              }
			              
			  			}
			          }
			      }
			      $.unblockUI();
		   
		    });

			}
		

		$('#allcateSubmit').on('click',function(){
	alert("allcateSubmit");
			  $("#SubmitBtnBkreview").show();
			});

		function inArray(needle,haystack)
		{
		    var count=haystack.length;
		    for(var i=0;i<count;i++)
		    {
		        if(haystack[i]===needle){return true;}
		    }
		    return false;
		}
</script>


}