@(userlist:List[WyzUser],dispoList:List[CallDispositionData],camplist:List[Campaign],campaign_list:List[Campaign],user:String,dealercode:String)
@mainPageCREManger("AutoSherpaCRM",user,dealercode){

<div class="panel panel-primary">
  <div class="panel-heading">Change Assignment</div>
  <div class="panel-body">
  <div class="row">
  <div class="col-md-2">
	<label>Agent Name : </label>
	<div class="form-group">
	<select class="multiSelectClass form-control" id="crename" multiple="multiple">
		
		@for(user <- userlist){
			<option value="@user.getId()">@user.getUserName()</option>
			
		}
	
	</select>
  </div>
  </div>
  <div class="col-md-2">
  <div class="form-group">
	<label>From Assign Date : </label>
	<input type="text" class="form-control AssFromDtClass datepicker" id="assignFromDate" readonly>
  </div>
  </div>
   <div class="col-md-2">
   <div class="form-group">
	<label>To Assign Date : </label>
	<input type="text" class="form-control AssToDtClass datepicker" id="assignToDate" readonly>
  </div>
  </div>
   <div class="col-md-2">
	<label>Disposition Status : </label>
	<div class="form-group">
	<select class="multiSelectClass form-control" id="all_dispositions">
			   <option value="100">--Select--</option>
			    <option value="0">Not yet called</option>		
				<option value="3">Book My Service</option>
				<option value="4">Call me later</option>
				<option value="5">Service Not Required</option>
				<option value="6">Ringing No response</option>
				<option value="7">Busy</option>
				<option value="8">Switched Off / Unreachable</option>
				<option value="43">Wrong Number</option>
	</select>
  </div>
  </div>
    <div class="col-md-2">
	<label>Campaign Type: </label>
	<div class="form-group">
	<select class="selectpicker form-control CampaignClass" id="campaignTypeSelected" onchange="ajaxCampaignNameBasedOnType();">
		<option value="0">--Select--</option>		
		@for(list_camp	<- campaign_list){
						<option value="@list_camp.campaignType">@list_camp.campaignType</option> 
						}
	</select>
  </div>
  </div>
  <div class="col-md-2">
	<label>Campaign Name: </label>
	<div class="form-group">
	<select  multiple="multiple" class="selectpicker form-control CampaignClass" id="campaignNameSelected">
		<option value="0">--Select--</option>		
		
	</select>
  </div>
  </div>
  <div class="col-md-2"><br />
	<button type="button" class="btn btn-info" id="clearAllId">Clear All</button>
	<button type="button" class="btn btn-info" id="ViewAlltblBox" onclick="ajaxViewAssignDataList()">View</button>
	
  </div>
  
  </div>
  <br />
  
   <span type="label" id="viewCallsERR" style="color:red"></span>
 
  <div class="row" id="selectAllDIv" style="display:none">
  <div class="col-md-12">
  <table id="tbl" class="table table-bordered table-responsive">
<thead>
<tr>
<th style="width: 100px;"> <input type="checkbox" id ="chckHead"/> Select All</th>
<th>User Name</th>
<th>Customer Name</th>
<th>Mobile Number</th>
<th>Vehicle RegNo.</th>
<th>Disposition</th>
<th>Campaign</th>
<th style="display:none;"></th>

</tr>
</thead>
<tbod

</tbody>
</table>
  </div>
  </div>
  
  <span type="label" id="assignCallsERR" style="color:red"></span>
  <div class="row">
	<div class="col-md-2">
	<label>Assign To</label>
	<div class="form-group">
	<select class="multiSelectTop form-control" id="userlist" multiple="multiple" name="userId[]" required>
		@for(user <- userlist){
			<option value="@user.getId()">@user.getUserName()</option>
			
		}
	</select>
  </div>
  </div>
  	<div class="col-md-2"><br />
		 <button type="button" class="btn btn-info" onclick="ajaxAssignDataList();" >Change Assignment</button>
	  </div>
 
  </div>
  
  </div>
</div>



}

<script>
 $(document).ready(function() {
 
       $('.multiSelectClass').multiselect({ 
         includeSelectAllOption: true,
           enableFiltering:true,
           buttonWidth: '190px'        
           
     });
	 $('.multiSelectTop').multiselect({ 
         includeSelectAllOption: true,
           enableFiltering:true,
           buttonWidth: '190px',
maxHeight: 150,
            dropUp: true	    
           
     });
     
});
</script>

<script type="text/javascript">
    $('.chcktbl').click(function () {
            
           
            $('.chcktbl:not(:checked)').attr('disabled', true);
      
            $('.chcktbl:not(:checked)').attr('disabled', false);

            
        
    });
</script>
<script type="text/javascript">
    $('#chckHead').click(function () {
 
        if (this.checked == false) {
 
            $('.chcktbl:checked').attr('checked', false);
        }
        else {
            $('.chcktbl:not(:checked)').attr('checked', true);
 
        }
    }); 
 
</script>
<script>
	/*$("#clearAllId").click(function(){
		//$(".selectpicker option:selected").removeAttr("selected");
		//$('.selectpicker').attr('multiple').val('');
		//$('.selectpicker').multiselect('refresh');
$('#crename').selectpicker("deselectAll", true).selectpicker("refresh");
		
		//$("#crename").val('');
		$(".AssFromDtClass").val('');
		$(".AssToDtClass").val('');
	//	$(".CampaignClass select").val('0');
		//$("#selectAllDIv").hide();
		//$("#all_dispositions").val('');
			
		
	});*/

	$("#clearAllId").click(function(){
		  $('option', $('#crename')).each(function(element) {
		    $(this).removeAttr('selected').prop('selected', false);
		  });
		  $("#crename").multiselect('refresh');

		  
		  $('option', $('#campaignTypeSelected')).each(function(element) {
			    $(this).removeAttr('selected').prop('selected', false);
			  });
			  $("#campaignTypeSelected").multiselect('refresh');

			  
			  $('option', $('#all_dispositions')).each(function(element) {
				    $(this).removeAttr('selected').prop('selected', false);
				  });
				  $("#all_dispositions").multiselect('refresh');

				  
				  $('option', $('#campaignNameSelected')).each(function(element) {
					    $(this).removeAttr('selected').prop('selected', false);
					  });
					  $("#campaignNameSelected").multiselect('refresh');	  

					  
		  $(".AssFromDtClass").val('');
			$(".AssToDtClass").val('');
		});
	$("#ViewAlltblBox").click(function(){
		$("#selectAllDIv").show();
	});
</script>
<script>
function ajaxViewAssignDataList(){

	var campSelecType = $('#campaignTypeSelected').val();
	var fromdate = $('#assignFromDate').val();
	var todate = $('#assignToDate').val();
	var u = $("#crename").val();
	var v = $("#all_dispositions").val();
	
	
	if(campSelecType =='0' || v ==null || u ==null || fromdate=='' || todate==''){
		document.getElementById("viewCallsERR").innerText="please provide all values";
        return false;
	}else{

		document.getElementById("viewCallsERR").innerText="";

	var selected_cres;
	var x = document.getElementById("crename");
	var j = 0;
	for (var i = 0; i < x.options.length; i++) {
		if (x.options[i].selected == true) {
			if (j == 0)
				selected_cres = x.options[i].value;
			else
				selected_cres = selected_cres + ","
						+ x.options[i].value;

			//console.log(selected_cres);
			j++;
		}
	}
	
	var selected_dispositions;
	var y = document.getElementById("all_dispositions");
	var k = 0;
	for (var a = 0; a < y.options.length; a++) {
		if (y.options[a].selected == true) {
			if (k == 0)
				selected_dispositions = y.options[a].value;
			else
				selected_dispositions = selected_dispositions
						+ "," + y.options[a].value;

			//console.log(selected_dispositions);
			k++;
		}
	}

	var campSelec;
	var y = document.getElementById("campaignNameSelected");
	var k = 0;
	for (var a = 0; a < y.options.length; a++) {
		if (y.options[a].selected == true) {
			if (k == 0)
				campSelec = y.options[a].value;
			else
				campSelec = campSelec
						+ "," + y.options[a].value;

			console.log(campSelec);
			k++;
		}
	}

	
	var urlLink = "/CREManager/changeAssignedCalls	"
    
    $('#tbl').dataTable( {
     "bDestroy": true,
     "processing": true,
     "serverSide": true,
     "scrollY": 300,
     "paging": true,
     "searching": false,
     "ordering":false,
     "ajax": {
	        'type': 'POST',
	        'url': urlLink,
	        'data': {
	        	campSelecType:''+campSelecType,
	        	campSelec: ''+campSelec,
	        	fromdate:''+fromdate,
	        	todate:''+todate,
	        	selected_cres:''+selected_cres,
	        	selected_dispositions:''+selected_dispositions,
	        	
	        },
     }
 } ); 
}
     
 }


function ajaxAssignDataList(){

	//var campSelec = $('#campaignSelected').val();
	var fromdate = $('#assignFromDate').val();
	var todate = $('#assignToDate').val();

	

	var u=$('#userlist').val();
	var selected_camps = new Array();
	$("input[name='callId[]']:checked").each(function(i) {
		selected_camps.push($(this).val());
	});

	//alert("u :"+u);
	//alert("selected_camps :"+selected_camps);
	
	if(u =='' || selected_camps ==''){

		document.getElementById("assignCallsERR").innerText="please provide all values for Assignment";
        return false;

		}else{

			document.getElementById("assignCallsERR").innerText="";

			var selected_cres_filter;
			var z = document.getElementById("crename");
			var l = 0;
			for (var i = 0; i < z.options.length; i++) {
				if (z.options[i].selected == true) {
					if (l == 0)
						selected_cres_filter = z.options[i].value;
					else
						selected_cres_filter = selected_cres_filter + ","
								+ z.options[i].value;

					//console.log(selected_cres);
					l++;
				}
			}
			
			var selected_dispositions;
			var y = document.getElementById("all_dispositions");
			var k = 0;
			for (var a = 0; a < y.options.length; a++) {
				if (y.options[a].selected == true) {
					if (k == 0)
						selected_dispositions = y.options[a].value;
					else
						selected_dispositions = selected_dispositions
								+ "," + y.options[a].value;
					//console.log(selected_dispositions);
					k++;
				}
			}		

			var campSelec;
			var y = document.getElementById("campaignTypeSelected");
			var k = 0;
			for (var a = 0; a < y.options.length; a++) {
				if (y.options[a].selected == true) {
					if (k == 0)
						campSelec = y.options[a].value;
					else
						campSelec = campSelec
								+ "," + y.options[a].value;

					console.log(campSelec);
					k++;
				}
			}

	var selected_cres;
	var x = document.getElementById("userlist");
	var j = 0;
	for (var i = 0; i < x.options.length; i++) {
		if (x.options[i].selected == true) {
			if (j == 0)
				selected_cres = x.options[i].value;
			else
				selected_cres = selected_cres + ","
						+ x.options[i].value;

			//console.log(selected_cres);
			j++;
		}
	}

	
	
	var selected_camps = new Array();
	$("input[name='callId[]']:checked").each(function(i) {
		selected_camps.push($(this).val());
	});
	
	//alert(selected_camps.length);
	
	var selectAllStatus = document.getElementById("chckHead").checked;
                alert(selectAllStatus);
	
	
	
	
	var urlLink = "/CREManager/assignCallToAgents"
		$.ajax({
	        type: 'POST',	       
	        url: urlLink,
	        data: {
	        	
	        	selected_cres:''+selected_cres,
	        	selected_camps:''+selected_camps,
	        	selectAllStatus:''+selectAllStatus,
	        	campSelec: ''+campSelec,
	        	fromdate:''+fromdate,
	        	todate:''+todate,
	        	selected_cres_filter:''+selected_cres_filter,
	        	selected_dispositions:''+selected_dispositions,
	        	
	        	
	        },
	        success: function (json) {
				
	        	window.location='changeAssignedCalls';
	        },
	        error: function () {
	        	
	        	
	        }
	       
	    });

		}
	    
	
}



  </script>
 