@(user:String,dealerName:String,allCRE:List[String],locations:List[String],allworkshops:List[String],allCampaignList:List[String])
@mainPageCREManger("AutoSherpaCRM",user,dealerName) {
<div class="panel panel-primary">
        <div class="panel-heading"><strong>Report</strong></div>
        <div class="panel body">
        <div class="row">
  <div class="col-md-12">
  <div class="col-md-2">   
      <div class="form-group">
         <label>Assign Date From :<span style="color:red">*</span></label>   
		<input type="text" class="form-control datepickerFilter" placeholder="Enter Call Date From" id="frombilldaterange" name="frombilldaterange" readonly>
      </div>
      </div>
  
   <div class="col-md-2">   
      <div class="form-group">   
       <label>Assign Date To :<span style="color:red">*</span></label>    
		<input type="text" class="form-control datepickerFilter" placeholder="Enter Call Date To"  id="tobilldaterange" name="tobilldaterange" readonly>
     	</div>
      </div>

        <div class="col-md-2">
                    <label>Select Location :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="location"  name="location" class="selectpicker  form-control" onchange="workshopsBasedOnLocations(this);">  	     
                     	@for(data3 <- locations){                       	                        
                        <option value="@data3">@data3</option>
                      	}	  	
                    	</select>	
                    	<span type="label" id="locationERR" style="color:red"></span>	
      </div>
       </div>
       
       <div class="col-md-2">
                    <label>Select Workshops :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple" id="workshopname"  name="workshopname" class="selectpicker form-control" onchange="cresBasedOnLocations(this);"> 
    	   </select>
                    	
           
      </div>
       </div>
      
          <div class="col-md-2">
   
                    <label>Select CRE's :</label>
                     <div class="form-group">
    	  	<select  multiple="multiple"  id="crename"  name="crename" class="selectpicker form-control" > 
    	                       	     
                     	  	
                    	</select>
                    	<span type="label" id="crenameERR" style="color:red"></span>	
           
      </div>
       </div>
        <div class="col-md-2">
   
                    <label>Select Campaign :</label>
                     <div class="form-group">
               	<select id="campaignName"  name="campaignName" class="selectpicker form-control">  	     
				<option value="Select">Select</option>
    	  	@for(data3 <- allCampaignList){                       	                        
                        <option value="@data3">@data3</option>
                      	}	  	
                    	</select>	           
      </div>
       </div>
       </div>
       
    
        <div class="col-md-12">
  <div class="form-group pull-right">
<!--<button type="button" name="selectedFile" class="btn btn-sm btn-primary viewDailyReports" value="DailyReport"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Data Availability Report</button>
  			
  		<button type="button" name="selectedFile" class="btn btn-sm btn-primary viewDailyAssignmentReports" value="DailyReport"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Data Assignment Report</button>
  	-->  		
		</div>
</div> 
       </div>
   </div>
      <!-- /.col-lg-12 --> 
     
    </div>
    <div class="row">
       <div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Data Availability Status Report</strong>
      
        
           <button type="button" name="selectedFile" class="btn btn-warning btn-xs viewDailyReports pull-right" value="DailyReport"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;<strong>View</strong></button>
           
        </div>
    
    
          <div class="panel-body" style="overflow:auto">
          <table class="table table-striped table-bordered table-responsive" id="getDailyAvailabilitystatus" width="100%">
						<thead>
							<tr>
									<th>CRE</th> 
                                    <th>Campaign</th>                                   
                                    <th>FreshCalls</th>                                   
                                    <th>FollowUps</th>
                                    <th>OvreDue Bookings</th>
                                    <th>NonContacts</th>
                                    <th>Total Available</th>
                             </tr>
						</thead>
						<tbody>
					
						</tbody>
					</table>
          </div>
          <!-- /.panel-body --> 
      
        <!-- /.panel --> 
      </div>
        
        </div>
        <div class="col-lg-6">
          <div class="panel panel-primary">
        <div class="panel-heading"><strong>Data Assignment Status Report</strong>
     
  		<button type="button" name="selectedFile" class="btn btn-xs btn-warning viewDailyAssignmentReports pull-right" value="DailyReport"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;<strong>View</strong></button>
          
        </div>
        
     
          <div class="panel-body" style="overflow:auto">
          <table class="table table-striped table-bordered table-hover" id="getDailyAssignmentstatus" width="100%">
						<thead>
							<tr>
									<th>Module</th>
									<th>CRE</th> 
                                    <th>Campaign</th> 
                                    <th>Assigned Date</th> 
                                    <th>Total Calls Allocated</th>
                             </tr>
						</thead>
						<tbody>
					
						</tbody>
					</table>
          
          <!-- /.panel-body --> 
        </div>
        <!-- /.panel --> 
      
        </div>
        </div>
        </div>
        
       
}
<script>

	$('.viewDailyReports').click(function(){
    	
        var fromDate     = $("#frombilldaterange").val();
        var toDate       = $("#tobilldaterange").val();
       console.log("frombilldaterange:"+frombilldaterange);
              
        var UserIds="",j,k;
        var dispositions="";
        var location ="";
        var workshop = "";
        var workshops="";
        var bookingstatus ="";
        var locations="";
        myOption = document.getElementById('crename');
        console.log("here"+myOption);		        
	    for (j=0;j<myOption.options.length;j++){
	        if(myOption.options[j].selected){
	            if(myOption.options[j].value != "Select"){
	        		UserIds = UserIds + myOption.options[j].value + ",";
	            }else{
					UserIds ="";
	            }
	        }
	    }
    	/*if(UserIds.length > 0){
        	UserIds = UserIds.substring(0, UserIds.length - 1);
        	
    	}else{
    		UserIds="";
    	}*/

    	 myloc = document.getElementById('location');
         console.log("here"+myloc);
     	 for (j=0;j<myloc.options.length;j++){
     	        if(myloc.options[j].selected){
     	            if(myloc.options[j].value != "Select"){
     	        		locations = location + myloc.options[j].value + ",";
     	        		console.log("loc in view page:"+locations);
     	            }else{
						locations ="";
     	            }
     	        }
     	    }	   	
     	 /*if(location.length > 0){
     		 locations = location.substring(0, myloc.length - 1);
          	
      	}else{
      		locations="";
      	}*/

     	 myworkshop = document.getElementById('workshopname');
         
     	 for (j=0;j<myworkshop.options.length;j++){
        	 
     	        if(myworkshop.options[j].selected){
     	            if(myworkshop.options[j].value != "Select"){
     	        		workshop = workshop + myworkshop.options[j].value + ",";
     	        		
     	            }else{
     	        		workshop = "";
         	            
     	            }
     	        }
     	    }

     	mycampaign = document.getElementById('campaignName');
        
    	 for (j=0;j<mycampaign.options.length;j++){
       	 
    	        if(mycampaign.options[j].selected){
    	            if(mycampaign.options[j].value != "Select"){
    	        		workshops = workshops + mycampaign.options[j].value + ",";
    	        		
    	            }else{
    	        		workshops = "";
        	            
    	            }
    	        }
    	    }
		 var urlLink = "/CREManager/getDailyAvailability";
    	    console.log("location in link:"+workshops);
    	    $('#getDailyAvailabilitystatus').dataTable( {
    	     "bDestroy"  : true,
    	     "processing": true,
    	     "serverSide": true,
    	     "scrollY"   : 400,
 	         "scrollX"   : true,
    	     "paging"    : false,
    	     "searching" : false,
    	     "ordering"  : false,
    	     "ajax": {
    		        'type': 'POST',
    		        'url' : urlLink,
    		        'data': {    		        	
    		        	fromDate :''+fromDate,
    		        	toDate   :''+toDate,
    		        	UserIds  :''+UserIds,
    		        	workshops:''+workshops	    		        	
    		        } 
    	     },
    	     "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                 $('td', nRow).attr('nowrap','nowrap');
                 return nRow;
                 }
    	 } );
    });
</script>
<script>

	$('.viewDailyAssignmentReports').click(function(){
    	
        var fromDate     = $("#frombilldaterange").val();
        var toDate       = $("#tobilldaterange").val();
       console.log("frombilldaterange:"+frombilldaterange);
              
        var UserIds="",j,k;
        var dispositions="";
        var location ="";
        var workshop = "";
        var workshops="";
        var bookingstatus ="";
        var locations="";
        myOption = document.getElementById('crename');
        console.log("here"+myOption);		        
	    for (j=0;j<myOption.options.length;j++){
	        if(myOption.options[j].selected){
	            if(myOption.options[j].value != "Select"){
	        		UserIds = UserIds + myOption.options[j].value + ",";
	            }else{
					UserIds ="";
	            }
	        }
	    }
    	/*if(UserIds.length > 0){
        	UserIds = UserIds.substring(0, UserIds.length - 1);
        	
    	}else{
    		UserIds="";
    	}*/

    	 myloc = document.getElementById('location');
         console.log("here"+myloc);
     	 for (j=0;j<myloc.options.length;j++){
     	        if(myloc.options[j].selected){
     	            if(myloc.options[j].value != "Select"){
     	        		locations = location + myloc.options[j].value + ",";
     	        		console.log("loc in view page:"+locations);
     	            }else{
						locations ="";
     	            }
     	        }
     	    }	   	
     	 /*if(location.length > 0){
     		 locations = location.substring(0, myloc.length - 1);
          	
      	}else{
      		locations="";
      	}*/

     	 myworkshop = document.getElementById('workshopname');
         
     	 for (j=0;j<myworkshop.options.length;j++){
        	 
     	        if(myworkshop.options[j].selected){
     	            if(myworkshop.options[j].value != "Select"){
     	        		workshop = workshop + myworkshop.options[j].value + ",";
     	        		
     	            }else{
     	        		workshop = "";
         	            
     	            }
     	        }
     	    }

     	workshops = document.getElementById('campaignName');

    	if($("#campaignName :selected").val() == "Select"){
    		workshops = "";

    	}else{
    		workshops = $("#campaignName :selected").val();

    	}

    	    
		 var urlLink = "/CREManager/getDailyAssignment";
    	    console.log("location in link:"+workshops);
    	    $('#getDailyAssignmentstatus').dataTable( {
    	     "bDestroy"  : true,
    	     "processing": true,
    	     "serverSide": true,
    	     "scrollY"   : 400,
 	         "scrollX"   : true,
    	     "paging"    : false,
    	     "searching" : false,
    	     "ordering"  : false,
    	     "ajax": {
    		        'type': 'POST',
    		        'url' : urlLink,
    		        'data': {    		        	
    		        	fromDate :''+fromDate,
    		        	toDate   :''+toDate,
    		        	UserIds  :''+UserIds,
    		        	workshops:''+workshops	    		        	
    		        } 
    	     },
    	     "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
                 $('td', nRow).attr('nowrap','nowrap');
                 return nRow;
                 }
    	 } );
    });
</script>
