@(oem:String,dealercode:String,dealerName:String,userName:String,followUpdata: List[CallInteraction])
@import helper._
@import scala._
@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode,oem) {
            
<style>
    td, th {
                
        border: 1px solid black;
        overflow: hidden; 
        text-align:center!important;
    }
</style>

<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">  
                        <a href="/CRE/getDispositionPageOfTab" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i>&nbsp Back</a>                  
                        
                         Follow Up Required Calls Of Today
                        </div>
                        
                         <div class="panel-body">
                            <div class="dataTable_wrapper">                            
                            <div style="overflow-x: auto">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example15">
                                    <thead>
                                 <tr> 
                                	                            	
                                    <th>Customer Name</th>
                                    <th>Mobile Number</th>                                   
                                    <th>Vehicle RegNo.</th>
                                    <th>Model</th>
                                    <th>Follow Up Time</th>
                                    <th>Disposition Form</th>
                                    
                                   
                                                                                                      
                                    
                                 </tr>
                              </thead>
                                <tbody>
                                    
                                 @for(post <- followUpdata) {
                               <tr>                               
                              	<td>@post.getCustomer().getCustomerName()</td>
                              	<td>@{if(post.getCustomer().getPreferredPhone() !=null){
                                    
                                    post.getCustomer().getPreferredPhone().getPhoneNumber()
                                    
                                    }}</td>                              	
                              	 <td>@post.getVehicle().vehicleRegNo</td>
                              	<td>@post.getVehicle().model</td>  
                              	<td>@post.getSrdisposition().followUpTime</td>                            	
                              	 <td><a href="/CRE/getDispositionFormPage/@post.customer.getId()/@post.vehicle.getVehicle_id/service"><i class="fa fa-pencil-square" data-toggel="tooltip" title="Disposition" style="font-size:30px;color:#DD4B39;"></i></a></td>                           	                              	                                                                     
                                 </tr>
                                      
                                     }
                             
                                   
                                </tbody>
                               
                            </table>
                                </div>
                            </div>
                           
                            
                        </div>
                       
                    </div>
                    
                </div>
               
            </div>
            
}