@(toActivateTab1:String,toActivateTab2:String,toActivateTab3:String,toActivateTab4:String,toActivateTab5:String,userName:String,dealerName:String,dealercode:String,oem:String,campaignList:List[Campaign])
@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode,oem) {
	
	<input type="hidden" id="user" value="@userName">

<input type="hidden" id="toActivateInsTab1" value="@toActivateTab1">
<input type="hidden" id="toActivateInsTab2" value="@toActivateTab2">
<input type="hidden" id="toActivateInsTab3" value="@toActivateTab3">
<input type="hidden" id="toActivateInsTab4" value="@toActivateTab4">
<input type="hidden" id="toActivateInsTab5" value="@toActivateTab5">
	


<div class="row" >
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">  <b>INSURANCE CALL LOG</b> </div>
            <div class="panel-body" style="overflow-x: auto;">
            
            
            <div class="panel panel-default">
             <ul class="nav nav-tabs">
                    <li ><a href="#homeIns" data-toggle="tab" id="TabIns1" onclick="ajaxInsuranceRemainder();">Scheduled calls</a> </li>
                    <li ><a href="#profileIns" data-toggle="tab" id="TabIns2" onclick="ajaxInsuranceDisposition('4');">Follow Up Required</a> </li>
                    <li ><a href="#messagesIns" data-toggle="tab" id="TabIns3" onclick="ajaxInsuranceDisposition('25');">Appointments</a> </li>
                    <li ><a href="#settingsIns" data-toggle="tab" id="TabIns4" onclick="ajaxInsuranceDisposition('26');">Renewal Not Required</a> </li>
                    <li ><a href="#nonContactsIns" data-toggle="tab" id="TabIns5" onclick="ajaxInsuranceNonContactDispo('1');">Non Contacts</a> </li>
                    <li ><a href="#droppedBucIns" data-toggle="tab" id="TabIns6" onclick="ajaxInsuranceNonContactDispo('2');">Dropped</a> </li>
                </ul>
            
            
            <div class="tab-content">
			 <div class="panel panel-default" style="border-top: #fff;">
				<div class="panel-body">
            <div class="row">
            <div class="col-md-3">
            
               <label>Select Campaign</label>
						<select class="filter form-control" id="campaignName" data-column-index="3" name="campaignName">
							<option value="0" >--Select--</option>
							@for(campaign_List<-campaignList){
		                                <option value="@campaign_List.getId()">@campaign_List.getCampaignName()</option>
		                             }
		                                
						</select>
            
            </div>
            
					<div class="col-md-3" id="SchedulefromBillDate">
					<label>From Due Date : </label>
					<input type="text" class="filter form-control datepickerFilter" placeholder="Enter From Due Date" data-column-index="1" id="frombilldaterange" name="frombilldaterange" readonly>
				  </div>
				   <div class="col-md-3" id="ScheduletoBillDate">
					<label>To Due Date : </label>
					<input type="text" class="filter form-control datepickerFilter" placeholder="Enter To Due Date" data-column-index="2" id="tobilldaterange" name="tobilldaterange" readonly>
				  </div>
				
				
					<div class="col-md-3">
				  <label for="">Renewal Type</label>
				  <select class="filter form-control"  name="renewalType" data-column-index="4">
						<option value="0">--Select--</option>
						<option value="1st Renewal">1st Renewal</option>
						<option value="2nd Renewal">2nd Renewal</option>
						<option value="3rd Renewal">3rd Renewal</option>
						<option value="4th Renewal">4th Renewal</option>
						<option value="5th Renewal">5th Renewal</option>
						<option value="6th Renewal">6th Renewal</option>
						<option value="7th Renewal">7th Renewal</option>
						<option value="8th Renewal">8th Renewal</option>
					 </select>
				</div>
				</div>
				</div>
				</div>
                    <div class="panel panel-default tab-pane fade @toActivateTab1" id="homeIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                               	
                <table id="assignedInsuInteraction" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                                                            <th class="no-sort"></th>

                       
                            					<th>Campaign</th>
                                             	<th>Customer Name</th>
                                             	<th>Mobile No.</th>
                                             	<th>RegNo.</th>  
                                             	<th>Chassis No</th>                                             
                                                <th>Policy Due Month</th>
                                                <th>Policy Due Date</th>
                                                <th>Next Renewal Type</th>
                                                <th>Last Insurance Company</th>                                                
												<th class="no-sort"></th>
                        </tr>
                    </thead>

                    <tbody>
                        
                    </tbody>
                </table>
            
            
            </div>
            </div>
            </div>
           
                    <div class="panel panel-default tab-pane fade @toActivateTab2" id="profileIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                
                <table id="dispoInsuInteraction4" class="table table-striped table-bordered" cellspacing="0">
                  <thead>
                                         <tr> 
                                      	
                                                                                          <th class="no-sort"></th>
  
                                                <th>Campaign Name</th>  
                                                <th>Call Date</th>
                                                <th>Customer Name</th>                       	
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Policy Due Date</th>
                                                <th>Renewal Type</th>
                                                <th>FollowUp Date</th>
                                                <th>FollowUp Time</th>
                                               	<th></th>
                                               	<th>Last Disposition</th>
                                                <th class="no-sort"></th>
                                            </tr>   
                                        </thead>
                                        <tbody>

                                        </tbody> 
                </table>
           
            
            </div>
            </div>
            </div>
            
                    <div class="panel panel-default tab-pane fade @toActivateTab3" id="messagesIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                
                <table id="dispoInsuInteraction25" class="table table-striped table-bordered nowrap" cellspacing="0">
                
                 <thead>
                                            <tr> 
                                                                                   <th class="no-sort"></th>

												<th>Campaign Name</th>
                                                <th>Call Date</th>
                                               	<th>Customer Name</th>
                                                <th>Mobile Number</th>                                                                   
                                                <th>Vehicle RegNo.</th>                                               
                                                <th>Policy Due Date</th>
                                                <th>Renewal Type</th>
                                                <th>Appointment Date</th>
                                                <th>Appointment Time</th>
                                                <th>Insurance Agent</th>
                                                <th>Appointment Status</th>
                                                <th>Last Disposition</th>                                   
                                                <th class="no-sort"></th>
                                                  
                                                



                                            </tr>
                                        </thead>
                                        <tbody>




                                        </tbody>
                    
                </table>
           
            </div>
            </div>
            </div>

                    <div class="panel panel-default tab-pane fade @toActivateTab4" id="settingsIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                	
                <table id="dispoInsuInteraction26" class="table table-striped table-bordered" cellspacing="0">
                   <thead>
                                        <tr> 
                                                                                         <th class="no-sort"></th>
                  	
                                          		<th>Campaign Name</th>  
                                                <th>Call Date</th>
                                                <th>Customer Name</th>                       	
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                                <th>Policy Due Date</th>
                                                <th>Renewal Type</th>
                                               	<th>Last Disposition</th>
                                                <th>Reason</th>  
                                                <th class="no-sort"></th>



                                        </tr>
                                    </thead>
                                    <tbody>




                                    </tbody>
                </table>
         
            
            </div>
            </div>
            </div>
          
                    <div class="panel panel-default tab-pane fade @toActivateTab5" id="nonContactsIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                
								
                <table id="dispoInsuNonContact1" class="table table-striped table-bordered" width="100%">
                    
                    <thead>
                                        <tr> 
                                            <th class="no-sort"></th>
											<th>Campaign Name</th>
											<th>Call Date</th>
                                            <th>Customer Name</th>
                                            <th>Mobile Number</th>         
                                            <th>Vehicle RegNo.</th>
                                            <th>Policy Due Date</th>
                                            <th>Last Disposition</th>
                                            <th class="no-sort"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                </table>
         
		 
            
            </div>
            </div>
            </div>

                    <div class="panel panel-default tab-pane fade" id="droppedBucIns">
                        <div class="panel-body inf-content">              

                            <div class="dataTable_wrapper">                            
                                
                <table id="dispoInsuNonContact2" class="table table-striped table-bordered" width="100%">
                    
                    <thead>
                                            <tr> 
			                                            <th class="no-sort"></th>

												<th>Campaign Name</th>
												<th>Call Date</th>
                                                <th>Customer Name</th>
                                                <th>Mobile Number</th>         
                                                <th>Vehicle RegNo.</th>
                                               <th>Policy Due Date</th>
                                                <th>Last Disposition</th>
                                                <th>No. of Attempts</th>
                                            <th class="no-sort"></th>
												




                                            </tr>
                                        </thead>
                                        <tbody>



                                        </tbody>
                </table>
           
            </div>
            
            </div>
            </div>
            </div>
            
            
            </div>
            </div>
            </div>
            </div>



}

<script>

function FilterOptionData(table){
	var values = [];
	$('.filter').on('change', function() {
    	console.log("inside filteroptionsdata data");
	    var i= $(this).data('columnIndex');
	    var v = $(this).val();
		console.log(v);
		console.log(i);
	    
	    if(v.length>0){
		    	   
		   values[i] = v;
	    
	    }
	    
	    	console.log(JSON.stringify(values));	   	
	  	  //clear global search values
	 	  //table.api().search('');
	 	  $(this).data('columnIndex');

	 	 if(values.length>0) {
			 for(var i=0;i<values.length;i++){	
			    table.api().columns(i).search(values[i]);
			 }
			 table.api().draw();
			 } 
		 	  
	});
	
	
}


</script>
<script type="text/javascript">
      
 function ajaxInsuranceRemainder(){
    //alert("server side data load");
    
     var table=$('#assignedInsuInteraction').dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		"scrollX": true,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": "/insurance/assignedInsuInteraction",
		 "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
    } );
    FilterOptionData(table);
    
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
      $($.fn.dataTable.tables(true)).DataTable()
         .columns.adjust();
   });
    
    }

 function ajaxInsuranceDisposition(typeOfdispo){
	// alert(typeOfdispo);
	var table=$('#dispoInsuInteraction'+typeOfdispo).dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		"scrollX": true,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": "/insurance/contactedDispoInteractions/"+typeOfdispo+"",
		 "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
            
    	});
    FilterOptionData(table);
    
	 }

function ajaxInsuranceNonContactDispo(typeOfdispo){
	var table=$('#dispoInsuNonContact'+typeOfdispo).dataTable( {
        "bDestroy": true,
        "processing": true,
        "serverSide": true,
        "scrollY": 300,
		"scrollX": true,
        "paging": true,
        "searching":true,
        "ordering":false,			
        "ajax": "/insurance/nonContactedDispoInterac/"+typeOfdispo+"",
		 "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
              $('td', nRow).attr('wrap','wrap');
              return nRow;
              }
            
    });
    FilterOptionData(table);
	
}
 
 </script>
 
 <script type="text/javascript">
    window.onload = ajaxRequestDataOFInsuranceIndexPageWithTab;
</script>