@(url: String)

<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/Wyz_Login.css")"/> 
<link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")"> 
<link rel="stylesheet" href="@routes.Assets.at("css/font-awesome.min.css")">  
<link rel="stylesheet" href="@routes.Assets.at("css/style.css")">  
<style>
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #e6e6e6;
  line-height: 60px;
  box-shadow: 5px -5px 5px #b6b6b6;
  text-align: -webkit-right;
  }
</style>


  <div class="row" style="background-color:#EEEEEE; box-shadow: 10px 10px 5px #888888; margin-right: 0px;">
    <div class="logo"> <a href="#"><img src="@routes.Assets.at("images/dealercustomerconnectlogoblack2.png")"  alt="AutoSherpa" data-toggle="tooltip" title="AutoSherpa"></a> </div>
  </div>

<form action="@url" method="POST">

  <div class="group">
    <input type="text" name="username" title="Enter UserName" placeholder="UserName" required>
    <span class="highlight"></span><span class="bar"></span>
  </div>
  <div class="group">
    <input type="password" name="password" title="Enter Password" placeholder="Password" required>
    <span class="highlight"></span><span class="bar"></span>
  </div>
  <label style="color:red" id="lblError"></label>
  <button type="submit" name="submit" class="button buttonBlue" data-toggle="tooltip" title="Login">Login
  <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  
  <a href="/" style="margin-left: 135px;> <button type="submit" data-toggle="tooltip" title="Back" class="btn btn-success btn-xs"><i class="fa fa-arrow-circle-left"></i>&nbsp;Back</button> </a>

</form>

   <br>
   <footer class="footer">
           Powered by:<img src="@routes.Assets.at("images/AUTOBIZ.png")"  alt="" data-toggle="tooltip" title="AutoSherpa" style="width: 200px;">
       </footer>
      
   </br>

<script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script> 
<script src="@routes.Assets.at("javascripts/Wyz_Scripts.js")" type="text/javascript"></script>
 <script type="text/javascript">
    
    var query_string = {};
    var query = window.location.search.substring(1);
    
  // alert(query);
    var vars = query.split("&");
    var pair='';
    for (var i=0;i<vars.length;i++) {
        pair = vars[i].split("=");
        if(pair[i] === "CredentialsException"){
            document.getElementById('lblError').innerText="Invalid Username/Password !";
        }
        } 
   
</script>