@(url: String,useris:String)



<button><a href="/logoutParticularUser/@useris"><i class="fa fa-sign-out fa-fw"></i><span class="hidden-xs hidden-sm">LOGOUT @useris USER<span></a></button>

<button><a href="/login"><i class="fa fa-sign-out fa-fw"></i><span class="hidden-xs hidden-sm">LOGIN WITH OTHER USER<span></a></button>