@(dealercode:String,dealerName:String,userName:String,oem:String)

@mainPageCRE("AutoSherpaCRM",userName,dealerName,dealercode,oem) {

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading"> PSF List For Next Day FeedBack</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li id="psf6thData" class="active"><a href="#home" data-toggle="tab" value ="psf1stday" id="Tab1" onclick="assignedInteractionPSFData(result.name);" >1st Day PSF</a> </li>
                    <li><a href="#profile" data-toggle="tab"  id="Tab2" onclick="ajaxCallForFollowUpRequiredPSFData();">Follow Up Required</a> </li>
                    <li><a href="#incompleteSurvey" data-toggle="tab" id="Tab7" onclick="ajaxCallForIncompletedSurveyPSFData();">Incomplete Survey</a></li>
                    <li><a href="#settings" data-toggle="tab" id="Tab4" onclick="ajaxCallForCompletedSurveyPSFData();" >Completed Survey</a> </li>
                    <li><a href="#dissatisfied" data-toggle="tab" id="Tab" onclick="ajaxCallForDissatisfiedPSFData();">Dissatisfied</a></li>
                 <!-- <li><a href="#appointments" data-toggle="tab" id="Tab8" onclick="ajaxCallForAppointmentPSFData();">Appointments</a></li> -->   
                    <li><a href="#nonContacts" data-toggle="tab" id="Tab5" onclick="ajaxCallForNonContactsPSFData();">Non Contacts</a> </li>
                    <li><a href="#droppedBuc" data-toggle="tab" id="Tab6" onclick="ajaxCallForDroppedCallsPSFData();">Dropped</a> </li>
                  
                    
                </ul>
                <div class="tab-content">
                      <div class="row">
					<div class="col-md-3" id="SchedulefromBillDate" style="display:none">
					<label>From Bill Date : </label>
					<input type="text" class="filter form-control datepickerFilter" data-column-index="1" id="frombilldaterange" name="frombilldaterange" readonly>
				  </div>
				   <div class="col-md-3" id="ScheduletoBillDate" style="display:none">
					<label>To Bill Date : </label>
					<input type="text" class="filter form-control datepickerFilter" data-column-index="2" id="tobilldaterange" name="tobilldaterange" readonly>
				  </div>
				
				</div>
				    <div class="row" id="forschedule">
					<div class="col-md-3" id="fromCallDate" style="display:none">
					<label>From Call Date : </label>
					<input type="text" class="filter form-control datepickerFilter" data-column-index="1" id="fromCalldaterange22" name="frombilldaterange22" readonly>
				  </div>
				   <div class="col-md-3" id="toCallDate" style="display:none">
					<label>To Call Date : </label>
					<input type="text" class="filter form-control datepickerFilter" data-column-index="2" id="tobCalldaterange33" name="tobilldaterange33" readonly>
				  </div>
				</div>
                    <div class="tab-pane fade in active" id="home">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="assignedInteractionPSFData">
                                    <thead>
                                        <tr>                                    
                                            <th>Customer Name</th> 
                                            <th>Mobile Number</th>                                   
                                            <th>Vehicle RegNo.</th>
                                            <th>Model</th>
                                            <th>RO Number</th>
                                            <th>RO Date</th>
                                            <th>Bill Date</th>
                                            <th>PSF Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>



                    <div class="tab-pane fade" id="profile">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForFollowUpRequiredPSFData">
                                    <thead>
                                        <tr>                                    
											<th>FollowUp Date</th>
											<th>FollowUp Time</th>
											<th>call_date</th>
											<th>Customer Name</th>
											<th>Mobile Number</th>
											<th>Vehicle RegNo</th>
											<th>Model</th>
											<th>RO Date</th>
											<th>RO Number</th>
											<th>Bill Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>






                    <div class="tab-pane fade" id="incompleteSurvey">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForIncompletedSurveyPSFData">
                                    <thead>
                                         <tr>                                    
											<th>FollowUp Date</th>
											<th>FollowUp Time</th>
											<th>call_date</th>
											<th>Customer Name</th>
											<th>Mobile Number</th>
											<th>Vehicle RegNo</th>
											<th>Model</th>
											<th>RO Date</th>
											<th>RO Number</th>
											<th>Bill Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>



                    <div class="tab-pane fade" id="settings">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForCompletedSurveyPSFData">
                                    <thead>
                                        <tr>                                    
                                           	<th>Survey Date</th>																	
											<th>Customer Name</th>																	
											<th>Category</th>																	
											<th>vehicle RegNo</th>																	
											<th>Model</th>																	
											<th>RO Date</th>																	
											<th>RO Number</th>																	
											<th>Bill Date</th>
											<th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>

					 <div class="tab-pane fade" id="dissatisfied">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForDissatisfiedPSFData">
                                    <thead>
                                       <tr>                                    
                                           	<th>Survey Date</th>																	
											<th>Customer Name</th>																	
											<th>Category</th>																	
											<th>vehicle RegNo</th>																	
											<th>Model</th>																	
											<th>RO Date</th>																	
											<th>RO Number</th>																	
											<th>Bill Date</th>
											<th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>

                    <div class="tab-pane fade" id="nonContacts">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForNonContactsPSFDataCalls">
                                    <thead>
                                        <tr>                                   
											<th>Customer Name</th>
											<th>Category</th>
											<th>Mobile number</th>
											<th>Vehicle RegNo</th>
											<th>Model</th>
											<th>RO Date</th>
											<th>RO Number</th>
											<th>Bill Date</th>
											<th>Last Disposition</th>
											<th>Call Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>
                    <div class="tab-pane fade" id="droppedBuc">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForDroppedCallsPSFData">
                                    <thead>
                                        <tr>                                    
                                            <th>Customer Name</th>
											<th>Category</th>
											<th>Mobile number</th>
											<th>Vehicle RegNo</th>
											<th>Model</th>
											<th>RO Date</th>
											<th>RO Number</th>
											<th>Bill Date</th>
											<th>Last Disposition</th>
											<th>Call Date</th>
											
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>
                    <div class="tab-pane fade" id="appointments">
                        <div class="panel-body inf-content">  
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="ajaxCallForAppointmentPSFData">
                                    <thead>
                                        <tr>                                    
                                            <th>Customer Name</th>
											<th>Vehicle RegNo</th>
											<th>Appointment Date</th>
											<th>Mobile number</th>
											<th>Call Date</th>
											<th>Appointment Time</th>
											<th>RO Number</th>
											<th>RO Date</th>
											<th>Bill Date</th>
											<th>Survey date</th>
											<th>Model</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body --> 
                    </div>

                    <!-- /.panel --> 
                </div>
                <!-- /.col-lg-12 --> 
            </div>
        </div>
    </div>
</div>

}
<script type="text/javascript">
    window.onload = ajaxRequestPSFDataPageWithTabNextDay;
</script>
<script>

function FilterOptionData(table){
	var values = [];
	$('.filter').on('change', function() {
    	console.log("inside filteroptionsdata data");
	    var i= $(this).data('columnIndex');
	    var v = $(this).val();
		console.log(v);
		console.log(i);
	    
	    if(v.length>0){
		    	   
		   values[i] = v;
	    
	    }
	    
	    	console.log(JSON.stringify(values));	   	
	  	  //clear global search values
	 	  //table.api().search('');
	 	  $(this).data('columnIndex');

	 	 if(values.length>0) {
			 for(var i=0;i<values.length;i++){	
			    table.api().columns(i).search(values[i]);
			 }
			 table.api().draw();
			 } 
		 	  
	});
	
	
}
</script>
<script type="text/javascript">
var result = {name:'psf1stday'};

    function assignedInteractionPSFData(name) {
    	$("#fromCalldaterange22").val('');
    	$("#tobCalldaterange33").val('');
    	$("#frombilldaterange").val('');
    	$("#tobilldaterange").val('');
         	document.getElementById("SchedulefromBillDate").style.display = "block";
    	document.getElementById("ScheduletoBillDate").style.display = "block";
    	document.getElementById("fromCallDate").style.display = "none";
    	document.getElementById("toCallDate").style.display = "none";
        var table = $('#assignedInteractionPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax":"/assignedInteractionTablePSFData"+"/"+name+""
        });
        FilterOptionData(table);
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
            $($.fn.dataTable.tables(true)).DataTable()
               .columns.adjust();
         });
    }

   
    function ajaxCallForFollowUpRequiredPSFData(name) {
    	 var psfDay = 'psf1stday'; 
        //alert("follow up server side data");
        $("#fromCalldaterange22").val('');
    	$("#tobCalldaterange33").val('');
    	$("#frombilldaterange").val('');
    	$("#tobilldaterange").val('');
         	document.getElementById("SchedulefromBillDate").style.display = "none";
    	document.getElementById("ScheduletoBillDate").style.display = "none";
    	document.getElementById("fromCallDate").style.display = "block";
    	document.getElementById("toCallDate").style.display = "block";
        var table =$('#ajaxCallForFollowUpRequiredPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForFollowUpRequiredPSFData"+"/"+psfDay+""
        });
        FilterOptionData(table);
    }



    function ajaxCallForIncompletedSurveyPSFData(name) {
    	$("#fromCalldaterange22").val('');
    	$("#tobCalldaterange33").val('');
    	$("#frombilldaterange").val('');
    	$("#tobilldaterange").val('');
         	document.getElementById("SchedulefromBillDate").style.display = "none";
    	document.getElementById("ScheduletoBillDate").style.display = "none";
    	document.getElementById("fromCallDate").style.display = "block";
    	document.getElementById("toCallDate").style.display = "block";
       var psfDay = 'psf1stday';
       var table = $('#ajaxCallForIncompletedSurveyPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForIncompletedSurveyPSFData"+"/"+psfDay+""
        });
        FilterOptionData(table);
    }

    function ajaxCallForCompletedSurveyPSFData(name) {
      	 var psfDay = 'psf1stday'; 
         
      	$("#fromCalldaterange22").val('');
    	$("#tobCalldaterange33").val('');
    	$("#frombilldaterange").val('');
    	$("#tobilldaterange").val('');
         	document.getElementById("SchedulefromBillDate").style.display = "none";
    	document.getElementById("ScheduletoBillDate").style.display = "none";
    	document.getElementById("fromCallDate").style.display = "block";
    	document.getElementById("toCallDate").style.display = "block";
		var table = $('#ajaxCallForCompletedSurveyPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForCompletedSurveyPSFData"+"/"+psfDay+""
        });
        FilterOptionData(table);
    }

    
    function ajaxCallForAppointmentPSFData(name) {
    	$("#fromCalldaterange22").val('');
    	$("#tobCalldaterange33").val('');
    	$("#frombilldaterange").val('');
    	$("#tobilldaterange").val('');
         	document.getElementById("SchedulefromBillDate").style.display = "none";
    	document.getElementById("ScheduletoBillDate").style.display = "none";
    	document.getElementById("fromCallDate").style.display = "block";
    	document.getElementById("toCallDate").style.display = "block";
       var psfDay = 'psf1stday'; 
       var table = $('#ajaxCallForAppointmentPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForAppointmentPSFData"+"/"+psfDay+""
        });
        FilterOptionData(table);
    }

    
    function ajaxCallForNonContactsPSFData(name) {
    	$("#fromCalldaterange22").val('');
    	$("#tobCalldaterange33").val('');
    	$("#frombilldaterange").val('');
    	$("#tobilldaterange").val('');
         	document.getElementById("SchedulefromBillDate").style.display = "none";
    	document.getElementById("ScheduletoBillDate").style.display = "none";
    	document.getElementById("fromCallDate").style.display = "block";
    	document.getElementById("toCallDate").style.display = "block";
    	var psfDay = 'psf1stday'; 
        var table =$('#ajaxCallForNonContactsPSFDataCalls').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForNonContactsPSFData"+"/"+psfDay+""
        });
        FilterOptionData(table);
    }

    
    function ajaxCallForDroppedCallsPSFData(name) {
    	$("#fromCalldaterange22").val('');
    	$("#tobCalldaterange33").val('');
    	$("#frombilldaterange").val('');
    	$("#tobilldaterange").val('');
         	document.getElementById("SchedulefromBillDate").style.display = "none";
    	document.getElementById("ScheduletoBillDate").style.display = "none";
    	document.getElementById("fromCallDate").style.display = "block";
    	document.getElementById("toCallDate").style.display = "block";
    	var psfDay = 'psf1stday'; 
        var table = $('#ajaxCallForDroppedCallsPSFData').dataTable({
            "bDestroy": true,
            "processing": true,
            "serverSide": true,
            "scrollY": 300,
            "paging": true,
            "searching": true,
            "ordering": false,
            "ajax": "/ajaxCallForDroppedCallsPSFData"+"/"+psfDay+""
        });
        FilterOptionData(table);
    }
    function ajaxCallForDissatisfiedPSFData() {
        //alert("ajaxCallForDissatisfiedPSFData");
   	 var psfDay = 'psf1stday'; 
   	 $("#fromCalldaterange22").val('');
    	$("#tobCalldaterange33").val('');
    	$("#frombilldaterange").val('');
    	$("#tobilldaterange").val('');
    	var psfDay = 'psf1stday';
     	document.getElementById("SchedulefromBillDate").style.display = "none";
    	document.getElementById("ScheduletoBillDate").style.display = "none";
    	document.getElementById("fromCallDate").style.display = "block";
    	document.getElementById("toCallDate").style.display = "block";
      var table = $('#ajaxCallForDissatisfiedPSFData').dataTable({
           "bDestroy": true,
           "processing": true,
           "serverSide": true,
           "scrollY": 300,
           "paging": true,
           "searching": true,
           "ordering": false,
           "ajax": "/ajaxCallForDissatisfiedPSFData"+"/"+psfDay+""
       });
       FilterOptionData(table);
   }

</script>
