
@(workshopList:List[Workshop],servicetypeList:List[ServiceTypes],customerData:Customer,vehicleData:Vehicle,locationList:List[Location],interOfCall:CallInteraction,userData:WyzUser)
 <div class="col-md-12" id="InBoundDiv" style="display:none;">
			<div class="row animated  bounceInRight" id="LeadSourceHideIn">
			<div class="col-md-3">
			  <div class="form-group">
				<label for=""><b>Lead Source</b></label>
				<select class="form-control" name="inBoundLeadSource" id="inBoundLeadSourceSelectVal" >
					<option value=0>Select</option>
				  <option value="Phone">Phone</option>
				  <option value="Walk In">Walk In</option>
				  <option value="Website">Website</option>
				  <option value="E-mail">E-mail</option>
				  <option value="Reference">Reference</option>
				  <option value="Inbound Call">Inbound Call</option>
				  <option value="Body Shop">Body Shop</option>
				  <option value="Others">Others</option>
				</select>
			  </div>
			</div>
			
			<div class="col-md-3">
			  <div class="form-group">
				<label for=""><b>Service Required</b></label>
				<select class="form-control" name="serviceTypeAltId" id="serviceTypeAltIdDataVal" >
					<option value=0>Select</option>
						@for(serlist <- servicetypeList){
					
					@{if(serlist.serviceTypeName ==(if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getServiceBookedType()}))
					{
									
									<option value={serlist.id.toString()} selected="selected">{serlist.serviceTypeName}</option>
									}else {
										<option value={serlist.id.toString()} >{serlist.serviceTypeName}</option>
										}
									}
                              
									}
				</select>
			  </div>
			</div>
				
			
			
		</div>
		<div class="col-md-3 animated  bounceInRight BookMyServiceIn" id="BookMyServiceIn">
			  <div class="form-group">
				
			<div class="checkbox-inline" style="display:none" id="booksMyServiceDisplayBlock">
			<label>
			  <input type="checkbox" name="contactType" class="InCallServiceBook" value="Book My Service" id="InCallServiceBook">
			  Book My Service </label>
		  </div>
	
			  </div>
		</div>
	<div style="display:none;" class="animated  bounceInRight" id="InCallserviceBookDiv">
		  <div class="col-md-12">
			  <div class="row">
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Select Vehicle</label>
					<select class="form-control" id="vehicleIn" name="vehicleIn">
					  @for(post <- customerData.getVehicles()){
                              
                              <option value="@post.vehicle_id">@post.vehicleRegNo</option>
                              
					}
					  
							
						
					</select>
				  </div>
				  </div>
				  <div class="col-md-3">
				  <div class="form-group">
					<label for="">Select City</label>
					<select class="form-control" id="cityIn" name="cityIn" onchange="ajaxCallToLoadWorkShopByCityIn();">
					 @for(loc <- locationList){
					
					@{if(loc.getName() ==userData.getLocation().getName())
					{
									
									<option value={userData.getLocation().getName()} selected="selected">{userData.getLocation().getName()}</option>
									}else {
										<option value={loc.getName} >{loc.getName}</option>
										}
									}
                              
									} 
					</select>
				  </div>
				</div>
						
				<div class="col-md-3">
				  <label for="">Workshop</label>
				 <select class="form-control" id="workshopIn" name="workshopIn" onchange="ajaxAutoSASelectionList('workshopIn','date123456','serviceAdvisorIdIn');  advisorBasedOnWorkshopSelectionIn(); driverbasedOnWorkshopSelectionIn();">
						<option value=0>--Select--</option>
						@for(worklist <- workshopList){
					
					@{if(worklist.workshopName ==(if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getWorkshop().getWorkshopName()})){
									
									<option value={worklist.id.toString()} selected="selected">{worklist.workshopName}</option>
									}else {
										<option value={worklist.id.toString()} >{worklist.workshopName}</option>
										}
									}
                              
                             
                              
									}
				 </select>
				</div>
				 <div class="col-md-3">
				  <div class="form-group">
					<label class="control-label" for="inputGroup">Select Date</label>
					<div class="input-group">
					  <input type="text" name="serviceScheduledDateIn" class="form-control" id="date123456" onchange="ajaxAutoSASelectionList('workshopIn','date123456','serviceAdvisorIdIn');" value="@{if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getServiceScheduledDateStrSqlFor()}}"readonly/>
					  <span class="input-group-addon" data-toggle="modal" data-target="#sa_modal" onclick="ajaxCallToLoadWorkshopSummaryIn();"> <i style="font-size:19px; color:Red;" class="fa">&#xf274;</i> </span> </div>
				  </div>
				</div>
				</div>
			 </div>
				
		   <div class="col-md-12">
			  <div class="row">
			 
				<div class="col-md-3">
				<div class="form-group">
				  <label for="serviceScheduledTimeIn">Select Time:</label>
				  <input type="text" name="serviceScheduledTimeIn" class="form-control timePickRange7to19" id="CommittedTimesIn" value="@{if(interOfCall.getServiceBooked()!=null){interOfCall.getServiceBooked().getServiceScheduledTimeStrSqlFor()}}"  readonly>
				 
				</div>
		 </div>
		  <div class="col-md-3">
				  <div class="form-group">
				  <label>&nbsp;</label><br/>
					<button type="button" class="btn btn-primary btn-block" onClick="return ajaxAutoSASelection('workshopIn','date123456','serviceAdvisorIdIn')">Recommend SA</button>
					  
				  </div>
				</div>
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Assigned To(SA):</label>
					<select class="form-control" id="serviceAdvisorIdIn" name="serviceAdvisorIdIn" onChange="ajaxAutoSAManualchange('workshopIn','date123456','serviceAdvisorIdIn');">
					  @{if(interOfCall.getServiceBooked()!=null){
					
					<option value={interOfCall.getServiceBooked().getServiceAdvisor().getAdvisorId().toString()} selected="selected">{interOfCall.getServiceBooked().getServiceAdvisor().getAdvisorName()}</option>
					
					}}
					  </select>
				  </div>
				</div>
			  </div>
			
			
			<div class="pull-right">
				<button type="button" class="btn btn-primary" id="BackToCustomerMainInBound">Back</button>
				<button type="button" class="btn btn-primary" id="nextToCustomerDriveIn">Next</button>
				
			</div>
			</div>
			</div>
			<div style="display:none;" class="animated  bounceInRight" id="CustomerDriveInDivIn">
			<div class="col-md-12">
			<label>Choose one of the below option:</label>
		<div class="radio">
		  <label>
			<input type="radio" name="typeOfPickupIn" value="Customer Drive-In" id="CustomerDriveInIDIn" >
			Customer Drive-In </label>
		</div>		
		
		<div class="radio">
		  <label>
			<input type="radio" name="typeOfPickupIn" value="true" id="PickupDropRequiredIn" >
			Pickup Drop Required</label>
		</div>
		<div class="radio">
		  <label>
			<input type="radio" name="typeOfPickupIn" value="Road Side Assistance" id="RoadSideAssi" >
			Road Side Assistance</label>
		</div>
		<div class="animated  bounceInRight" id="MSSSelectDivIn" style="display:none;">
				
				<div class="col-md-3">
				  <div class="form-group">
					<label for="">Select Address</label>
					<select class="form-control" id="AddressMSS" name="pickUpAddressIn">
					 @for( addre_list <- customerData.getAddresses()){
											
									@{if(addre_list.getConcatenatedAdress() !=null)
									
									<option value={addre_list.getConcatenatedAdress()}>{addre_list.getConcatenatedAdress()}</option>
									else 
										<option value={addre_list.getConcatenatedAddressWith()}>{addre_list.getConcatenatedAddressWith()}</option>
										}
									}
					</select>
				  </div>
				  </div>
				   <div class="col-md-3 animated  bounceInRight">
				   <div class="form-group">
				   <br>
				   <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddNewAddressPopup">Add New Address</button>
              <button type="button" class="btn btn-success" style="display:none;" id="AssignBtnBkreviewIn" data-toggle="modal" data-target="#DriverAllcationPOPUp" onclick="ajaxAssignBtnBkreview('workshopIn','date123456');">Assign Driver</button>
					</div>				   
				  </div>
			  </div>
				<div class="row">
				<div class="col-md-3">
							  <div class="form-group">
								<label for="memarksPickUpADD">Remarks</label>
								<textarea type="text" name="remarksList[6]" class="form-control" id="memarksPickUpADD"></textarea>
							  </div>
							</div>
			  </div>
	  <div class="pull-right">
	  <button type="button" class="btn btn-primary" id="BackToCunstomerDriveIn">Back</button>
	   <button type="button" class="btn btn-primary" id="NextToLeadInbound">Next</button>
	  </div>
	</div>
		  </div>
		  <!--end-->
		
		 
		
	  </div>			   
<!------------inBound Upsel Opportunity------------------>
		 <div class="col-md-12 animated  bounceInRight" style="display:none;" id="finalDiv1Inbound">
			<label>Capture Lead : Is there an Upsell Opportunity.</label>
		   <br>
		   
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYesIn" onclick="loadLeadBasedOnLocation();" value="Capture Lead YesIn" id="LeadYesIDIn" >
				Yes</label>
			</div>
			<div class="radio-inline">
			  <label>
				<input type="radio" name="LeadYesIn" value="Capture Lead NoIn" id="LeadNoIDIn" >
				No</label>
			</div>
			<div class="row animated  bounceInRight" style="display:none;" id="LeadDivIn">
			  <div class="col-md-6">
			  
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClassIn myCheckbox" name="upsellLead[14].upsellId" value="1" name="LeadClassIn"  id="InsuranceIDCheckIn" onClick="loadLeadBasedOnUserLocation('InsuranceIDCheckIn','insuranceLead2')">
					Insurance</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="InsuranceSelectIn">
				  <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[14].taggedTo" id="insuranceLead2">
								<option >Select</option>
						</select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <input class="form-control" rows="1" id="comments8" name="upsellLead[14].upsellComments">
					</div>
				   </div>
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClassIn myCheckbox" name="upsellLead[14].upsellId" value="2" name="MaxicareIn"  id="MaxicareIDCheckIn" onClick="loadLeadBasedOnUserLocation('MaxicareIDCheckIn','MaxicareLead2')">
					Extended Warranty</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="MaxicareSelectIn">
				  <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[14].taggedTo" id="MaxicareLead2">
								<option >Select</option>
						</select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <input class="form-control" rows="1" id="comments8" name="upsellLead[14].upsellComments">
					</div>
				   </div>
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="LeadClassIn myCheckbox" name="upsellLead[15].upsellId" value="4" id="ShieldIn" onClick="loadLeadBasedOnUserLocation('ShieldIn','ShieldLead2')">
					New Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="ShieldSelectIn">
					<div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					 <select class="form-control" name="upsellLead[15].taggedTo" id="ShieldLead2">
								<option >Select</option>
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments9" name="upsellLead[15].upsellComments"></textarea>
					</div>
				   </div>
				 
				</div>
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="VASIn myCheckbox" name="upsellLead[16].upsellId" value="3" id="VASIDIn" onClick="loadLeadBasedOnUserLocation('VASIDIn','vASLead2')"/>
					Flexi Plan</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="VASTagToSelectIn">
				   <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					 <select class="form-control" name="upsellLead[16].taggedTo" id="vASLead2">
								<option >Select</option>
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments10" name="upsellLead[16].upsellComments"></textarea>
					</div>
				   </div>
				  
				</div>
				
				</div>
				 <div class="col-md-6">
				
				<div class="checkbox">
				  <label>
					<input type="checkbox" class="EXCHANGEIn myCheckbox" name="upsellLead[19].upsellId" value="6" id="EXCHANGEIDIn" onClick="loadLeadBasedOnUserLocation('EXCHANGEIDIn','buyNewCarLead2')"/>
					Exchange</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="EXCHANGEIDSelectIn">
				   <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					  <select class="form-control" name="upsellLead[19].taggedTo" id="buyNewCarLead2">
								<option >Select</option>
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments13" name="upsellLead[19].upsellComments"></textarea>
					</div>
				   </div>
				</div>
				  <div class="checkbox">
				  <label>
					<input type="checkbox" class="UsedCarIn myCheckbox" name="upsellLead[20].upsellId" value="9" id="UsedCarIDIn" onClick="loadLeadBasedOnUserLocation('UsedCarIDIn','usedCarLead2')"/>
					Used Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="UsedCarSelectIn">
				   <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					 <select class="form-control" name="upsellLead[20].taggedTo" id="usedCarLead2">
								<option >Select</option>
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments14" name="upsellLead[20].upsellComments"></textarea>
					</div>
				   </div>
			</div>
			<div class="checkbox">
				  <label>
					<input type="checkbox" class="UsedCarIn myCheckbox" name="upsellLead[20].upsellId" value="5" id="RoadSideAssiIDIn" onClick="loadLeadBasedOnUserLocation('RoadSideAssiIDIn','RoadSideAssiLead2')"/>
					Sell Old Car</label>
				</div>
				<div class="row animated  bounceInRight" style="display:none;" id="RoadSideAssiSelectIn">
				   <div class="col-md-12">
					<div class="col-md-6">
					  <label for="">Tag to</label>
					 <select class="form-control" name="upsellLead[20].taggedTo" id="RoadSideAssiLead2">
								<option >Select</option>
							  </select>
					   </div>
					   <div class="col-md-6">
					  <label for="comments">Remarks</label>
					  <textarea class="form-control" rows="1" id="comments14" name="upsellLead[20].upsellComments"></textarea>
					</div>
				   </div>
			</div>
		   
			  </div>
			</div>
			  <div class="pull-right" >
			<button type="button" class="btn btn-primary" id="BackToLeadIn">Back</button>
			  <button type="button" class="btn btn-primary" value="" id="NextToCustFeedBackIn"/>Next</button>
			</div>
			</div>
			
			
			<!--Complaints Inbound -->
			
			<div class="col-md-12 animated  bounceInRight" id="CustFeedBackIn" style="display:none;">
				 
				  <div class="col-md-12">
					<label>Does Customer has a feedback / compliant ?</label>
					<br>
					<div class="radio-inline">
					  <label for="feedbackYesIn">
						<input type="radio" name="userfeedbackIn" onclick="loadLeadBasedOnLocationDepartment();" value="feedback YesIn" id="feedbackYesIn" >
						Yes</label>
					</div>
					<div class="radio-inline">
					  <label for="feedbackNoIn">
						<input type="radio" name="userfeedbackIn" value="feedback NoIn" id="feedbackNoIn" >
						No</label> 
					</div>
				  </div>
			   
				<div class="row animated  bounceInRight" style="display:none;" id="feedbackDIVIn"><br>
				 <div class="col-md-12">
				  <div class="col-md-3">
					<label for="">Select Department<i class="lblStar">*</i></label>
					<select class="form-control selected_department" name="departmentForFB2" id="selected_department2" onchange="ajaxLeadTagByDepartmentInbound();">
						 <option value="0">select</option>
						 
							</select>
				  </div>
				  <div class="col-md-3">
					<label for="">Tag to</label>
					<select class="form-control" id="LeadTagsByLocation2" name="complaintOrFB_TagTo2">
					@{if(interOfCall.getSrdisposition()!=null){
					
					<option value={interOfCall.getSrdisposition().getComplaintOrFB_TagTo()} selected="selected">{interOfCall.getSrdisposition().getComplaintOrFB_TagTo()}</option>
					
					}}		  
					</select>
				  </div>
				
				  <div class="col-md-3">
					<label for="comments">Feedback/Comment</label>
					<textarea class="form-control" rows="1" id="commentsDSA" name="remarksOfFB2"></textarea>
				  </div>
				  <br>
				</div>
				  </div>
		<div class="pull-right" >
			<button type="button" class="btn btn-primary" id="BackToUpsellIn">Back</button>
			  <button type="button" class="btn btn-primary" value="" id="NextToInBoundLastQuest">Next</button>
			</div>
		 
		  </div>
		  <div class="row animated  bounceInRight" id="LastQuestionInbound" style="display:none;">
						  <div class="col-md-12">
						  <div class="col-md-12">
							<label>May I please take a moment to update your contact information? This will help us serve you better in future.</label>
							<br>
							<div class="radio-inline">
							  <label for="">
								<input type="radio" name="radio7" value="" id=""  data-toggle="modal" data-target="#addBtn" >
								Yes</label>
							</div>
							<div class="radio-inline">
							  <label for="">
								<input type="radio" name="radio7" value="" id="CustomerNo">
								No</label> 
							</div>
						  </div>
						
						  <div class="pull-right" >
					<button type="button" class="btn btn-primary " id="BackToToInboindComplaint">Back</button>
					<button type="submit" class="btn btn-primary" value="inBoundCallSubmit" id="ToInboindComplaintSubmit" name="typeOfsubmit"/>Submit</button>
					</div>
						  </div>
		    </div>
		  
				  
		  
		  
		 <!--EndLead-->
		 <!--EndLead-->